<!doctype html>
<html class="no-js">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="viewport"
		content="width=device-width, initial-scale=1">
		<block name="title"><title>标题</title></block>

		<!-- Set render engine for 360 browser -->
		<meta name="renderer" content="webkit">

		<!-- No Baidu Siteapp-->
		<meta http-equiv="Cache-Control" content="no-siteapp"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/base.css">
		<link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">

		<!-- Add to homescreen for Chrome on Android -->
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="icon" sizes="192x192" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">

		<!-- Add to homescreen for Safari on iOS -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
		<link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">

		<!-- Tile icon for Win8 (144x144 + tile color) -->
		<meta name="msapplication-TileImage" content="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
		<meta name="msapplication-TileColor" content="#0e90d2">

		<link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css">
		<link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/app.css">
		<link rel="stylesheet" href="__PUBLIC__/swipebox-master/src/css/swipebox.css">
		<block name="customizedCss">
			
		</block>
		<block name="customizedHeader">
			
		</block>
	</head>
	<body>
		
	<body>
		<block name="head"><include file="Public/header" /></block>
		<block name="main"></block>
		<include file="Public/footer" />
		<block name="customizedJavascript"></block>

	</body>		
