	<div class="yu-cart-header row am-show-md-up am-kai">
		<div class="cart-step1 am-u-md-3">
			<a class="a-cart-step1">
				<span class="step-basic step-num step-num-1">1</span>
				<span class="step-name step-name-1">{$Think.lang.myshoppinglist}</span>
			</a>
		</div>
		<div class="cart-step2 am-u-md-3">
			<a class="a-cart-step2">
				<span class="step-basic step-num step-num-2">2</span>
				<span class="step-name step-name-2">{$Think.lang.shipping}</span>
			</a>
		</div>
		<div class="cart-step3 am-u-md-3">
			<a class="a-cart-step3">
				<span class="step-basic step-num">3</span>
				<span class="step-name">{$Think.lang.pay}</span>
			</a>
		</div>
		<div class="cart-step4 am-u-md-3">
			<a class="a-cart-step4">
				<span class="step-basic step-num">4</span>
				<span class="step-name">{$Think.lang.confirm}</span>
			</a>
		</div>
	</div>
	<div class="yu-cart-header row am-show-sm-only am-kai">
		<div class="cart-step1 am-u-sm-3">
			<a class="a-cart-step1">
				<span class="step-basic-sm step-num step-num-sm-1">1</span>
				<span class="step-name step-name-1">{$Think.lang.pickitem}</span>
			</a>
		</div>
		<div class="cart-step2 am-u-sm-3">
			<a class="a-cart-step2">
				<span class="step-basic-sm step-num step-num-sm-2">2</span>
				<span class="step-name step-name-2">{$Think.lang.shipping}</span>
			</a>
		</div>
		<div class="cart-step3 am-u-sm-3">
			<a class="a-cart-step3">
				<span class="step-basic-sm step-num">3</span>
				<span class="step-name">{$Think.lang.pay}</span>
			</a>
		</div>
		<div class="cart-step4 am-u-sm-3">
			<a class="a-cart-step4">
				<span class="step-basic-sm step-num">4</span>
				<span class="step-name">{$Think.lang.confirm}</span>
			</a>
		</div>
	</div>