<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
		<div class="am-g am-show-md-up" style="font-size:12px">
			<div class="am-u-lg-3 am-u-md-3">
				<div class="am-g">
					<div class="am-u-lg-2 am-u-md-2">
						<a href="###" class="am-icon-btn am-icon-lock am-kai"></a>
					</div>
					<div class="am-u-lg-9 am-u-md-9" style="padding-top:2%">
						<span>品牌授权
							<br>
							100%正品保证</span>
					</div>
				</div>
			</div>
			<div class="am-u-lg-3 am-u-md-3">
				<div class="am-g">
					<div class="am-u-lg-2 am-u-md-2">
						<a href="###" class="am-icon-btn am-icon-wechat am-kai"></a>
					</div>
					<div class="am-u-lg-9 am-u-md-9" style="padding-top:2%">
						<span>顾客服务
							<br>
							可以致电或电邮联络</span>
					</div>
				</div>
			</div>
			<div class="am-u-lg-3 am-u-md-3">
				<div class="am-g">
					<div class="am-u-lg-2 am-u-md-2">
						<a href="###" class="am-icon-btn am-icon-map-marker am-kai"></a>
					</div>
					<div class="am-u-lg-9 am-u-md-9" style="padding-top:2%">
						<span>24小时内发货
							<br>
							顺丰/圆通</span>
					</div>
				</div>
			</div>
			<div class="am-u-lg-3 am-u-md-3">
				<div class="am-g">
					<div class="am-u-lg-2 am-u-md-2">
						<a href="###" class="am-icon-btn am-icon-clock-o am-kai"></a>
					</div>
					<div class="am-u-lg-9 am-u-md-9" style="padding-top:2%">
						<span>交易安全
							<br>
							支付全程保证</span>
					</div>
				</div>
			</div>
		</div>
		<hr data-am-widget="divider" class="am-divider am-divider-default" />
		<div class="am-g">
			<div class="am-u-lg-4 am-u-md-2 am-u-sm-1">
				&nbsp;
			</div>
			<div class="am-u-lg-4 am-u-md-8 am-u-sm-10">
				<div class="am-g">
					<div class="am-u-lg-3 am-u-md-3 am-u-sm-3" style="padding-top:2%">
						<span style="font-size:12px;">关注我们</span>
					</div>
					<div class="am-u-lg-9 am-u-md-9 am-u-sm-9">
						<a href="##" class="am-icon-btn am-icon-instagram"></a>
						<a href="##" class="am-icon-btn am-icon-facebook"></a>
						<a href="##" class="am-icon-btn am-icon-twitter"></a>
						<a href="##" class="am-icon-btn am-icon-weibo"></a>
					</div>
				</div>
			</div>
			<div class="am-u-lg-4 am-u-md-2 am-u-sm-1">
				&nbsp;
			</div>
		</div>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />

		<footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
			<div class="am-footer-miscs ">

				<p>
					由 <a href="http://www.yunshipei.com/" title="优创博悦" target="_blank" class="">优创博悦</a>
					提供技术支持
				</p>
				<p>
					CopyRight©2016  UltraBravo Inc.
				</p>
				<p>
					京ICP备XXXXXXX
				</p>
			</div>
		</footer>
		<!--[if (gte IE 9)|!(IE)]><!-->
		<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
		<!--<![endif]-->
		<!--[if lte IE 8 ]>
		<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
		<![endif]-->
		<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
		<script src="__PUBLIC__/starball/js/login.js"></script>
		<script src="__PUBLIC__/starball/js/home.js"></script>