<div class="yu-layout-footer am-kai">
    <footer data-am-widget="footer" class="am-footer am-footer-default" data-am-footer="{  }">
        <div class="am-footer-miscs">
            <div class="am-g am-show-md-up yu-footer-container">
                <div class="am-u-lg-3 am-u-md-3 am-padding-0 am-text-left">
                    <a href="#" class="am-icon-btn am-icon-lock am-kai yu-footer-block-icon"></a>
                    <div class="yu-footer-block-text">
                        <span>{$Think.lang.brandauth}
                            <br>
                            {$Think.lang.certify}</span>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-3 am-padding-0 am-text-left">
                    <a href="#" class="am-icon-btn am-icon-wechat am-kai yu-footer-block-icon"></a>
                    <div class="yu-footer-block-text">
                        <span>{$Think.lang.cusser}
                            <br>
                            {$Think.lang.callemail}</span>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-3 am-padding-0 am-text-left">
                    <a href="###" class="am-icon-btn am-icon-map-marker am-kai yu-footer-block-icon"></a>
                    <div class="yu-footer-block-text">
                        <span>{$Think.lang.dayship}
                            <br>
                            {$Think.lang.SFYT}</span>
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-md-3 am-padding-0 am-text-left">
                    <a href="###" class="am-icon-btn am-icon-clock-o am-kai yu-footer-block-icon"></a>
                    <div class="yu-footer-block-text">
                        <span>{$Think.lang.PaySec}
                            <br>
                            {$Think.lang.PayCer}</span>
                    </div>
                </div>
            </div>
            <hr data-am-widget="divider" class="am-divider am-divider-default" />
            <div class="am-g am-kai am-g-collapse am-show-md-up">
                <div class="am-u-lg-5 am-u-md-9 am-u-sm-12 am-u-sm-centered">
                    <span class="am-text-xs am-text-center yu-follow-us-title"> {$Think.lang.followus}</span>
                    <a href="https://www.instagram.com/starballkids/?hl=zh-cn" class="am-icon-md am-icon-instagram" style="margin-right: 5%;"></a>
                    <a href="https://www.facebook.com/starballkidshk/?ref=aymt_homepage_panel" class="am-icon-md am-icon-facebook" style="margin-right: 5%;"></a>
                    <a href="http://www.weibo.com/u/5756747171?refer_flag=1001030201_&is_all=1" class="am-icon-md am-icon-weibo" style="margin-right: 5%;"></a>
                    <a href="javascript:void(1)" class="am-icon-md am-icon-wechat" onclick="$('.wechat').show();" style="margin-right: 5%;"></a>
                </div>
            </div>
            
            <div class="am-g am-kai am-g-collapse am-show-sm-only">
                <div class="am-u-lg-5 am-u-md-9 am-u-sm-12 am-u-sm-centered">
                    <span class="am-text-xs am-text-center yu-follow-us-title"> {$Think.lang.followus}</span>
                    <a href="https://www.instagram.com/starballkids/?hl=zh-cn" class="am-icon-md am-icon-instagram" style="margin-right: 5%;"></a>
                    <a href="https://www.facebook.com/starballkidshk/?ref=aymt_homepage_panel" class="am-icon-md am-icon-facebook" style="margin-right: 5%;"></a>
                    <a href="http://www.weibo.com/u/5756747171?refer_flag=1001030201_&is_all=1" class="am-icon-md am-icon-weibo" style="margin-right: 5%;"></a>
                    <a href="javascript:void(0)" class="am-icon-md am-icon-wechat" 
                    onclick="window.location.href='http://mp.weixin.qq.com/s?__biz=MzI0ODI2NzA1Mw==&mid=2247483676&idx=1&sn=35fb4b2e498979d087b16ac68e3bff7d&scene=0#wechat_redirect'" style="margin-right: 5%;"></a>
                </div>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
        <div class="am-text-sm am-kai">
            <a href="{:U('Starball/Home/info#aboutus')}">{$Think.lang.AboutUs}&nbsp</a>|
            <a href="{:U('Starball/Home/info#contactus')}">&nbsp{$Think.lang.contactus}&nbsp</a>|
            <a href="{:U('Starball/Home/info#paymode')}">&nbsp{$Think.lang.paymode}&nbsp</a>|
            <a href="{:U('Starball/Home/info#shipinfo')}">&nbsp{$Think.lang.shipinfo}&nbsp</a>|
            <a href="{:U('Starball/Home/info#policy')}">&nbsp{$Think.lang.RtrnPolicy}&nbsp</a>|
            <a href="{:U('Starball/Home/info#sizeguide')}">&nbsp{$Think.lang.SizeGuide}&nbsp</a>|
            <a href="{:U('Starball/Home/info#faq')}">&nbsp{$Think.lang.FAQ}</a>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
        <div class="yu-footer-support">
            <p>
                由 <a href="javascript:void(0)" title="优创博悦" target="_blank" class="">Bravo Tech</a>
                提供技术支持
            </p>
            <p>
                CopyRight©2016  C&P Trading Company.
            </p>
            <p>
                粤ICP备16030292
            </p>
        </div>
        <div class="wechat" >
        	<img class="" src="http://7xr7p7.com1.z0.glb.clouddn.com/qrcode_for_gh_126b41f6a746_258.jpg" onclick="$(this).parent().hide()">
			<div style="position:absolute;top:0;right:0;">
				<a href="javascript:void(0)" style="color:black;" onclick="$(this).parent().parent().hide();" class="am-icon-sm am-icon-close"></a>
			</div>
        </div>
</div>
</footer>
</div>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/swipebox-master/src/js/jquery.swipebox.js"></script>
<script src="__PUBLIC__/starball/js/login.js"></script>
<script src="__PUBLIC__/starball/js/home.js"></script>
