	<div class="yu-header-container">
        <!-- small screen left button -->
        <button class="yu-offcanvas am-show-sm-only am-icon-bars am-btn am-btn-default" data-am-offcanvas="{target: '#left-offcanvas', effect: 'push'}"></button>
        <div id="left-offcanvas" class="am-offcanvas">
            <div class="am-offcanvas-bar yu-panier-visuel">
                <div class="am-offcanvas-content am-kai yu-offcanvas-content-adjustor">
                    <div >
                        <ul class="am-padding-0"  data-am-collapse="{target: '#collapse-my-acct'}">
                            <i class="am-icon-user am-icon-defeault am-text-xs"></i>&nbsp;&nbsp; 
                            	<span class="offcanvas-link-color">{$Think.lang.myaccount}</span> 
                            <i class="am-icon-angle-right" style="float:right"></i>
                         	<if condition="session('starballkids_userName') == ''">
                             <ul id="collapse-my-acct" class="am-collapse" style="padding-left:6px;padding-right:6px;">
	                            <form class="am-form am-form-horizontal" role="form" method="post">
	                                <input type="hidden" name="method" value="login">
	                                <div class="am-form-group yu-margin-0612">
	                                    <input name="userName" class="yu-font-12 am-form-field yu-input-sm" placeholder="用户名/电子邮件">
	                                </div>
	
	                                <div class="am-form-group yu-margin-0612">
	                                    <input type="password" name="password" class="yu-font-12 am-form-field yu-input-sm" placeholder="密码">
	                                </div>
	
	                                <a class="am-btn am-btn-link yu-forget-pwd">{$Think.lang.forgetpwd}？</a>
	                                <div class="am-checkbox yu-rm-me">
	                                    <label class="yu-font-12">
	                                        <input type="checkbox" style="margin-top:4.2px;">
	                                        {$Think.lang.rmbme} </label>
	                                </div>
	
	                                <button type="submit" class="am-btn am-btn-default yu-leftside-login">
	                                     {$Think.lang.login}                                </button>
	                                <div class="yu-26otherlogin yu-margin-126">
	                                    <span class="yu-seperate"></span>
	                                    <span class="yu-26text-or">{$Think.lang.or}</span>
	                                </div>
	                                <a href="{:U('loginFromSocialMedia', array('type'=>'facebook'))}" class="am-icon-sm am-icon-facebook" style="margin-left:3%;margin-right: 38%;color: #ececec;"></a>
	                                <a href="{:U('loginFromSocialMedia', array('type'=>'weixin'))}" class="am-icon-sm am-icon-wechat" style="margin-right: 32%;margin-bottom:3%;color: #ececec;"></a>
	                                <a href="{:U('loginFromSocialMedia', array('type'=>'sina'))}" class="am-icon-sm am-icon-weibo" style="color:#ececec;"></a>
	                                <a class="am-btn am-btn-link yu-newaccount-26" id="registerLnkFromLogin" href="{:U('Starball/Home/register#register')}">{$Think.lang.newcuscre}</a>
	                            </form>
	                            </ul>
                            <else/>
                            	<ul id="collapse-my-acct" class="am-collapse" style="padding-left:16px;padding-right:6px;">
                                    <li style="list-style-type: none;">
                                        <a href="{:U('Starball/User/index', array('tab'=>'account'))}">{$Think.lang.myaccount}</a>
                                    </li>
                                    <li style="list-style-type: none;">
                                        <a href="{:U('Starball/User/index', array('tab'=>'order'))}">{$Think.lang.myorder}</a>
                                    </li>
                                    <li style="list-style-type: none;">
                                        <a href="{:U('Starball/User/index', array('tab'=>'order'))}">{$Think.lang.return}</a>
                                    </li>
                                    <li style="list-style-type: none;">
                                        <a href="{:U('Starball/User/index', array('tab'=>'coupon'))}">{$Think.lang.mycoupon}</a>
                                    </li>
                                    <li style="list-style-type: none;">
                                        <a href="{:U('Starball/User/index', array('tab'=>'giftcard'))}">{$Think.lang.mygiftcard}</a>
                                    </li>
                                    <li style="list-style-type: none;">
                                        <a href="{:U('Starball/User/logout')}">{$Think.lang.signout}</a>
                                    </li>
	                             </ul>
                            </if>
                            
                        </ul>
                        <ul class="am-padding-0">
                            <i class="am-icon-heart am-icon-defeault am-text-xs"></i>&nbsp; <a href="javascript:void(0);"> {$Think.lang.myfavorite} </a>
                        </ul>
                    </div>
                    <hr data-am-widget="divider"  class="am-divider am-divider-default am-no-layout">
                    <div>
                        <ul class="am-padding-0 yu-top-margin-039">
                            &nbsp; <a href="{:U('Starball/Home/index')}"> {$Think.lang.home} </a>
                        </ul>
                        <ul class="am-padding-0" data-am-collapse="{target: '#collapse-list-new'}">
                            &nbsp;  <span class="offcanvas-link-color">{$Think.lang.newseries}</span> <i class="am-icon-angle-right" style="float:right"></i>
                            <ul id="collapse-list-new" class="am-collapse">
                                <li style="list-style-type:none;">
                                    <a href="{:U('Starball/List/showList','by=time&byValue=7')}">{$Think.lang.lastsevenday}</a>
                                </li>
                                <li style="list-style-type:none;">
                                    <a href="{:U('Starball/List/showList','by=time&byValue=28')}">{$Think.lang.lastfourweek}</a>
                                </li>
                                <li style="list-style-type:none;">
                                    <a href="{:U('Starball/List/showList','by=time&byValue=commingsoon')}">{$Think.lang.commingsoon}</a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="am-padding-0" data-am-collapse="{target: '#collapse-list-brand'}">
                            &nbsp; <span class="offcanvas-link-color">{$Think.lang.brand}</span> <i class="am-icon-angle-right" style="float:right"></i>
                            <ul id="collapse-list-brand" class="am-collapse">
                                <volist name="brandList" id="vo">
                                    <li style="list-style-type: none;">
                                        <a href="{:U('Starball/List/showList',array('by'=>'brand','byValue'=>$vo['brandId']))}" class="" >{$vo.brandName}</a>
                                    </li>
                                </volist>
                            </ul>
                        </ul>
                        <ul class="am-padding-0">
                            &nbsp; <a href="{:U('Starball/List/showList',array('by'=>'baby', 'byValue'=>'baby'))}"> {$Think.lang.baby} </a>
                        </ul>
                        <ul class="am-padding-0">
                            &nbsp; <a href="{:U('Starball/List/showList',array('by'=>'girl', 'byValue'=>'girl'))}"> {$Think.lang.girl} </a>
                        </ul>
                        <ul class="am-padding-0">
                            &nbsp; <a href="{:U('Starball/List/showList',array('by'=>'boy', 'byValue'=>'boy'))}"> {$Think.lang.boy} </a>
                        </ul>
                        <ul class="am-padding-0">
                            &nbsp; <a href="{:U('Starball/List/showList/by/discount/byValue/discount')}"> {$Think.lang.sales} </a>
                        </ul>
                        <ul class="am-padding-0">
                            &nbsp; <a href="{:U('Starball/List/hotItem')}"> {$Think.lang.featured} </a>
                        </ul>
                        <ul class="am-padding-0">
                            &nbsp; <a href="{:U('Starball/Babystyling/contentlist')}"> {$Think.lang.clothingmatch} </a>
                        </ul>
                        <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
                    </div>
                    <div>
                    <select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" onchange="window.location.href='?l='+$(this).val();">
                    	<option value="zh-cn" <if condition="strtolower(cookie('think_language')) == 'zh-cn'">selected</if>>{$Think.lang.simpleC}</option>
                    	<option value="zh-tw" <if condition="strtolower(cookie('think_language')) == 'zh-tw'">selected</if>>{$Think.lang.traditionalC}</option>	
                	</select>
                	</div>
                	<div style="margin-top: 20px">
                    <select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" onchange="window.location.href='?currency='+$(this).val();">
                    	<volist name="currencyArray" id="vo">
	                    	<option value="{$vo.currency}" <eq name="vo.currency" value="$preferred_currency">selected</eq>>{$vo.currency}</option>
                    	</volist>
                	</select>
                	</div>
                </div>
            </div>
        </div>
        <!--small screen logo -->
        <div class="am-show-sm-only">
            <div class="am-u-sm-8 am-u-sm-push-1">
                <img class="yu-img-responsive yu-margin-left38" src="http://7xr7p7.com2.z0.glb.qiniucdn.com/1660857294.jpg" onclick="window.location.href='{:U('Starball/Home/index')}'">
            </div>
        </div>
        <!--small screen right button -->
        <button class="yu-right-menubutton am-show-sm-only am-icon-shopping-bag am-btn am-btn-default am-margin-right-0" id="goToShoppingList"
        		data-am-offcanvas="{target: '#right-offcanvas', effect: 'pull'}"></button>
        <div id="right-offcanvas" class="am-offcanvas">
            <div class="yu-panier-visuel am-offcanvas-bar am-offcanvas-bar-flip am-kai">
                <p class="yusm-title">
                    {$Think.lang.myshoppinglist}
                </p>
                <eq name="shoppingListCount" value="0">
                    <div class="empty-list">
                        <div style="margin-top: 25px;color:white">
                            {$Think.lang.ubagempty}
                        </div>
                    </div>
            	<else/>
            	<volist name="shoppingListItems" id="vo">
            		<gt name="vo['quantity']" value="0">
	                	<a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}" class="yu-sideitem-panier"> 
	            			 <img alt="{$vo.itemName}" src="{$vo.itemImage}?imageView2/1/w/100/h/100/q/100" class="sideitem-photo-adjustor">
		                     <span class="yu-sideitem-visuel"> 
		                         <span class="yu-sideitem-title">{$vo.brandName}</span> 
		                         <span class="yu-sideitem-subtitle">{$vo.itemName}</span> 
		                         <span class="yu-sidesize-container"> 
		                             <span class="" style="text-transform: none;">{$Think.lang.size}：
		                                  <span class="am-sans-serif yu-sidesize-content">{$vo.sizeDescription}</span> 
		                             </span> 
		                             <span class="yu-side-size"> {$Think.lang.quantity}： <span class="yu-sidesize-content am-sans-serif">{$vo.quantity}</span> </span>
		                             <span class="am-sans-serif yu-sideitem-price"> <span class="yu-sidesize-content"> {$priceSymbol}&nbsp;{$vo.price} </span> </span>
		                         </span> 
		                      </span>
	                    </a>
                   </gt>
                   </volist>
                      <div class="yu-side-total-price">
                          <span class="title-total-price">{$Think.lang.totalamt}： </span>
                          <span class="value-total-price">{$priceSymbol}&nbsp; {$shoppingList.totalAmount}</span>
                      </div>
	                 <div class="sm-cart-btn">
	                     <button class="yu-white-button" onclick="window.location.href='{:U('Starball/Cart/index')}'">{$Think.lang.Cmybag}</button>
	                 </div>
            	</eq>
                 
                 <div class="yu-continue-shop sm-cart-btn">
                     <button class="yu-white-button" onclick="$('#right-offcanvas').click()">{$Think.lang.continueshopping}</button>
                 </div>
            </div>
        </div>
	</div>
