<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>添加代金券</title>
    <meta name="description" content="添加关键数据页面">
    <meta name="keywords" content="help">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<input type="text" id="qiniuToken" name="qiniuToken" value="{$qiniuToken}" style="display: none">
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>StarBall</strong> <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- side bar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <include file="Public/sideList" />
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-g">
            <form class="am-form" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>添加代金券</legend>
                    <div class="am-form-group">
                        <label for="coupon-code">代金券码</label>
                        <input type="text" class="" name="coupon-code" id="coupon-code" placeholder="输入代金券码">
                    </div>
                   </br>
                    <div class="am-form-group">
                        <label for="cny-benchmark">人民币最小购买金额</label>
                        <input type="text" class="" name="cny-benchmark" id="cny-benchmark" placeholder="设置人民币最小购买金额">
                    </div>
                    <div class="am-form-group">
                        <label for="cny-discount">人民币满减金额</label>
                        <input type="text" class="" name="cny-discount" id="cny-discount" placeholder="设置人民币满减金额">
                    </div>
                    </br>
                    <div class="am-form-group">
                        <label for="hkd-benchmark">港币最小购买金额</label>
                        <input type="text" class="" name="hkd-benchmark" id="hkd-benchmark" placeholder="设置港币最小购买金额">
                    </div>
                    <div class="am-form-group">
                        <label for="hkd-discount">港币满减金额</label>
                        <input type="text" class="" name="hkd-discount" id="hkd-discount" placeholder="设置港币满减金额">
                    </div>
                    </br>
                    <div class="am-form-group">
                        <label for="discount-startdate">代金券开始时间</label>
                        <input type="text" class="" name="discount-startdate" id="discount-startdate" placeholder="选择代金券开始时间" data-am-datepicker readonly>
                    </div>
                    <div class="am-form-group">
                        <label for="discount-enddate">代金券结束时间</label>
                        <input type="text" class="" name="discount-enddate" id="discount-enddate" placeholder="选择代金券结束时间" data-am-datepicker readonly>
                    </div>
                    <p><button type="button" id="upload" class="am-btn am-btn-default">提交</button></p>
                </fieldset>
            </form>
        </div>
        <!-- 内容报错框 -->
        <div class="am-modal am-modal-alert" tabindex="-1" id="fields-alert">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">请把内容填写完整</div>
                <div class="am-modal-bd">
                    请把内容填写完整
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn">确定</span>
                </div>
            </div>
        </div>
        <!-- 上传成功提醒框 -->
        <div class="am-modal am-modal-alert" tabindex="-1" id="create-success-alert">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">创建成功!</div>
                <div class="am-modal-bd">
                    创建成功!
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn">确定</span>
                </div>
            </div>
        </div>
        <!-- 上传错误提醒框 -->
        <div class="am-modal am-modal-alert" tabindex="-1" id="create-fail-alert">
            <div class="am-modal-dialog">
                <div class="am-modal-hd">创建失败!请重新创建</div>
                <div class="am-modal-bd">
                    创建失败!请重新创建
                </div>
                <div class="am-modal-footer">
                    <span class="am-modal-btn">确定</span>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 UltraBravo Inc.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/app.js"></script>
<script src="__PUBLIC__/starball/js/jquery.form.js"></script>
<!-- 自己的JS代码-->
<script>
    $("#upload").click(function() {
        var couponCode = $("#coupon-code").val().trim();
        var cnyBenchmark = $("#cny-benchmark").val().trim();
        var cnyDiscount = $("#cny-discount").val().trim();
        var hkdBenchmark = $("#hkd-benchmark").val().trim();
        var hkdDiscount = $("#hkd-discount").val().trim();
        var startDate = $("#discount-startdate").val().trim();
        var endDate = $("#discount-enddate").val();
        if (couponCode == "" || cnyBenchmark == "" || cnyDiscount == "" || hkdBenchmark == "" || hkdDiscount == "" || startDate == "" || endDate == ""){
            $('#fields-alert').modal('open');
        } else {
        	var postData = {};
        	postData['couponCode'] = couponCode;
        	postData['cnyBenchmark'] = cnyBenchmark;
        	postData['cnyDiscount'] = cnyDiscount;
        	postData['hkdBenchmark'] = hkdBenchmark;
        	postData['hkdDiscount'] = hkdDiscount;
        	postData['startDate'] = startDate;
        	postData['endDate'] = endDate;
            $.post("./insertCouponPair", postData, function(data) {
                if ($.parseJSON(data).status == "1") {
                    $("#create-success-alert").modal("open");
	                clearFields();
                } else {
                    $("#create-fail-alert").modal("open");
                }
            });
        }
    });

    function clearFields() {
        $("#coupon-code").val("");
        $("#cny-benchmark").val("");
        $("#hkd-benchmark").val("");
    };
</script>
</body>
</html>
