<extend name="Public/base" />
<block name="customizedCss">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/test1.css">
</block>
<block name="title">
    <title>{$Think.lang.home}</title>
</block>
<block name="main">
    <!-- slider in md-up screen -->
    <li class="am-show-md-up">
        <div class="am-g">
            <div data-am-widget="slider" class="am-slider am-slider-d2" data-am-slider='{"directionNav":false}' >
                <ul class="am-slides">
                    <volist name="headArea" id="vo">
                        <li>
                            <img src="{$vo.image}" >
                            <div class="yu-slider-desc">
                                <div class="yu-slider-content">
                                    <h2 class="am-slider-title yu-slider-title am-kai">{$vo.title}</h2>
                                    <p class="yu-slider-subtitle am-kai">
                                        {$vo.subtitle}
                                    </p>
                                </div><a class="yu-slider-more am-kai">〉立即购买</a>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </li>
    <!-- silder in sm screen -->
    <li class="am-show-sm-only">
        <div class="am-g">
            <div data-am-widget="slider" class="am-slider am-slider-d2" data-am-slider='{"directionNav":false}' >
                <ul class="am-slides">
                    <volist name="headArea" id="vo">
                        <li>
                            <img class="yu-slides-sm" src="{$vo.image}">
                            <div class="yu-slider-desc-sm">
                                <div class="yu-slider-content">
                                    <h2 class="am-slider-title yu-slider-title-sm am-kai">{$vo.title}</h2>
                                    <p class="yu-slider-subtitle-sm am-kai">
                                        {$vo.subtitle}
                                    </p>
                                </div><a class="yu-slider-more-sm am-kai">〉立即购买</a>
                            </div>
                        </li>
                    </volist>
                </ul>
            </div>
        </div>
    </li>
    <!-- the second division---layer after slider in large screen-->
    <div class="yu-layout-container">
        <li class="am-show-lg-only yu-margin-top am-kai yu-text-alicen">
            <div class="am-g">
                <!-- the left 2/3 -->
                <div class="am-u-lg-8 am-padding-left-0">
                    <div class="am-u-lg-6 yu-leftsection-adjustor">
                        <div class="am-thumbnail am-padding-0">
                            <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/bar-jeans-405-spring-summer-2016-2.jpg" alt="" class="yu-lgimg-fixer">
                            <div class="am-thumbnail-caption am-kai" >
                                <p class="yu-home-title">
                                    牛仔系列
                                </p>
                                <p class="yu-home-subtitle">
                                    单宁世界
                                </p>
                                <p class="am-margin-0">
                                    <a href="##" class="yu-home-button"> 〉立即购买 </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-lg-6 yu-mdsection-adjustor">
                        <div class="am-thumbnail am-padding-0">
                            <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/gucci-405-spring-summer-2016.jpg" alt="" class="yu-lgimg-fixer">
                            <div class="am-thumbnail-caption am-kai">
                                <p class="yu-home-title">
                                    GUCCI
                                </p>
                                <p class="yu-home-subtitle">
                                    单宁世界
                                </p>
                                <p class="am-margin-0">
                                    <a href="##" class="yu-home-button"> 〉立即购买 </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12 am-padding-0" style="margin-bottom: 18px;">
                        <div class="am-thumbnail am-padding-0">
                            <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/archimede-998-spring-summer-2016.jpg" alt="" class="yu-lgimg-fixer">
                            <div class="am-thumbnail-caption am-kai yu-text-alicen">
                                <p class="yu-home-title">
                                    ARCHIMEDE
                                </p>
                                <p class="yu-home-subtitle">
                                    单宁世界
                                </p>
                                <p class="am-margin-0">
                                    <a href="##" class="yu-home-button"> 〉立即购买 </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- the right 1/3 -->
                <div class="am-u-lg-4 yu-home-rightend">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-4 am-u-lg-12">
                            <div class="am-thumbnail yu-margin-right am-padding-0" style="margin-bottom:42px;">
                                <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/marguerite-style-spring-summer-2016.jpg" alt="" style="width: 100%;">
                                <div class="am-thumbnail-caption">
                                    <p class="yu-thumbnail-title">
                                        LE MEGAZINE
                                    </p>
                                    <p class="yu-thumbnail-subtitle">
                                        THE HISTORY OF DAISIES
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-4 am-u-lg-12">
                            <div class="am-thumbnail yu-margin-right am-padding-0" style="margin-bottom: 42px;">
                                <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/botanique-cabinet-curiosites-spring-summer-2016.jpg" alt="" style="width: 100%;">
                                <div class="am-thumbnail-caption">
                                    <p class="yu-thumbnail-title">
                                        LE MEGAZINE
                                    </p>
                                    <p class="yu-thumbnail-subtitle">
                                        THE CABINET OF CURIOSITIES
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-4 am-u-lg-12">
                            <div class="am-thumbnail yu-margin-right am-padding-0">
                                <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/barrio-latino-style-spring-summer-2016.jpg" alt="" style="width: 100%;">
                                <div class="am-thumbnail-caption">
                                    <p class="yu-thumbnail-title">
                                        LE MEGAZINE
                                    </p>
                                    <p class="yu-thumbnail-subtitle">
                                        BARRIO LATINO
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <!-- the layout in md&sm screen -->
    <div class="yu-mddn-container">
        <li class="am-show-md-down yu-margin-top am-kai yu-text-alicen">
            <div class="am-g">
                <!-- 2nd layer left when md & 2nd layer when sm-->
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                    <div class="am-thumbnail am-padding-0">
                        <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/bar-jeans-405-spring-summer-2016-2.jpg" style="width:100%" alt="">
                         <div class="am-thumbnail-caption am-kai" >
                                <p class="yu-home-title">
                                    牛仔系列
                                </p>
                                <p class="yu-home-subtitle">
                                    单宁世界
                                </p>
                                <p class="am-margin-0">
                                    <a href="##" class="yu-home-button"> 〉立即购买 </a>
                                </p>
                         </div>
                    </div>
                </div>
                <!-- 2nd layer right when md & 3rd layer in sm -->
                <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                    <div class="am-thumbnail am-padding-0">
                        <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/gucci-405-spring-summer-2016.jpg" style="width:100%" alt="">
                        <div class="am-thumbnail-caption am-kai">
                                <p class="yu-home-title">
                                    GUCCI
                                </p>
                                <p class="yu-home-subtitle">
                                    单宁世界
                                </p>
                                <p class="am-margin-0">
                                    <a href="##" class="yu-home-button"> 〉立即购买 </a>
                                </p>
                         </div>
                    </div>
                </div>
                <!-- 3rd layer in md screen & 4th layer in sm size -->
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12" style="margin-top:15px;">
                    <div class="am-thumbnail am-padding-0">
                        <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/archimede-998-spring-summer-2016.jpg" style="width:100%" alt="">
                        <div class="am-thumbnail-caption am-kai yu-text-alicen">
                                <p class="yu-home-title">
                                    ARCHIMEDE
                                </p>
                                <p class="yu-home-subtitle">
                                    单宁世界
                                </p>
                                <p class="am-margin-0">
                                    <a href="##" class="yu-home-button"> 〉立即购买 </a>
                                </p>
                         </div>
                    </div>
                 </div>
                <!-- 4th layer when md and 5,6,7th layer when sm -->
                <div class="am-u-sm-12 am-u-md-4 am-u-lg-12">
                    <div class="am-thumbnail am-padding-0 yu-margin-right">
                        <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/marguerite-style-spring-summer-2016.jpg" alt="" style="width:100%">
                        <div class="am-thumbnail-caption">
                            <p class="yu-thumbnail-title">
                                LE MEGAZINE
                            </p>
                            <p class="yu-thumbnail-subtitle">
                                THE HISTORY OF DAISIES
                            </p>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-4 am-u-lg-12">
                    <div class="am-thumbnail am-padding-0 yu-margin-right">
                        <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/botanique-cabinet-curiosites-spring-summer-2016.jpg" alt="" style="width:100%">
                        <div class="am-thumbnail-caption">
                            <p class="yu-thumbnail-title">
                                LE MEGAZINE
                            </p>
                            <p class="yu-thumbnail-subtitle">
                                THE CABINET OF CURIOSITIES
                            </p>
                        </div>
                    </div>
                </div>
                <div class="am-u-sm-12 am-u-md-4 am-u-lg-12">
                    <div class="am-thumbnail am-padding-0 yu-margin-right">
                        <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/barrio-latino-style-spring-summer-2016.jpg" alt="" style="width:100%">
                        <div class="am-thumbnail-caption">
                            <p class="yu-thumbnail-title">
                                LE MEGAZINE
                            </p>
                            <p class="yu-thumbnail-subtitle">
                                BARRIO LATINO
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <!-- the last layer in any size screen -->
    <div class="yu-layout-container">
        <ul data-am-widget="gallery" class="am-gallery am-avg-sm-1 am-avg-md-5 am-avg-lg-5 am-gallery-overlay am-no-layout yu-lastlayer-adjustor" data-am-gallery="{ pureview: true }">
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-1.jpg"> 
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/coup-de-coeur-botany1.jpg" alt="" data-am-pureviewed="1">
                    <div class="am-gallery-desc">
                    2375-09-26
                    </div> 
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-2.jpg"> 
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/coup-de-coeur-botany2.jpg" alt="" data-am-pureviewed="1">
                    <div class="am-gallery-desc">
                    2375-09-26
                    </div> 
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-3.jpg"> 
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/coup-de-coeur-botany3.jpg" alt="" data-am-pureviewed="1">
                    <div class="am-gallery-desc">
                    2375-09-26
                    </div> 
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg"> 
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/coup-de-coeur-botany4.jpg" alt="" data-am-pureviewed="1">
                    <div class="am-gallery-desc">
                    2375-09-26
                    </div> 
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="http://s.amazeui.org/media/i/demos/bing-4.jpg"> 
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/coup-de-coeur-botany5.jpg" alt="" data-am-pureviewed="1">
                    <div class="am-gallery-desc">
                    2375-09-26
                    </div> 
                </a>
            </div>
        </li>
        <div class="am-kai yu-bottomlayer-adjustor">
            <p class="yu-home-title">
                一见钟情
            </p>
            <p class="yu-home-subtitle">
                BOTANY
            </p>
            <p class="yu-home-button">
                <a href="##" class="yu-home-button"> 〉立即购买 </a>
            </p>
        </div>
    </ul>
</div>
</block>
<block name="customizedJavascript">
    <script type="text/javascript">
		$("#headerArea").removeClass('yu-no-border');
		$("#headerArea").addClass('yu-home-header');
		$("#subMenuListDiv").removeAttr("style");
    </script>
</block>
