<extend name="Public/base" />
<block name="title"><title>{$Think.lang.home}</title></block>
<block name="main">
		<li class="am-show-md-up">
			<div class="am-g">
				<div data-am-widget="slider" class="am-slider am-slider-d2" data-am-slider='{"directionNav":false}' >
					<div  class="yu-sub-menu am-u-md-12 new">
						<div class="am-u-md-4 yu-sub-menu-list">
							<div class="am-u-md-12 am-margin-0 am-padding-0">{$Think.lang.bytime}</div>
							<hr data-am-widget="divider" style="" class="am-divider am-divider-default"/>
							<div class="am-u-md-12 am-icon-angle-right am-margin-0 am-padding-0"><a href="{:U('Starball/List/showList','by=time&byValue=7')}">{$Think.lang.lastsevenday}</a></div>
							<div class="am-u-md-12 am-icon-angle-right am-margin-0 am-padding-0">{$Think.lang.lastfourweek}</div>
							<div class="am-u-md-12 am-icon-angle-right am-margin-0 am-padding-0">{$Think.lang.commingsoon}</div>
						</div>
						<div class="am-u-md-7">
							<img class="am-img-responsive" src="http://7xr7p7.com2.z0.glb.qiniucdn.com/sub-menu-img.jpg" />
							<div class="yu-sub-menu-img-title am-text-center">test</div>
						</div>
					</div>
					<div  class="yu-sub-menu am-u-md-12 brand">
						test2
					</div>
					<div  class="yu-sub-menu am-u-md-12 baby">
						test3
					</div>
					<div  class="yu-sub-menu am-u-md-12 girl">
						test4
					</div>
					<div  class="yu-sub-menu am-u-md-12 boy">
						test5
					</div>
					<div  class="yu-sub-menu am-u-md-12 selected">
						test6
					</div>
					<div  class="yu-sub-menu am-u-md-12 special">
						test7
					</div>
					<ul class="am-slides">
						<volist name="headArea" id="vo">
							<li>
								<img src="{$vo.image}" >
								<div class="yu-slider-desc">
									<div class="yu-slider-content">
										<h2 class="am-slider-title yu-slider-title am-kai">{$vo.title}</h2>
										<p class="yu-slider-subtitle am-kai">
											{$vo.subtitle}
										</p>
									</div><a class="yu-slider-more am-kai">〉立即购买</a>
								</div>

							</li>
						</volist>
					</ul>

				</div>
			</div>
		</li>

		<li class="am-show-sm-only">
			<div class="am-g">
				<div data-am-widget="slider" class="am-slider am-slider-d2" data-am-slider='{"directionNav":false}' >
					<ul class="am-slides">
						<volist name="headArea" id="vo">
							<li>
								<img class="yu-slides-sm" src="{$vo.image}">
								<div class="yu-slider-desc-sm">
									<div class="yu-slider-content">
										<h2 class="am-slider-title yu-slider-title-sm am-kai">{$vo.title}</h2>
										<p class="yu-slider-subtitle-sm am-kai">
											{$vo.subtitle}
										</p>
									</div><a class="yu-slider-more-sm am-kai">〉立即购买</a>
								</div>
							</li>
						</volist>
					</ul>

				</div>
			</div>
		</li>
		<li class="am-show-lg-only yu-margin-top am-kai yu-text-alicen">
			<div class="am-g">
				<div class="am-u-lg-8">
					<volist name="middleLeftHead" id="vo">
						<div class="am-u-lg-6">
							<div class="am-thumbnail">
								<img src="{$vo.image}" alt=""/>
								<div class="am-thumbnail-caption am-kai">
									<h3 >{$vo.title}</h3>
									<p>
										{$vo.subtitle}
									</p>
									<p>
										<button class="am-btn am-btn-default">
											〉立即购买
										</button>
									</p>
								</div>
							</div>
						</div>
					</volist>

					<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
						<div class="am-thumbnail">
							<img src="{$middleLeftFoot.image}" alt=""/>
							<div class="am-thumbnail-caption am-kai yu-text-alicen">
								<h3>{$middleLeftFoot.title}</h3>
								<p>
									{$middleLeftFoot.subtitle}
								</p>
								<p>
									<button class="am-btn am-btn-default">
										〉查看全部
									</button>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="am-u-lg-4">
					<div class="am-g">
						<volist name="middleRight" id="vo">
							<div class="am-u-sm-12 am-u-md-4 am-u-lg-12">
								<div class="am-thumbnail yu-margin-right">
									<img src="{$vo.image}" alt=""/>
									<div class="am-thumbnail-caption">
										<p class="yu-thumbnail-title">
											{$vo.title}
										</p>
										<p class="yu-thumbnail-subtitle">
											{$vo.subtitle}
										</p>

									</div>
								</div>
							</div>
						</volist>
					</div>
				</div>
			</div>
		</li>
		<li class="am-show-md-down yu-margin-top am-kai yu-text-alicen">
			<div class="am-g">

				<volist name="middleLeftHead" id="vo">
					<div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
						<div class="am-thumbnail">
							<img src="{$vo.image}" alt=""/>
							<div class="am-thumbnail-caption am-kai">
								<h3 >{$vo.title}</h3>
								<p>
									{$vo.subtitle}
								</p>
								<p>
									<button class="am-btn am-btn-default">
										〉立即购买
									</button>
								</p>
							</div>
						</div>
					</div>
				</volist>

				<div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
					<div class="am-thumbnail">
						<img src="{$middleLeftFoot.image}" alt=""/>
						<div class="am-thumbnail-caption">
							<h3>{$middleLeftFoot.title}</h3>
							<p>
								{$middleLeftFoot.subtitle}
							</p>
							<p>
								<button class="am-btn am-btn-default">
									〉查看全部
								</button>
							</p>
						</div>
					</div>
				</div>

				<volist name="middleRight" id="vo">
					<div class="am-u-sm-12 am-u-md-4 am-u-lg-12">
						<div class="am-thumbnail yu-margin-right">
							<img src="{$vo.image}" alt=""/>
							<div class="am-thumbnail-caption">
								<p class="yu-thumbnail-title">
									{$vo.title}
								</p>
								<p class="yu-thumbnail-subtitle">
									{$vo.subtitle}
								</p>

							</div>
						</div>
					</div>
				</volist>

			</div>
		</li>
		<ul data-am-widget="gallery" class="am-gallery am-avg-sm-1
		am-avg-md-5 am-avg-lg-5 am-gallery-overlay" data-am-gallery="{ pureview: true }" >
			<volist name="footArea" id="vo">
				<li>
					<div class="am-gallery-item">
						<a href="{$vo.targetItemLink}" class=""> <img src="{$vo.image}"  alt=""/>
						<div class="am-gallery-desc">
							2375-09-26
						</div> </a>
					</div>
				</li>
			</volist>
			<div class="am-kai" style="text-align:center">
				<h3>{$footArea[0].title}</h3>
				<p>
					{$footArea[0].subtitle}
				</p>
				<p>
					<button class="am-btn am-btn-default">
						〉立即购买
					</button>
				</p>
			</div>
		</ul>
</block>
<block name="customizedJavascript">
<script>
var timeOut;
$(function() {
$('.am-slider').flexslider({
// options
smoothHeight: false
});
});
$("a.yu-menu").mouseenter(function(){
$("div.yu-sub-menu").not("#"+$(this).attr("id")).fadeOut();
$(this).css("border-bottom", "4px solid black");
$("div.yu-sub-menu"+"."+$(this).attr("id")).fadeIn();
$("div.yu-sub-menu").css("height", $("div.am-viewport").css('height'));
});
$("a.yu-menu").mouseleave(function(){
var element = $(this).attr("id");
$(this).css("border-bottom", "");
timeOut = setTimeout(function(){
$("div.yu-sub-menu"+"."+element).fadeOut("");
}, 150);
});
$("div.yu-sub-menu.am-u-md-12").mouseenter(function(){
clearTimeout(timeOut);
});
$("div.yu-sub-menu.am-u-md-12").mouseleave(function(){
$(this).fadeOut();
});
$("#loginBtn").click(function(){
	$("#myAccountWindow").hide();
	$("#loginWindow").show();
	$('#loginWindow').removeAttr("style");
});

$("#registerLnkFromLogin").click(function(){
	$("#loginWindow").hide();
	$("#registerWindow").show();
	$('#registerWindow').removeAttr("style");
});
$("#registerLnk").click(function(){
	$("#myAccountWindow").hide();
	$("#registerWindow").show();
	$('#registerWindow').removeAttr("style");
});
$("#myAccountLnk").click(function(){
	restoreMyAccountEvents();
});

   $("body").click(function(e){
     if (e.target.nodeName == 'A' || e.target.nodeName == 'BUTTON' || e.target.offsetParent.id == 'loginWindow' || e.target.offsetParent.id == 'registerWindow')
             return;
         else{
             restoreMyAccountEvents();
         }
         
   });
/*$("body").click(function(e){
	alert(e.srcElement.tagName);
if(/a|div|span|input/i.test(e.srcElement.tagName)){
	alert("OK");
}
});*/

function restoreMyAccountEvents(){
	$("#myAccountWindow").show();
	$('#myAccountWindow').removeAttr("style");
	$("#loginWindow").hide();
	$("#registerWindow").hide();	
}
</script>
</block>
