<extend name="Public/base" />
<block name="customizedHeader">
    <meta property="wb:webmaster" content="5995b5fe4e0bbfac" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3323085710" type="text/javascript" charset="utf-8"></script>
</block>
<block name="customizedCss">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/home.css">
</block>
<block name="title">
    <title>{$Think.lang.AboutUs}</title>
</block>
<block name="main">
    <div class="yu-main-container am-g">
      <article data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default am-kai"
           data-am-paragraph="{ tableScrollable: true, pureview: true }"
           style="margin-top:3%;">
      <a href="#aboutus" name="aboutus"><h3 name="0">{$Think.lang.AboutUs}:</h3></a>
      <img src="http://7xr7p7.com1.z0.glb.clouddn.com/21806160.jpg">
     </br>
      <p class=paragraph-default-p>
          {$Think.lang.CaboutUs}
      </p>   
     	
     </br> 
      <a href="#contactus" name="contactus"><h3 name="1">{$Think.lang.contactus}:</h3></a>
      <p class=paragraph-default-p>
          {$Think.lang.CcontactUS}
      </p>
      
      </br>
      <a href="#paymode" name="paymode"><h3 name="2">{$Think.lang.paymode}:</h3></a>
      <p class=paragraph-default-p>
          
          {$Think.lang.Cpaymode}     
               
      </p>
      
      </br>
      <a href="#shipinfo" name="shipinfo"><h3 name="3">{$Think.lang.shipinfo}:</h3></a>
      <p class=paragraph-default-p>
          
         {$Think.lang.Cshipinfo}
          
      </p>
      
      </br>
      <a href="#paymode" name="paymode"><h3 name="4">{$Think.lang.RtrnPolicy}:</h3></a>
      <p class=paragraph-default-p>
          
          若商品有质量(比如破洞，开线，污渍等)问题,请在签售商品后7日之内联系微信客服（starballkidshk)或发送邮件(info@starballkids.com)沟通相关退货事宜。<br>
            退货的具体条件如下：<br>
            1.商品的外包装完整无损，吊牌及相关配件（若有）齐全。<br>
            2.除了商品本身的质量问题，商品本身无明显穿着痕迹，无洗涤，划痕或破损等痕迹。<br>
            3.退款金额为客户实际支付的货款。<br>
            4.内衣，内裤以及袜裤等商品不支持退货服务。<br>
            5.退货商品往返运费均由卖家承担。<br>
            若商品有质量问题，除了选择退货以外，客户还可选择一定的金额赔偿，具体额度要看商品本身的质量问题程度，详情请与客服沟通。<br><br>
            
            换货的具体条件如下：<br>
            1.商品的外包装完整无损，吊牌及相关配件（若有）齐全。<br>
            2.商品本身无明显穿着痕迹，无洗涤，划痕或破损等痕迹。<br>
            3.若是尺码不合适的问题，可以进行同款尺码调换。需买家承担往返运费，恕不接受运费到付。若无可调换的尺码，只可接受等价换货，不接受退货，买家需承担往返运费。<br>
            4. 若商品无质量问题，因个人喜好（款式，颜色，外观等）要求退换货恕不能够接受，尽请谅解，谢谢配合。
                      
      </p>
      
      </br>
      <a href="#sizeguide" name="sizeguide"><h3 name="5">{$Think.lang.SizeGuide}:</h3></a>
      <p class=paragraph-default-p>
          {$Think.lang.CSizeGuide}
      </p>
      
      </br>
      <a href="#faq" name="faq"><h3 name="6">{$Think.lang.FAQ}:</h3></a>
      <p class=paragraph-default-p>
          {$Think.lang.CFAQ}
      </p>

  </div>
</block>
<block name="customizedJavascript">
    <script type="text/javascript">
        $("#headerArea").removeClass('yu-no-border');
        $("#headerArea").addClass('yu-home-header');
        $("#subMenuListDiv").removeAttr("style");
        $("#searchButton").click(function(){
        var searchValue = $("#searchValue")[0].value;
        if(searchValue != ""){
                var url = "{:U('Starball/List/showList/by/$by/byValue/$byValue')}";
                url = url.replace("$by", "search");
                url = url.replace("$byValue", $("#searchValue")[0].value);
                window.location.href=url;
            }else{
                $("#searchValue").attr("placeholder", "请填写搜索条件");
            }
            
        });
        WB2.anyWhere(function (W) {
            W.widget.connectButton({
                id: "wb_connect_btn",
                type: '3,2',
                callback: {
                    login: function (o) { //登录后的回调函数
                    },
                    logout: function () { //退出后的回调函数
                    }
                }
            });
        });
    </script>
</block>
