<extend name="Public/base" />
<block name="customizedHeader">
    <meta property="wb:webmaster" content="5995b5fe4e0bbfac" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3323085710" type="text/javascript" charset="utf-8"></script>
</block>
<block name="customizedCss">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/home.css">
</block>
<block name="title">
    <title>{$Think.lang.AboutUs}</title>
</block>
<block name="main">
    <div class="yu-main-container am-g">
      <article data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default am-kai"
           data-am-paragraph="{ tableScrollable: true, pureview: true }"
           style="margin-top:3%;">
           
      <a href="#aboutus" name="aboutus"><h3 name="0">{$Think.lang.AboutUs}:</h3></a>
      <img src="http://7xr7p7.com1.z0.glb.clouddn.com/21806160.jpg">
     </br>
      <p class=paragraph-default-p>
          {$Think.lang.CaboutUs}
      </p>   
     	
     </br> 
      <a href="#contactus" name="contactus"><h3 name="1">{$Think.lang.contactus}:</h3></a>
      <p class=paragraph-default-p>
          {$Think.lang.CcontactUS}
      </p>
      
      </br>
      <a href="#paymode" name="paymode"><h3 name="2">{$Think.lang.paymode}:</h3></a>
      <p class=paragraph-default-p>
          
          {$Think.lang.Cpaymode}     
               
      </p>
      
      </br>
      <a href="#shipinfo" name="shipinfo"><h3 name="3">{$Think.lang.shipinfo}:</h3></a>
      <p class=paragraph-default-p>
          
         {$Think.lang.Cshipinfo}
          
      </p>
      
      </br>
      <a href="#paymode" name="paymode"><h3 name="4">{$Think.lang.RtrnPolicy}:</h3></a>
      <p class=paragraph-default-p>
          {$Think.lang.CRtrnPolicy}
      </p>
      
      </br>
      <a href="#sizeguide" name="sizeguide"><h3 name="5">{$Think.lang.SizeGuide}:</h3></a>
      <p class=paragraph-default-p>
          {$Think.lang.CSizeGuide}
      </p>
      
      </br>
      <a href="#faq" name="faq"><h3 name="6">{$Think.lang.FAQ}:</h3></a>
      <p class=paragraph-default-p>
          {$Think.lang.CFAQ}
      </p>

  </div>
</block>
<block name="customizedJavascript">
    <script type="text/javascript">
        $("#headerArea").removeClass('yu-no-border');
        $("#headerArea").addClass('yu-home-header');
        $("#subMenuListDiv").removeAttr("style");
        $("#searchButton").click(function(){
        var searchValue = $("#searchValue")[0].value;
        if(searchValue != ""){
                var url = "{:U('Starball/List/showList/by/$by/byValue/$byValue')}";
                url = url.replace("$by", "search");
                url = url.replace("$byValue", $("#searchValue")[0].value);
                window.location.href=url;
            }else{
                $("#searchValue").attr("placeholder", "请填写搜索条件");
            }
            
        });
        WB2.anyWhere(function (W) {
            W.widget.connectButton({
                id: "wb_connect_btn",
                type: '3,2',
                callback: {
                    login: function (o) { //登录后的回调函数
                    },
                    logout: function () { //退出后的回调函数
                    }
                }
            });
        });
    </script>
</block>
