<extend name="Public/base" />
<block name="customizedHeader">
    <meta property="wb:webmaster" content="5995b5fe4e0bbfac" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3323085710" type="text/javascript" charset="utf-8"></script>
</block>
<block name="customizedCss">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/home.css">
</block>
<block name="title">
    <title>{$Think.lang.AboutUs}</title>
</block>
<block name="main">
    <div class="yu-main-container am-g">
      <article data-am-widget="paragraph"
           class="am-paragraph am-paragraph-default am-kai"
           data-am-paragraph="{ tableScrollable: true, pureview: true }"
           style="margin-top:3%;">
      <h3 name="1">{$Think.lang.contactus}:</h3>
      <p class=paragraph-default-p>
          StarBall.Kids非常欢来自迎顾客朋友的反馈以及合作伙伴的咨询,请发送邮件给我们,我们会在第一时间内和您联系。<br><br>

            有关于品牌合作的事宜：
            请发送邮件至  zhaominqiu@gmail.com<br><br>
            
            有关于商品信息查询或反馈：
            请联系微信客服：starballkidshk
            或发送邮件至 info@starballkids.com
      </p>
      
      <h3 name="2">{$Think.lang.paymode}:</h3>
      <p class=paragraph-default-p>
          
          目前StarBall Kids官方网站仅支持 支付宝 和 微信支付 两种支付方式.
          
      </p>
      <h3 name="3">{$Think.lang.shipinfo}:</h3>
      <p class=paragraph-default-p>
          
          我们商品均属于知名进口潮奢品牌,产品有较高的价值:<br><br>

            大陆地区：默认顺丰快递公司
            购买 人民币1300以下的商品邮费按照顺丰公司收费标准收取；购买人民币990以上的商品,包邮.<br><br>
            
            香港地区：支持两种交收货方式
            选择地铁站面交,不收运费(注:面交仅限于地铁站)
            选择送货上门, 购买港币1500元以下的商品,邮费35港币；<br>购买港币1190以上的商品,包邮.
          
      </p>
      <h3 name="4">{$Think.lang.RtrnPolicy}:</h3>
      <p class=paragraph-default-p>
          
          若商品有质量(比如破洞，开线，污渍等)问题,请在签售商品后7日之内联系微信客服（starballkidshk)或发送邮件(info@starballkids.com)沟通相关退货事宜。<br>
            退货的具体条件如下：<br>
            1.商品的外包装完整无损，吊牌及相关配件（若有）齐全。<br>
            2.除了商品本身的质量问题，商品本身无明显穿着痕迹，无洗涤，划痕或破损等痕迹。<br>
            3.退款金额为客户实际支付的货款。<br>
            4.内衣，内裤以及袜裤等商品不支持退货服务。<br>
            5.退货商品往返运费均由卖家承担。<br>
            若商品有质量问题，除了选择退货以外，客户还可选择一定的金额赔偿，具体额度要看商品本身的质量问题程度，详情请与客服沟通。<br><br>
            
            换货的具体条件如下：<br>
            1.商品的外包装完整无损，吊牌及相关配件（若有）齐全。<br>
            2.商品本身无明显穿着痕迹，无洗涤，划痕或破损等痕迹。<br>
            3.若是尺码不合适的问题，可以进行同款尺码调换。需买家承担往返运费，恕不接受运费到付。若无可调换的尺码，只可接受等价换货，不接受退货，买家需承担往返运费。<br>
            4. 若商品无质量问题，因个人喜好（款式，颜色，外观等）要求退换货恕不能够接受，尽请谅解，谢谢配合。
                      
      </p>
      <h3 name="5">{$Think.lang.SizeGuide}:</h3>
      <p class=paragraph-default-p>
          
          请注意官网列出的商品尺码及厘米数均为通用的尺码，但是每个品牌也有自己的详细尺码信息。<br>
            建议在选购商品时，请结合通用尺码和品牌自己的尺码信息来选购。<br>
            有关于品牌自己的尺码信息，请点击每个商品图片右边的尺码二字。
          
      </p>
      <h3 name="6">{$Think.lang.FAQ}:</h3>
      <p class=paragraph-default-p>
          
          怎样在StarBall.Kids官网购买商品？<br>
            在下单购买之前，首先您要在官网注册一个个人账户，点击官网右上角 我的账户－新客户创建一个账户 即可。注册完账户，就可以下单购买了。<br><br>
            
            忘记用户名或密码登不进去个人账户了怎么办？<br>
            找回密码或用户名请联系客服微信starballkidshk.<br><br>
            
            收到商品时候需要支付关税么？<br>
            目前在官网购买的商品不需要支付任何关税。<br><br>
            
            怎样知道商品有无货或何时补货？<br>
            只要商品可以加入到购物车就表明该商品有库存。关于商品补货事宜，因品牌而异。<br><br>
            
            怎样了解关于StarBall.Kids的商品推广和更新以及一些客户福利和抽奖？<br>
            请关注我们的社交媒体账号，所有账号同步更新：<br>
            微博weibo: StarBallKids<br>
            facebook:   StarBall.Kids<br>
            instagram:  starballkids <br>
            微信公众号：starballkids<br>
                      
      </p>

  </div>
</block>
<block name="customizedJavascript">
    <script type="text/javascript">
        $("#headerArea").removeClass('yu-no-border');
        $("#headerArea").addClass('yu-home-header');
        $("#subMenuListDiv").removeAttr("style");
        $("#searchButton").click(function(){
        var searchValue = $("#searchValue")[0].value;
        if(searchValue != ""){
                var url = "{:U('Starball/List/showList/by/$by/byValue/$byValue')}";
                url = url.replace("$by", "search");
                url = url.replace("$byValue", $("#searchValue")[0].value);
                window.location.href=url;
            }else{
                $("#searchValue").attr("placeholder", "请填写搜索条件");
            }
            
        });
        WB2.anyWhere(function (W) {
            W.widget.connectButton({
                id: "wb_connect_btn",
                type: '3,2',
                callback: {
                    login: function (o) { //登录后的回调函数
                    },
                    logout: function () { //退出后的回调函数
                    }
                }
            });
        });
    </script>
</block>
