<extend name="Public/base" />
<block name="title">
    <title>{$Think.lang.signupnow}</title>
</block>
<block name="main">
    <!-- mdup screen -->
    <div class="am-g yu-main-container">
        <div class="am-u-lg-6 am-u-md-6 am-show-md-up yu-signin-container am-kai">
            <p class="yu-signin-title">
                <span>{$Think.lang.loginAccount}</span>
            </p>
            <form class="am-form am-form-horizontal yu-signin-form" role="form" method="post">
                <input type="hidden" name="method" value="login">
                <div class="am-form-group yu-margin-0012">
                    <input name="userName" class="am-form-field yu-input-sm" placeholder="{$Think.lang.useremail}">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="password" name="password" class="am-form-field yu-input-sm" placeholder="{$Think.lang.pwd}">
                </div>
                <a class="am-btn am-btn-link yu-forget-pwd am-padding-left-0" style="text-decoration: underline;">{$Think.lang.forgetpwd}？</a>
                <div class="am-checkbox yu-rm-me am-margin-right-0">
                    <label class="yu-font-12">
                        <input type="checkbox"   style="margin-top:5.1px;">
                        {$Think.lang.rmbme} </label>
                </div>
                <button type="submit" class="am-btn am-btn-default yu-signin-button">
                    {$Think.lang.login}
                </button>
                <div class="yu-otherlogin">
                    <span class="yu-seperate"></span>
                    <span class="yu-text-or">{$Think.lang.or}</span>
                </div>
                <a href="#" class="am-icon-sm am-icon-facebook" style="margin-right: 39%;color:#666"></a>
                <a href="{:U('loginFromSocialMedia', array('type'=>'weixin'))}" class="am-icon-sm am-icon-wechat" style="margin-right: 36%;color:#666"></a>
                <a href="{:U('loginFromSocialMedia', array('type'=>'sina'))}" class="am-icon-sm am-icon-weibo" style="color:#666;"></a>
            </form>
        </div>
        <div class="am-u-lg-6 am-u-md-6 am-show-md-up yu-signup-container">
            <p class="yu-signin-title am-kai">
                <span>{$Think.lang.createaccount}</span>
            </p>
            <form class="am-form am-form-horizontal yu-signin-form am-kai" role="form" method="post" >
                <input type="hidden" name="method" value="register">
                <div class="am-form-group yu-margin-0012">
                    <input type="email" name="email" class="am-form-field yu-input-sm" placeholder="{$Think.lang.email}*">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="password" name="password" class="am-form-field yu-input-sm" placeholder="{$Think.lang.pwd}*">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="password" class="am-form-field yu-input-sm" placeholder="{$Think.lang.confirmpwd}*">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="text" name="userName" class="am-form-field yu-input-sm" placeholder="{$Think.lang.nickname}">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="text" name="mobile" class="am-form-field yu-input-sm" placeholder="{$Think.lang.contactnumber}">
                </div>
                <div class="am-checkbox yu-checkbox-adjustor">
                    <label style="font-size:12px;">
                        <input type="checkbox" style="margin-top:4.2px;">
                        {$Think.lang.subscribe} </label>
                </div>
                <button type="submit" class="am-btn am-btn-default yu-signin-button">
                    {$Think.lang.signupnow}
                </button>
                <div class="yu-otherlogin">
                    <span class="yu-seperate"></span>
                    <span class="yu-text-or">{$Think.lang.or}</span>
                </div>
                <a href="#" class="am-icon-sm am-icon-facebook" style="margin-right: 39%;color: #666;"></a>
                <a href="{:U('loginFromSocialMedia', array('type'=>'weixin'))}" class="am-icon-sm am-icon-wechat" style="margin-right: 36%;color: #666;"></a>
                <a href="{:U('loginFromSocialMedia', array('type'=>'sina'))}" class="am-icon-sm am-icon-weibo" style="color:#666;"></a>
            </form>
        </div>
    </div>
    <!-- small screen -->
    <div class="am-g yu-main-container">
        <div class="am-show-sm-only am-u-sm-12 yu-smsign-contianer am-kai">
            <p class="yu-signin-title">
                <span>{$Think.lang.loginAccount}</span>
            </p>
            <form class="am-form am-form-horizontal yu-signin-form" role="form" method="post">
                <input type="hidden" name="method" value="login">
                <div class="am-form-group yu-margin-0012">
                    <input type="email" name="email" class="am-form-field yu-input-sm" placeholder="{$Think.lang.useremail}">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="password" name="password" class="am-form-field yu-input-sm" placeholder="{$Think.lang.pwd}">
                </div>
                <a class="am-btn am-btn-link yu-forget-pwd am-padding-left-0" style="text-decoration: underline;">{$Think.lang.forgetpwd}？</a>
                <div class="am-checkbox yu-rm-me am-margin-right-0">
                    <label class="yu-font-12">
                        <input type="checkbox"   style="margin-top:5.1px;">
                        {$Think.lang.rmbme} </label>
                </div>
                <button type="submit" class="am-btn am-btn-default yu-signin-button">
                    {$Think.lang.login}
                </button>
                <div class="yu-otherlogin">
                    <span class="yu-seperate"></span>
                    <span class="yu-text-or">{$Think.lang.or}</span>
                </div>
                <a href="#" class="am-icon-sm am-icon-facebook" style="margin-right: 39%;color: #666;"></a>
                <a href="{:U('loginFromSocialMedia', array('type'=>'weixin'))}" class="am-icon-sm am-icon-wechat" style="margin-right: 36%;margin-bottom:3%;color: #666;"></a>
                <a href="{:U('loginFromSocialMedia', array('type'=>'sina'))}" class="am-icon-sm am-icon-weibo" style="color:#666;"></a>
            </form>
        </div>
        <div class="am-show-sm-only yu-smsign-contianer am-u-sm-12">
            <p class="yu-signin-title am-kai">
                <span>{$Think.lang.createaccount}</span>
            </p>
            <form class="am-form am-form-horizontal yu-signin-form am-kai" role="form" method="post" >
                <input type="hidden" name="method" value="register">
                <div class="am-form-group yu-margin-0012">
                    <input type="email" name="email" class="am-form-field yu-input-sm" placeholder="{$Think.lang.email}*">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="password" name="password" class="am-form-field yu-input-sm" placeholder="{$Think.lang.pwd}*">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="password" class="am-form-field yu-input-sm" placeholder="{$Think.lang.confirmpwd}*">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="text" name="client_name" class="am-form-field yu-input-sm" placeholder="{$Think.lang.nickname}">
                </div>
                <div class="am-form-group yu-margin-0012">
                    <input type="text" name="mobile" class="am-form-field yu-input-sm" placeholder="{$Think.lang.contactnumber}">
                </div>
                <div class="am-checkbox yu-checkbox-adjustor">
                    <label style="font-size:12px;">
                        <input type="checkbox" style="margin-top:4.2px;">
                        {$Think.lang.subscribe} </label>
                </div>
                <button type="submit" class="am-btn am-btn-default yu-signin-button">
                    {$Think.lang.signupnow}
                </button>
                <div class="yu-otherlogin">
                    <span class="yu-seperate"></span>
                    <span class="yu-text-or">{$Think.lang.or}</span>
                </div>
                <a href="#" class="am-icon-sm am-icon-facebook" style="margin-right: 39%;color: #666;"></a>
                <a href="{:U('loginFromSocialMedia', array('type'=>'weixin'))}" class="am-icon-sm am-icon-wechat" style="margin-right: 36%;margin-bottom:3%;color: #666;"></a>
                <a href="{:U('loginFromSocialMedia', array('type'=>'sina'))}" class="am-icon-sm am-icon-weibo" style="color:#666;"></a>
            </form>
        </div>
    </div>
</block>