<extend name="Public/base" />
<block name="title"><title>注册</title></block>
<block name="main">
<div class="am-g yu-main-container">
<div class="am-u-lg-6 am-u-md-6 am-u-sm-12 yu-signin-container">
	<p class="yu-signin-title am-kai">
	<span>登录我的账户</span>
	</p>
	<form class="am-form am-form-horizontal yu-signin-form" role="form" method="post">
				<input type="hidden" name="method" value="login">
				<div class="am-form-group am-input-group-sm" >
					<input name="userName" class="am-form-field am-kai yu-input-sm" placeholder="用户名/电子邮件">
				</div>

				<div class="am-form-group am-input-group-sm">
					<input type="password" name="password" class="am-form-field am-kai yu-input-sm" placeholder="密码">
				</div>

				<a class="am-btn am-btn-link yu-forget-pwd am-padding-left-0">忘记密码？</a>
				<div class="am-checkbox yu-rm-me">
					<label class="yu-font-12">
						<input type="checkbox"  style="margin-top:4.2px;">
						记住我 </label>
				</div>

				<button type="submit" class="am-btn am-btn-default yu-login-button-adjustor">
					登录
				</button>
				

	</form>
</div>
<div class="am-u-lg-6 am-u-md-6 am-u-sm-12 yu-signup-container">
	<p class="yu-signin-title am-kai">
	<span>创建我的账户</span>
	</p>
</div>
</div>

</block>