<div class="top-menu-link cart">
                <a href="https://www.melijoe.com/cn/check/cart">
                    <img src="/_css/images/picto-cart.png" alt="我的购物袋">我的购物袋 <span id="my-shopping-bag-nbarticle">(3)</span>
                </a>
                <div id="panier-visuel-container" class="">
                    


<div id="panier-visuel">
    <p class="pm-title">我的购物袋</p>
    <div class="item container jcarousel jcarousel-panier-off" id="slider-panier-visuel" data-jcarousel="true">
    <div style="left: 0px; top: 0px; transition-duration: 0s; transition-timing-function: ease; transition-property: all; transform: translate3d(0px, 0px, 0px);">


<!-- ITEM PANIER -->
<a href="http://www.melijoe.com/cn/karl-lagerfeld-kids-mini-me-choupette猫咪印图t恤-157397" class="item-panier-visuel">
    <img alt="Mini Me Choupette猫咪印图T恤" src="http://7xr7p7.com2.z0.glb.qiniucdn.com/karl-lagerfeld-kids-t-1446712438-p_l_157397_A.jpg">
    <!-- CONTENU ARTICLE -->
    <span class="content-item-panier-visuel">
        <!-- TITLE / DESCRIPTION -->
        <span class="title-item-panier-visuel">Karl Lagerfeld Kids</span>
        <span class="desc-item-panier-visuel">Mini Me Choupette猫咪印图T恤</span>
        <!-- SIZE / QUANTITY -->
        <span class="size-price-container">
            <span class="size-item-panier-visuel">
尺码： <span>4岁 (99 - 104 cm)</span>
            </span>
            <span class="quantity-item-panier-visuel">
数量： <span class="qte-pm">1</span>
            </span>
            <span class="clear"></span>
       </span>
       <span class="clear"></span>
       <!-- PRICE -->
       <span class="price-item-panier-visuel">
           


<span>    Ұ&nbsp;358    </span>

       </span>
   </span>
</a><!-- fin item panier -->


<!-- ITEM PANIER -->
<a href="http://www.melijoe.com/cn/karl-lagerfeld-kids-mini-me-karl-kameo-t恤-157505" class="item-panier-visuel">
    <img alt="Mini Me Karl Kameo T恤" src="https://cloud.melijoe.com/karl-lagerfeld-kids-t-1453304736-p_l_157505_A.jpg">
    <!-- CONTENU ARTICLE -->
    <span class="content-item-panier-visuel">
        <!-- TITLE / DESCRIPTION -->
        <span class="title-item-panier-visuel">Karl Lagerfeld Kids</span>
        <span class="desc-item-panier-visuel">Mini Me Karl Kameo T恤</span>
        <!-- SIZE / QUANTITY -->
        <span class="size-price-container">
            <span class="size-item-panier-visuel">
尺码： <span>3岁 (91 - 96 cm)</span>
            </span>
            <span class="quantity-item-panier-visuel">
数量： <span class="qte-pm">1</span>
            </span>
            <span class="clear"></span>
       </span>
       <span class="clear"></span>
       <!-- PRICE -->
       <span class="price-item-panier-visuel">
           


<span>    Ұ&nbsp;279    </span>

       </span>
   </span>
</a><!-- fin item panier -->


<!-- ITEM PANIER -->
<a href="http://www.melijoe.com/cn/noukies-柳条摇篮-83578" class="item-panier-visuel">
    <img alt="柳条摇篮" src="https://cloud.melijoe.com/noukies--1396343032-p_l_83578_A.jpg">
    <!-- CONTENU ARTICLE -->
    <span class="content-item-panier-visuel">
        <!-- TITLE / DESCRIPTION -->
        <span class="title-item-panier-visuel">Noukie's</span>
        <span class="desc-item-panier-visuel">柳条摇篮</span>
        <!-- SIZE / QUANTITY -->
        <span class="size-price-container">
            <span class="size-item-panier-visuel">
尺码： <span>均码</span>
            </span>
            <span class="quantity-item-panier-visuel">
数量： <span class="qte-pm">1</span>
            </span>
            <span class="clear"></span>
       </span>
       <span class="clear"></span>
       <!-- PRICE -->
       <span class="price-item-panier-visuel">
           


<span>    Ұ&nbsp;1,356    </span>

       </span>
   </span>
</a><!-- fin item panier -->

    </div>
    <a href="#" class="jcarousel-control-prev slider-panier-visuel-control-prev" onclick="" data-jcarouselcontrol="true"><img src="https://cloud.melijoe.com/_css/images/arrow-jcarousel-thumb-top.jpg" alt="‹"></a>
    <a href="#" class="jcarousel-control-next slider-panier-visuel-control-next" data-jcarouselcontrol="true"><img src="https://cloud.melijoe.com/_css/images/arrow-jcarousel-thumb-bottom.jpg" alt="›"></a>
</div>
<span class="clear"></span>
<!-- TOTAL -->
<div id="total-price-panier-visuel">
    <span class="title-total-price">金额： </span>
    <span class="value-total-price">Ұ&nbsp;1,993</span>
</div><!-- fin total -->
<!-- BUTTON -->
<div id="button-panier-visuel">
    <a href="https://www.melijoe.com/cn/check/cart" class="btn btn-100 btn-big btn-black">查看我的购物袋</a>
    <div class="clear"></div>
</div><!-- fin button -->
    <div class="btn-continue-shop">
      <span class="btn btn-border-grey">Continuer mon shopping</span>
    </div>
</div><!-- fin panier-visuel -->
<div class="clear"></div>                </div><!-- fin panier-visuel-container -->
            </div>
            











<ul class="am-dropdown-content" style="padding-bottom:1px;padding-top:0;width: 350px;">
            
          
            <li><a href="#" style="height:120px;width:100%!important;padding-left:10px;padding-right:0;padding-top:10px;padding-bottom:10px;"><img alt="Mini Me Choupette猫咪印图T恤" src="http://7xr7p7.com2.z0.glb.qiniucdn.com/karl-lagerfeld-kids-t-1446712438-p_l_157397_A.jpg" style="height:100px;width:100px;display:block;float:left;"><span style="display: block;
    float: left;
    width: 220px;
    margin-left: 15px;
    position: relative;">
<span class="" style="display:block;text-transform:uppercase;">Karl Lagerfeld Kids</span>
        <span class="" style="display:block;overflow: hidden;
 text-overflow: ellipsis;    white-space: nowrap;
    padding-right: 100px;
    margin-top: 4px;">Mini Me Choupette猫咪印图T恤

</span>



  <span style="display:block;border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    margin: 5px 0;
    padding: 2px 10px 2px 0;font-size:11px">
<span class="" style="
    text-transform: none;
}">
尺码： <span style="font-weight:bold;">4岁 (99 - 104 cm)</span>
            </span>
            <span class="" style="float:right">
数量： <span class="">1</span>

            </span>
  <span class="" style="font-size:12px;font-weight:bold;display: block;float:left;margin-top:6px;">
           
<span>    Ұ&nbsp;358    </span>

       </span>
  </span></span>
</a></li>
            <li class="am-divider"></li>
          
            <li><div id="" style="    background: #ececec;
    padding: 4px 10px;
    text-align: center;
    margin-top: 0;
    ">
    <span class="">总金额： </span>
    <span class="">Ұ&nbsp; 358</span>
</div></li>
            <li class="am-divider"></li>
            <button type="button" class="am-btn am-btn-default" style="font-size:12px;margin:6px 7px 6px 7px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查看我的购物袋&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &nbsp;&nbsp;</button>
          </ul>
          
          
          <ul class="am-dropdown-content" style="padding-bottom:1px;padding-top:0;width: 350px;">
            
          
            <li><a href="#" style="height:120px;width:100%!important;padding-left:10px;padding-right:0;padding-top:10px;padding-bottom:10px;"><img alt="Mini Me Choupette猫咪印图T恤" src="http://7xr7p7.com2.z0.glb.qiniucdn.com/karl-lagerfeld-kids-t-1446712438-p_l_157397_A.jpg" style="height:100px;width:100px;display:block;float:left;"><span style="display: block;
    float: left;
    width: 220px;
    margin-left: 15px;
    position: relative;">
<span class="" style="display:block;text-transform:uppercase;">Karl Lagerfeld Kids</span>
        <span class="" style="display:block;overflow: hidden;
 text-overflow: ellipsis;    white-space: nowrap;
    padding-right: 100px;
    margin-top: 4px;">Mini Me Choupette猫咪印图T恤

</span>

  </span>
</a></li>
            
    
            <li class="am-divider"></li>
            <button type="button" class="am-btn am-btn-default" style="font-size:12px;margin:6px 7px 6px 7px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;查看我的收藏&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      &nbsp;&nbsp;</button>
          </ul>

