<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Test1</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/app.css">
</head>
<body>
<header class="am-topbar">
  <h1 class="am-topbar-brand">
	<a href="#">StarBall</a>
  </h1>
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="#">首页</a></li>
      <li><a href="#">项目</a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          下拉 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header">标题</li>
          <li><a href="#">1. 去月球</a></li>
          <li class="am-active"><a href="#">2. 去火星</a></li>
          <li><a href="#">3. 还是回地球</a></li>
          <li class="am-disabled"><a href="#">4. 下地狱</a></li>
          <li class="am-divider"></li>
          <li><a href="#">5. 桥头一回首</a></li>
        </ul>
      </li>
    </ul>
    <form class="am-topbar-form am-topbar-left am-form-inline am-show-sm-up" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field" placeholder="搜索">
      </div>
    </form>
    <div class="am-topbar-right">
      <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>其他 <span class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content">
          <li><a href="#">注册</a></li>
          <li><a href="#">随便看看</a></li>
        </ul>
      </div>
    </div>

    <div class="am-topbar-right">
      <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm">登录</button>
    </div>
  </div>
</header>
<form class="am-topbar-form am-topbar-left am-form-inline am-show-sm-only" role="search">
    <div class="am-form-group">
    	 <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
    </div>
</form>
<ol class="am-breadcrumb">
  <li><a href="#">首页</a></li>
  <li><a href="#">分类</a></li>
  <li class="am-active">内容</li>
</ol>
<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
          <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>
  </div>
<div class="am-g">
	 <section data-am-widget="accordion" class="am-accordion am-accordion-default am-sm-3 am-u-md-3 am-u-lg-3" data-am-accordion='{ "multiple": true }'>
      <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          类别
        </dt>
        <dd class="am-accordion-bd am-collapse ">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
          	<label class="am-checkbox am-secondary">
			  <input type="checkbox" value="" data-am-ucheck> 没有选中
			</label>
			<label class="am-checkbox am-secondary">
			  <input type="checkbox" checked="checked" value="" data-am-ucheck checked>
			  已选中
			</label>
			
			<label class="am-radio am-secondary">
			  <input type="radio" name="radio3" value="" data-am-ucheck> 未选中
			</label>
			<label class="am-radio am-secondary">
			  <input type="radio" name="radio3" value="" data-am-ucheck checked> 已选中
			</label>
          </div>
        </dd>
      </dl>
      <dl class="am-accordion-item">
        <dt class="am-accordion-title">
          品牌
        </dt>
        <dd class="am-accordion-bd am-collapse ">
          <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
          <div class="am-accordion-content">
            我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
          </div>
        </dd>
      </dl>
  </section>
  <div class="am-sm-8 am-u-md-8 am-u-lg-8">
  	<div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
	    <div class="am-thumbnail">
	      <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
	      <div class="am-thumbnail-caption">
	        <h3>图片标题</h3>
	        <p>...</p>
	        <p>
	          <button class="am-btn am-btn-primary">按钮</button>
	          <button class="am-btn am-btn-default">按钮</button>
	        </p>
	      </div>
	    </div>
	  </div>
	  <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
	    <div class="am-thumbnail">
	      <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
	      <div class="am-thumbnail-caption">
	        <h3>图片标题</h3>
	        <p>...</p>
	        <p>
	          <button class="am-btn am-btn-primary">按钮</button>
	          <button class="am-btn am-btn-default">按钮</button>
	        </p>
	      </div>
	    </div>
	  </div>
	  <div class="am-u-sm-12 am-u-md-6 am-u-lg-4">
	    <div class="am-thumbnail">
	      <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
	      <div class="am-thumbnail-caption">
	        <h3>图片标题</h3>
	        <p>...</p>
	        <p>
	          <button class="am-btn am-btn-primary">按钮</button>
	          <button class="am-btn am-btn-default">按钮</button>
	        </p>
	      </div>
	    </div>
	  </div>
	  <div class="am-u-sm-12 am-u-md-6 am-u-lg-4 am-u-end">
	    <div class="am-thumbnail">
	      <img src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
	      <div class="am-thumbnail-caption">
	        <h3>图片标题</h3>
	        <p>...</p>
	        <p>
	          <button class="am-btn am-btn-primary">按钮</button>
	          <button class="am-btn am-btn-default">按钮</button>
	        </p>
	      </div>
	    </div>
	  </div>
  </div>
</div>
   
<ul class="am-pagination am-pagination-centered">
  <li class="am-disabled"><a href="#">&laquo;</a></li>
  <li class="am-active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
  
  <footer data-am-widget="footer"
          class="am-footer am-footer-default"
           data-am-footer="{  }">
    <div class="am-footer-switch">
    <span class="am-footer-ysp" data-rel="mobile"
          data-am-modal="{target: '#am-switch-mode'}">
          云适配版
    </span>
      <span class="am-footer-divider"> | </span>
      <a id="godesktop" data-rel="desktop" class="am-footer-desktop" href="javascript:">
          电脑版
      </a>
    </div>
    <div class="am-footer-miscs ">

          <p>由 <a href="http://www.yunshipei.com/" title="诺亚方舟"
                                                target="_blank" class="">诺亚方舟</a>
            提供技术支持</p>
        <p>CopyRight©2014  AllMobilize Inc.</p>
        <p>京ICP备13033158</p>
    </div>
  </footer>
  
  <div id="am-footer-modal"
       class="am-modal am-modal-no-btn am-switch-mode-m am-switch-mode-m-default">
    <div class="am-modal-dialog">
      <div class="am-modal-hd am-modal-footer-hd">
        <a href="javascript:void(0)" data-dismiss="modal" class="am-close am-close-spin " data-am-modal-close>&times;</a>
      </div>
      <div class="am-modal-bd">
          您正在浏览的是

        <span class="am-switch-mode-owner">
            云适配
        </span>

        <span class="am-switch-mode-slogan">
              为您当前手机订制的移动网站。
        </span>
      </div>
    </div>
  </div>



<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
</body>
</html>