<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>品牌管理</title>
    <meta name="description" content="品牌管理页面">
    <meta name="keywords" content="help">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>StarBall</strong> <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="./Order" target="_blank"><span class="am-icon-home"></span> 订单管理</a></li>
                <li><a href="./Brand"><span class="am-icon-square"></span> 品牌管理</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 商品管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="./Item/upload" class="am-cf" target="_blank"><span class="am-icon-upload"></span> 商品上新</a></li>
                        <li><a href="./Item/search" target="_blank"><span class="am-icon-search"></span> 商品搜索</a></li>
                        <li><a href="./Item/mainPageSetting" target="_blank"><span class="am-icon-search"></span> 首页上新</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#blog-nav'}"><span class="am-icon-file"></span> 博客 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="blog-nav">
                        <li><a href="./Blog/search" class="am-cf" target="_blank"><span class="am-icon-search"></span> 博客管理</a></li>
                        <li><a href="./Blog/create" target="_blank"><span class="am-icon-upload"></span> 写新博客</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-tabs" data-am-tabs>
                    <ul class="am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">品牌查看</a></li>
                        <li><a href="#tab2">添加品牌</a></li>
                        <li><a href="#tab3">种类查看</a></li>
                        <li><a href="#tab4">添加种类</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                            <table class="am-table am-table-bordered am-table-striped am-table-compact">
                                <thead>
                                <tr>
                                    <th>品牌名称</th>
                                    <th>品牌描述</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="brandData" id="vo">
                                    <tr id="brandTr{$vo.brandId}">
                                        <td>{$vo.brandName}</td>
                                        <td>{$vo.description}</td>
                                        <td><button type="button" name="brand{$vo.brandId}" class="brand-delete-button am-btn am-btn-secondary">删除</button></td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                        <div class="am-tab-panel am-fade am-in am-active" id="tab2">
                            <form class="am-form" id="brand-upload-form" action="" method="post">
                                <fieldset>
                                    <legend>添加品牌</legend>
                                    <div class="am-form-group">
                                        <label for="brandName">品牌名称</label>
                                        <input type="text" class="" name="brandName" id="brandName" placeholder="输入品牌名称">
                                    </div>
                                    <div class="am-form-group">
                                        <label for="description">品牌描述</label>
                                        <textarea class="" rows="2" name="description" id="description" placeholder="输入品牌描述"></textarea>
                                    </div>
                                    <p><button type="button" id="upload-single-brand" class="am-btn am-btn-default">提交</button></p>
                                </fieldset>
                            </form>
                        </div>
                        <div class="am-tab-panel am-fade" id="tab3">
                            <table class="am-table am-table-bordered am-table-striped am-table-compact">
                                <thead>
                                <tr>
                                    <th>种类名称</th>
                                    <th>种类分类</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="categoryData" id="vo">
                                    <tr id="categoryTr{$vo.categoryId}">
                                        <td>{$vo.categoryName}</td>
                                        <td>
                                            <switch name="vo.type">
                                                <case value="1"><span class="am-badge am-badge-primary">普通商品</span></case>
                                                <case value="2"><span class="am-badge am-badge-secondary">鞋子</span></case>
                                                <case value="3"><span class="am-badge am-badge-warning">配饰</span></case>
                                            </switch>
                                        </td>
                                        <td><button type="button" name="category{$vo.categoryId}" class="category-delete-button am-btn am-btn-secondary">删除</button></td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                        <div class="am-tab-panel am-fade am-in am-active" id="tab4">
                            <form class="am-form" id="category-upload-form" action="" method="post">
                                <fieldset>
                                    <legend>添加种类</legend>
                                    <div class="am-form-group">
                                        <label for="categoryName">种类名称</label>
                                        <input type="text" class="" name="categoryName" id="categoryName" placeholder="输入品牌名称">
                                    </div>
                                    <div class="am-form-group">
                                        <label for="type">种类分类</label>
                                        <select name="type" id="type">
                                            <option value="1">普通商品</option>
                                            <option value="2">鞋子</option>
                                            <option value="3">配饰</option>
                                        </select>
                                        <span class="am-form-caret"></span>
                                    </div>
                                    <p><button type="button" id="upload-single-category" class="am-btn am-btn-default">提交</button></p>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 内容填写不完整报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="single-input-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">请把内容填写正确</div>
                    <div class="am-modal-bd">
                        请把内容填写正确
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 品牌添加失败报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="single-brand-add-fail">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">品牌添加失败</div>
                    <div class="am-modal-bd">
                        品牌添加失败
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 种类添加失败报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="single-category-add-fail">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">种类添加失败</div>
                    <div class="am-modal-bd">
                        种类添加失败
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>



            <!-- 添加成功-->
            <div class="am-modal am-modal-alert" tabindex="-1" id="add-success">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">添加成功</div>
                    <div class="am-modal-bd">
                        添加成功
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 删除失败-->
            <div class="am-modal am-modal-alert" tabindex="-1" id="delete-fail">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">添加成功</div>
                    <div class="am-modal-bd">
                        添加成功
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 UltraBravo Inc.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/app.js"></script>
<script src="__PUBLIC__/starball/js/jquery.form.js"></script>
<!-- 自己的JS代码-->
<script>
    $(".brand-delete-button.am-btn.am-btn-secondary").click(function(){
        var brandId = $(this).attr("name").replace("brand", "");
        $.getJSON("./Brand/deleteBrandById?brandId=" + brandId,function(data){
            if (data.status == "1") {
                $("#brandTr" + brandId).remove();
            } else {
                $("#delete-fail").modal("open");
            }
        });
    });
    $(".category-delete-button.am-btn.am-btn-secondary").click(function(){
        var categoryId = $(this).attr("name").replace("category", "");
        $.getJSON("./Brand/deleteCategoryById?categoryId=" + categoryId,function(data){
            if (data.status == "1") {
                $("#categoryTr" + categoryId).remove();
            } else {
                $("#delete-fail").modal("open");
            }
        });
    });
    $("#upload-single-brand").click(function(){
        if ($("#brandName").val().trim() == "" || $("#description").val().trim() == "") {
            $("#single-input-alert").modal("open");
        } else {
            var brandData = {};
            brandData["brandName"] = $("#brandName").val().trim();
            brandData["description"] = $("#description").val().trim();
            $.post("./Brand/addBrand", brandData, function(result){
                if ($.parseJSON(result).status == "1") {
                    $("#add-success").modal('open');
                } else {
                    $("#single-brand-add-fail").modal('open');
                }
            });
        }
    });

    $("#upload-single-category").click(function(){
        if ($("#categoryName").val().trim() == "") {
            $("#single-input-alert").modal("open");
        } else {
            var categoryData = {};
            categoryData["categoryName"] = $("#categoryName").val().trim();
            categoryData["type"] = $("#type").val();
            $.post("./Brand/addCategory", categoryData, function(result){
                if ($.parseJSON(result).status == "1") {
                    $("#add-success").modal('open');
                } else {
                    $("#single-category-add-fail").modal('open');
                }
            });
        }
    });
</script>
</body>
</html>
