<extend name="Public/base" />
<block name="title"><title>产品页</title></block>
<block name="customizedCss">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/item.css">
</block>
<block name="main">
<div class="am-g yu-main-container am-kai">
		<div class="am-u-sm-12">
			<ol class="am-breadcrumb am-breadcrumb-slash am-text-xs am-margin-0">
			  <li>Starball</li>
			  <li>{$data.brandName}</li>
			  <li>{$data.categoryName}</li>
			  <li>{$data.name}</li>
			</ol>
			<div class="am-g">
				<div class="am-u-md-6 am-u-md-offset-1 am-show-md-up">
					<div class="am-slider am-slider-default" data-am-flexslider="{controlNav: 'thumbnails', directionNav: false, slideshow: false}">
					  <ul class="am-slides">
					  	<volist name="images" id="vo" key="k">
				  		    <eq name="k" value="1">
				  		    	<input type="hidden" id="itemImage" value="{$vo.image}"/>
			  		    	</eq>
						    <li data-thumb="{$vo.image}?imageView2/1/w/88/h/88/q/100">
						      <a  href="{$vo.image}?imageView2/1/q/100" class="swipebox">
						      	<img src="{$vo.image}?imageView2/1/w/503/h/519/q/100" />
						      </a>
						    </li>
					  	</volist>
					  </ul>
					</div>
				</div>
				<div class="am-show-sm-only am-u-sm-12">
					<div class="am-slider am-slider-a4" data-am-flexslider="{directionNav: flase}">
					  <ul class="am-slides">
					  	<volist name="images" id="vo" key="k">
				  		    <eq name="k" value="1">
				  		    	<input type="hidden" id="itemImage" value="{$vo.image}"/>
			  		    	</eq>
						    <li>
						    	<a href="{$vo.image}?imageView2/1/q/100" class="swipebox">
						      		<img src="{$vo.image}?imageView2/1/w/503/h/519/q/100"/>
						      	</a>
						    </li>
					  	</volist>
					  </ul>
					</div>
				</div>
				<div class="am-u-md-5 am-u-sm-12">
					<input type="hidden" id="itemId" value="{$data.itemId}"/>
					<input type="hidden" id="discount" value="{$discount}"/>
					<div class="am-g"><h2 id='brandName' style="margin-bottom: 0px">{$data.brandName}</h2></div>
					<div class="am-g" id='itemName'>{$data.name}</div>
					<div class="am-g">
						<hr data-am-widget="divider" style="margin-bottom:3px;" class="am-divider am-divider-default" />
						<span style="font-size: 13px">{$Think.lang.color}：</span><span style="font-size: 13px" id="itemColor">{$data.color}</span>
						<hr data-am-widget="divider" style="margin-top:3px;" class="am-divider am-divider-default" />
					</div>
					<div class="am-g">
						<div class="am-u-sm-3 am-padding-left-0 <gt name='defaultPrice' value='$discountDefaultPrice'>disable-price</gt>">
							{$priceSymbol}  <span id="<eq name='defaultPrice' value='$discountDefaultPrice'>currentPrice</eq>">{$defaultPrice}</span>
						</div>
						<gt name="defaultPrice" value="$discountDefaultPrice">(-{$discount}%)</gt>
						<div class="am-u-sm-3 am-padding-right-0">
							<select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" onchange="window.location.href='?currency='+$(this).val();">
								<volist name="currencyArray" id="vo">
							  		<option value="{$vo.currency}" <eq name="vo.currency" value="$preferred_currency">selected="selected"</eq>>{$vo.currency}</option>
							  	</volist>
							</select>
						</div>
					</div>
					<gt name="defaultPrice" value="$discountDefaultPrice">
						<div class="am-g discount" id="discountPrice">
							{$priceSymbol}  <span id="currentPrice">{$discountDefaultPrice}</span>
						</div>
					</gt>
					<div class="am-g" style="margin-top: 10px;">
						<select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" id="itemSize" onchange="changePrice($(this).val());">
						  <option value="none" selected>{$Think.lang.size}</option>
						  <volist name="inventory" id="vo">
						  		<if condition="($vo['inventory'] eq 0) AND ($data['isAvailable'] eq '1')">
								  	<option disabled="disabled" value="{$vo.inventoryId}">{$vo.description}  ({$Think.lang.soldout})</option>
					  			<else />
					  				<option value="{$vo.inventoryId}">{$vo.description}</option>
					  			</if>
						  </volist>
						</select>
					</div>
					<div class="am-g yu-sizetext-styler am-show-md-up">
						<a href="javascript:void(0);" onclick="$('#light2').show();$('#fade').show();">{$Think.lang.size}：</a>
					</div>
					<div class="am-g yu-sizetext-styler am-show-sm-only">
						<a href="javascript:void(0);" onclick="$('#lightsm').show();$('#fade').show();">{$Think.lang.size}：</a>
					</div>
					<div class="am-g" id="subscription">
						<div class="subscription-block">
                                <div class="subscription-head">
                                    <span class="yu-account-seperate"></span>
                                    <span class="yu-account-textor">{$Think.lang.sizecomingsoon}</span>
                                </div>
                                <strong class="subscription-highlight">{$Think.lang.notifymewhengoodarrived}</strong>
                                <input type="email" id="subscriptionEmail" class="am-form-field am-text-xs yu-account-input" placeholder="输入您的电子邮箱地址" value="">
								<button onclick="confirmSubscription()" class="am-btn am-btn-default yu-black-button" style="width:100%">{$Think.lang.submit}</button>
                        </div>
					</div>
					<div class="am-g">
						<button id="addToShoppingList" type="button" class="am-btn am-btn-primary am-btn-block yu-product-buy" onclick="addToShoppingList()">{$Think.lang.addToShoppingList}</button>
						<button type="button" class="am-btn am-btn-default am-btn-block yu-product-favorite" >{$Think.lang.addToFavoriteList}</button>
					</div>
					<div class="am-g">
						<hr data-am-widget="divider" style="margin-bottom: 5px;margin-top:10px;" class="am-divider am-divider-default" />
						<section data-am-widget="accordion" class="am-accordion am-accordion-gapped" style="margin:0" data-am-accordion='{ "multiple": true }'>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									{$Think.lang.details}
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
										{$data.detailDescription}
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									{$Think.lang.ingredient}
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
										{$data.component}
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									{$Think.lang.shipreturn}
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
									    {$Think.lang.CRtrnPolicy}
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									{$Think.lang.contactus}
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
									    {$Think.lang.CcontactUS}
									</div>
								</dd>
							</dl>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="result"></div>
	<div id="light2" class="white_content">
		<img class="" src="{$data.sizeDescription}" onclick="$(this).parent().hide();$('#fade').hide();">
		<div style="position:absolute;top:0;right:0;">
			<a href="javascript:void(0)" style="color:black;" onclick="$(this).parent().parent().hide();$('#fade').hide();" class="am-icon-sm am-icon-close"></a>
		</div>
	</div>
	<div id="lightsm" class="white_contentsm">
		<img class="" src="{$data.sizeDescription}?imageView2/1/w/450/h/450/q/100" onclick="$(this).parent().hide();$('#fade').hide();">
		<div style="position:absolute;top:0;right:0;">
			<a href="javascript:void(0)" style="color:black;" onclick="$(this).parent().parent().hide();$('#fade').hide();" class="am-icon-sm am-icon-close"></a>
		</div>
	</div>
	<div id="fade" class="black_overlay"></div>
</block>
<block name="customizedJavascript">
	<script type="text/javascript">
	//menu postion
	$("div.yu-sub-menu-list").removeClass("am-u-md-3 am-u-md-offset-1");
	$("div.yu-sub-menu-list").addClass("am-u-md-5 am-margin-0 am-padding-0");
	$("div.yu-sub-menu-selected").removeClass("am-u-md-10 am-u-md-offset-1");
	$("div.yu-sub-menu-selected").addClass("am-u-md-12");
	changePrice($('#itemSize').val());
	
		$(document).ready(function($){
			$(".swipebox").swipebox();
		});
		function changePrice(inventoryId){
			if({$data.isAvailable} == 2 && $("#itemSize").val() != 'none'){
				$('#subscription').show();
				$('#addToShoppingList').hide();
			}else{
				$('#subscription').hide();
				$('#addToShoppingList').show();
			}
			var invJson = {$inventoryjson};
			for(var i=0;i<invJson.length;i++){
				if(inventoryId == invJson[i]['inventoryId']){
					$('#currentPrice').html(invJson[i]['price']);
				}
			}
		}
		
		function confirmSubscription(){
			if($('#subscriptionEmail').val() == ''){
				alert('请输入邮箱');
			}
			$.post('{:U("Item/confirmSubscription")}', {'subscriptionEmail':$('#subscriptionEmail').val(),
														'itemId':$('#itemId').val()}, function(data){
				if(data.status == 1){
					alert('您的请求已受理');
				}				
			}, 'json');
		}
		
		function addToShoppingList(){
			if($("#itemSize").val() == 'none'){
				alert("请选择尺码");
				return;
			}
		    $.post('{:U("Item/addToShoppingList")}',{'itemId':$('#itemId').val(), 
		    									'currentPrice':$('#currentPrice')[0].innerHTML,
		    									'itemImage':$('#itemImage').val(), 
		    									'brandName':$('#brandName')[0].innerText, 
		    									'itemName':$('#itemName')[0].innerText,
		    									'itemColor':$('#itemColor')[0].innerText,  
		    									'itemSize':$('#itemSize').val()},function(data){
				alert(data.message);
		    	if(data.status == 1){
					if($("#myShoppingListLnk").css('display') != 'none'){
						//if is md-up screen
			    		$('#ulMyShoppingList').html(data.html);
						$("#myShoppingCart").click(function(){
							window.location.href="{:U('Starball/Cart/index')}";
						});
			    		$("#myShoppingListLnk").click();
					    setTimeout(function () { 
					        $("#myShoppingListLnk").click();
					    }, 2000);
					}
					if($("#goToShoppingList").css('display') != 'none'){
						$('#ulMyShoppingListsm').html(data.htmlsm);
						$("#myShoppingCartsm").click(function(){
							window.location.href="{:U('Starball/Cart/index')}";
						});
						$("#continueShoppingSm").click(function(){
							$('#right-offcanvas').click();
						});
						$("#goToShoppingList").click();
					}
		    	}
		    },'json');
		}
		
		function addToFavoriteList(){
		    /*$.post('__URL__/addToFavoriteList',{'itemId':$('#itemId').val(), 'itemSize':$('#itemSize').val()},function(data){
		    	if(data.status == 1){
		    		alert("添加成功");
		    	}
		    },'json');*/
		}
	</script>
</block>