<extend name="Public/base" />
<block name="title"><title>产品页</title></block>
<block name="main">
<div class="am-g yu-main-container am-kai">
		<div class="am-u-sm-12">
			<ol class="am-breadcrumb am-breadcrumb-slash am-text-xs am-margin-0">
			  <li>Starball</li>
			  <li>Armani Junior</li>
			  <li>上衣和T恤</li>
			  <li>Graphic slubbed jersey T-shirt</li>
			</ol>
			<div class="am-g">
				<div class="am-u-md-6 am-u-md-offset-1 am-show-md-up">
					<div class="am-slider am-slider-default" data-am-flexslider="{controlNav: 'thumbnails', directionNav: false, slideshow: false}">
					  <ul class="am-slides">
					  	<volist name="images" id="vo" key="k">
				  		    <eq name="k" value="1">
				  		    	<input type="hidden" id="itemImage" value="{$vo.image}"/>
			  		    	</eq>
						    <li data-thumb="{$vo.image}?imageView2/1/w/88/h/88/q/100">
						      <a  href="{$vo.image}?imageView2/1/q/100" class="swipebox">
						      	<img src="{$vo.image}?imageView2/1/w/503/h/519/q/100" />
						      </a>
						    </li>
					  	</volist>
					  </ul>
					</div>
				</div>
				<div class="am-show-sm-only am-u-sm-12">
					<div class="am-slider am-slider-a4" data-am-flexslider="{directionNav: flase}">
					  <ul class="am-slides">
					  	<volist name="images" id="vo" key="k">
				  		    <eq name="k" value="1">
				  		    	<input type="hidden" id="itemImage" value="{$vo.image}"/>
			  		    	</eq>
						    <li>
						    	<a href="{$vo.image}?imageView2/1/q/100" class="swipebox">
						      		<img src="{$vo.image}?imageView2/1/w/503/h/519/q/100" />
						      	</a>
						    </li>
					  	</volist>
					  </ul>
					</div>
				</div>
				<div class="am-u-md-5 am-u-sm-12">
					<input type="hidden" id="itemId" value="{$data.itemId}"/>
					<div class="am-g"><h2 id='brandName' style="margin-bottom: 0px">{$data.brandName}</h2></div>
					<div class="am-g" id='itemName'>{$data.name}</div>
					<div class="am-g">
						<hr data-am-widget="divider" style="margin-bottom:3px;" class="am-divider am-divider-default" />
						<span style="font-size: 13px">颜色：</span><span style="font-size: 13px" id="itemColor">{$data.color}</span>
						<hr data-am-widget="divider" style="margin-top:3px;" class="am-divider am-divider-default" />
					</div>
					<div class="am-g">
						<input type="hidden" id="currentPrice" value="{$currentPrice}"/>
						<div class="am-u-sm-3 am-padding-left-0">{$priceSymbol}  {$currentPrice}</div>
						<div class="am-u-sm-3 am-padding-right-0">
							<select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" onchange="window.location.href='?currency='+$(this).val();">
								<volist name="prices" id="vo">
							  		<option value="{$vo.currency}" <eq name="vo.currency" value="$preferred_currency">selected="selected"</eq>>{$vo.currency}</option>
							  	</volist>
							</select>
						</div>
					</div>
					<div class="am-g" style="margin-top: 10px">
						<select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" id="itemSize">
						  <option value="none" selected>{$Think.lang.size}</option>
						  <volist name="inventory" id="vo">
							  	<option value="{$vo.inventoryId}">{$vo.description}</option>
						  </volist>
						</select>
					</div>
					<div class="am-g yu-sizetext-styler">尺寸：</div>
					<div class="am-g">
						<button type="button" class="am-btn am-btn-primary am-btn-block yu-product-buy" onclick="addToShoppingList()">{$Think.lang.addToShoppingList}</button>
						<button type="button" class="am-btn am-btn-default am-btn-block yu-product-favorite" onclick="addToFavoriteList()">{$Think.lang.addToFavoriteList}</button>
					</div>
					<div class="am-g">
						<hr data-am-widget="divider" style="margin-bottom: 5px;margin-top:10px;" class="am-divider am-divider-default" />
        					<div class="am-u-sm-2" style="margin-left:38px;"><a href="##" style="margin-bottom: 5px;color:#000000" class="am-icon-twitter"></a></div>	
        					<div class="am-u-sm-2"><a href="##" style="color:#000000;" class="am-icon-facebook"></a></div>	
        					<div class="am-u-sm-2"><a href="##" style="color:#000000;" class="am-icon-weibo"></a></div>	
        					<div class="am-u-sm-2"><a href="##" style="color:#000000;" class="am-icon-wechat"></a></div>
        					<div class="am-u-sm-2"><a href="##" style="color:#000000;" class="am-icon-instagram"></a></div>
						<hr data-am-widget="divider" style="margin-bottom:0;" class="am-divider am-divider-default" />
					</div>
					<div class="am-g">
						<section data-am-widget="accordion" class="am-accordion am-accordion-gapped" style="margin:0" data-am-accordion='{ "multiple": true }'>
							<dl class="am-accordion-item yu-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									详细信息
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
										{$data.detailDescription}
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									成分
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
										{$data.component}
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									退货与送货
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
										我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									联系我们
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
										我就这样告别山下的家，我实在不愿轻易让眼泪留下。我以为我并不差不会害怕，我就这样自己照顾自己长大。我不想因为现实把头低下，我以为我并不差能学会虚假。怎样才能够看穿面具里的谎话？别让我的真心散的像沙。如果有一天我变得更复杂，还能不能唱出歌声里的那幅画？
									</div>
								</dd>
							</dl>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="result"></div>
</block>
<block name="customizedJavascript">
	<script type="text/javascript">
		$(document).ready(function($){
			$(".swipebox").swipebox();
		});
		function addToShoppingList(){
			if($("#itemSize").val() == 'none'){
				alert("请选择尺码");
				return;
			}
		    $.post('__URL__/addToShoppingList',{'itemId':$('#itemId').val(), 
		    									'currentPrice':$('#currentPrice').val(),
		    									'itemImage':$('#itemImage').val(), 
		    									'brandName':$('#brandName')[0].innerText, 
		    									'itemName':$('#itemName')[0].innerText,
		    									'itemColor':$('#itemColor')[0].innerText,  
		    									'itemSize':$('#itemSize').val()},function(data){
		    	if(data.status == 1){
		    		alert("添加成功");
		    		$('#ulMyShoppingList').html(data.html);
		    		$("#myShoppingListLnk").click();
		    		//location.href = '?channel=addSL';
		    	}
		    },'json');
		}
		
		function addToFavoriteList(){
			alert($('#$currentPrice').val());
		    $.post('__URL__/addToFavoriteList',{'itemId':$('#itemId').val(), 'itemSize':$('#itemSize').val()},function(data){
		    	if(data.status == 1){
		    		alert("添加成功");
		    	}
		    },'json');
		}
	</script>
</block>