<extend name="Public/base" />
<block name="customizedCss">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/test2.css">
</block>
<block name="title"><title>产品页</title></block>
<block name="main">
<div class="am-g yu-main-container am-kai">
		<div class="am-u-sm-12">
			<ol class="am-breadcrumb am-breadcrumb-slash am-text-xs am-margin-0">
			  <li>Starball</li>
			  <li>Armani Junior</li>
			  <li>上衣和T恤</li>
			  <li>Graphic slubbed jersey T-shirt</li>
			</ol>
			<div class="am-g">
				<div class="am-u-md-6 am-u-md-offset-1 am-show-md-up">
					<div class="am-slider am-slider-default" data-am-flexslider="{controlNav: 'thumbnails', directionNav: false, slideshow: false}">
					  <ul class="am-slides">
					  	<volist name="images" id="vo" key="k">
				  		    <eq name="k" value="1">
				  		    	<input type="hidden" id="itemImage" value="{$vo.image}"/>
			  		    	</eq>
						    <li data-thumb="{$vo.image}?imageView2/1/w/88/h/88/q/100">
						      <a  href="{$vo.image}?imageView2/1/q/100" class="swipebox">
						      	<img src="{$vo.image}?imageView2/1/w/503/h/519/q/100" />
						      </a>
						    </li>
					  	</volist>
					  </ul>
					</div>
				</div>
				<div class="am-show-sm-only am-u-sm-12">
					<div class="am-slider am-slider-a4" data-am-flexslider="{directionNav: flase}">
					  <ul class="am-slides">
					  	<volist name="images" id="vo" key="k">
				  		    <eq name="k" value="1">
				  		    	<input type="hidden" id="itemImage" value="{$vo.image}"/>
			  		    	</eq>
						    <li>
						    	<a href="{$vo.image}?imageView2/1/q/100" class="swipebox">
						      		<img src="{$vo.image}?imageView2/1/w/503/h/519/q/100"/>
						      	</a>
						    </li>
					  	</volist>
					  </ul>
					</div>
				</div>
				<div class="am-u-md-5 am-u-sm-12">
					<input type="hidden" id="itemId" value="{$data.itemId}"/>
					<div class="am-g"><h2 id='brandName' style="margin-bottom: 0px">{$data.brandName}</h2></div>
					<div class="am-g" id='itemName'>{$data.name}</div>
					<div class="am-g">
						<hr data-am-widget="divider" style="margin-bottom:3px;" class="am-divider am-divider-default" />
						<span style="font-size: 13px">{$Think.lang.size}：</span><span style="font-size: 13px" id="itemColor">{$data.color}</span>
						<hr data-am-widget="divider" style="margin-top:3px;" class="am-divider am-divider-default" />
					</div>
					<div class="am-g">
						<div class="am-u-sm-3 am-padding-left-0">{$priceSymbol}  <span id="currentPrice">{$defaultPrice}</span></div>
						<div class="am-u-sm-3 am-padding-right-0">
							<select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" onchange="window.location.href='?currency='+$(this).val();">
								<volist name="currencyArray" id="vo">
							  		<option value="{$vo.currency}" <eq name="vo.currency" value="$preferred_currency">selected="selected"</eq>>{$vo.currency}</option>
							  	</volist>
							</select>
						</div>
					</div>
					<div class="am-g" style="margin-top: 10px">
						<select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" id="itemSize" onchange="changePrice($(this).val());">
						  <option value="none" selected>{$Think.lang.size}</option>
						  <volist name="inventory" id="vo">
							  	<option value="{$vo.inventoryId}">{$vo.description}</option>
						  </volist>
						</select>
					</div>
					<div class="am-g yu-sizetext-styler">{$Think.lang.size}：</div>
					<div class="am-g">
						<button type="button" class="am-btn am-btn-primary am-btn-block yu-product-buy" onclick="addToShoppingList()">{$Think.lang.addToShoppingList}</button>
						<button type="button" class="am-btn am-btn-default am-btn-block yu-product-favorite" onclick="addToFavoriteList()">{$Think.lang.addToFavoriteList}</button>
					</div>
					<div class="am-g">
						<hr data-am-widget="divider" style="margin-bottom: 5px;margin-top:10px;" class="am-divider am-divider-default" />
        					<div class="am-u-sm-2" style="margin-left:38px;"><a href="javascript:void(0);" style="margin-bottom: 5px;color:#000000" class="am-icon-twitter"></a></div>	
        					<div class="am-u-sm-2"><a href="javascript:void(0);" style="color:#000000;" class="am-icon-facebook"></a></div>	
        					<div class="am-u-sm-2"><a href="javascript:void(0);" style="color:#000000;" class="am-icon-weibo"></a></div>	
        					<div class="am-u-sm-2"><a href="javascript:void(0);" style="color:#000000;" class="am-icon-wechat"></a></div>
        					<div class="am-u-sm-2"><a href="javascript:void(0);" style="color:#000000;" class="am-icon-instagram"></a></div>
						<hr data-am-widget="divider" style="margin-bottom:0;" class="am-divider am-divider-default" />
					</div>
					<div class="am-g">
						<section data-am-widget="accordion" class="am-accordion am-accordion-gapped" style="margin:0" data-am-accordion='{ "multiple": true }'>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									{$Think.lang.details}
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
										{$data.detailDescription}
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									{$Think.lang.ingredient}
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
										{$data.component}
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									{$Think.lang.shipreturn}
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
									    {$Think.lang.srcontent}
									</div>
								</dd>
							</dl>
							<dl class="am-accordion-item yu-accordion-item">
								<dt class="am-accordion-title yu-accordion-title">
									{$Think.lang.contactus}
								</dt>
								<dd class="am-accordion-bd am-collapse ">
									<!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
									<div class="am-accordion-content">
									    {$Think.lang.CScontent}
									</div>
								</dd>
							</dl>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="result"></div>
</block>
<block name="customizedJavascript">
	<script type="text/javascript">
	//menu postion
	$("div.yu-sub-menu-list").removeClass("am-u-md-3 am-u-md-offset-1");
	$("div.yu-sub-menu-list").addClass("am-u-md-5 am-margin-0 am-padding-0");
	$("div.yu-sub-menu-selected").removeClass("am-u-md-10 am-u-md-offset-1");
	$("div.yu-sub-menu-selected").addClass("am-u-md-12");
	changePrice($('#itemSize').val());
	
		$(document).ready(function($){
			$(".swipebox").swipebox();
		});
		function changePrice(inventoryId){
			var invJson = {$inventoryjson};
			for(var i=0;i<invJson.length;i++){
				if(inventoryId == invJson[i]['inventoryId']){
					$('#currentPrice').html(invJson[i]['price']);
				}
			}
			//alert($('#allInventory').val());
		}
		function addToShoppingList(){
			if($("#itemSize").val() == 'none'){
				alert("请选择尺码");
				return;
			}
		    $.post('{:U("Item/addToShoppingList")}',{'itemId':$('#itemId').val(), 
		    									'currentPrice':$('#currentPrice')[0].innerHTML,
		    									'itemImage':$('#itemImage').val(), 
		    									'brandName':$('#brandName')[0].innerText, 
		    									'itemName':$('#itemName')[0].innerText,
		    									'itemColor':$('#itemColor')[0].innerText,  
		    									'itemSize':$('#itemSize').val()},function(data){
		    	if(data.status == 1){
		    		alert("添加成功");
		    		$('#ulMyShoppingList').html(data.html);
					$("#myShoppingCart").click(function(){
						window.location.href="{:U('Starball/Cart/index')}";
					});
		    		$("#myShoppingListLnk").click();
				    setTimeout(function () { 
				        $("#myShoppingListLnk").click();
				    }, 2000);
		    	}
		    },'json');
		}
		
		function addToFavoriteList(){
			$('#currentPrice').html('1111');
			alert($('#currentPrice')[0].innerHTML);
		    /*$.post('__URL__/addToFavoriteList',{'itemId':$('#itemId').val(), 'itemSize':$('#itemSize').val()},function(data){
		    	if(data.status == 1){
		    		alert("添加成功");
		    	}
		    },'json');*/
		}
	</script>
</block>