div.yu-slider-content { 
	background-color:rgba(0,0,0,0)；
    padding: 10px 6px;
    margin-bottom: 10px;
   }
div.yu-slider-desc {
    position: absolute;
    left: 6%;
    bottom: 15%;
    ight: 50px;
    color: #fff;
}
h2.yu-slider-title{font-size: 3.6vw;}
p.yu-slider-subtitle{ margin-top: -6%;margin-bottom:21%;font-size:1.8vw;}
a.yu-slider-more {
    color: #eee;
    font-size: 1.2vw;
    /* background-color: #0e90d2; */
    padding: 12px 54px;
    border-style: solid;
    border-width: thin;
}
div.yu-slider-desc-sm {
    position: absolute;
    left: 1%;
    bottom: 18%;
    right: 1%;
    color: #fff;
    text-align: center;
}
p.yu-slider-subtitle-sm {
    margin-top: -2%;
    margin-bottom: 6%;
    font-size: 15px;
}
h2.yu-slider-title-sm{font-size: 33px;}
a.yu-slider-more-sm {
    color: #eee;
    font-size: 13px;
    /* background-color: #0e90d2; */
    padding: 15px 46px;
    border-style: solid;
    border-width: thin;
}
img.yu-slides-mdup{width: auto;
    height: 600px;
    display: block;}
img.yu-slides-sm{width: auto;
    height: 360px;
    display: block;
    object-fit:cover;}
li.yu-margin-top{margin-top:2%;}
li.yu-text-alicen{text-align: center;}
p.yu-thumbnail-subtitle{font-size:1.8vw;margin-top:-2%}
p.yu-thumbnail-title{font-size:1.3vw;}
div.yu-margin-right{margin-right:-8%}
header{
	margin-bottom: 0.5rem !important;
	background-color: white !important;
}
a.am-dropdown-toggle{
	margin-left: -15px;
}
ol.am-breadcrumb li{
	margin-left: -5px;
}
body{
	overflow:scroll;overflow-x:hidden;
}