<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品编辑</title>
    <meta name="description" content="商品编辑页面">
    <meta name="keywords" content="help">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<!-- 七牛token -->
<input type="text" id="qiniuToken" name="qiniuToken" value="{$qiniuToken}" style="display: none">
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>StarBall</strong> <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="admin-parent">
                <a class="am-cf" data-am-collapse="{target: '#blog-nav'}"><span class="am-icon-file"></span> 博客 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="blog-nav">
                    <li><a href="../Blog/search" class="am-cf" target="_blank"><span class="am-icon-search"></span> 博客管理</a></li>
                    <li><a href="../Blog/create" target="_blank"><span class="am-icon-upload"></span> 写新博客</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="../Order" target="_blank"><span class="am-icon-home"></span> 订单管理</a></li>
                <li><a href="../Order/cancel" target="_blank"><span class="am-icon-home"></span> 退单管理</a></li>
                <li><a href="../Brand" target="_blank"><span class="am-icon-square"></span> 品牌管理</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 商品管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="./upload" class="am-cf" target="_blank"><span class="am-icon-upload"></span> 商品上新</a></li>
                        <li><a href="./search" target="_blank"><span class="am-icon-search"></span> 商品搜索</a></li>
                        <li><a href="./mainPageSetting" target="_blank"><span class="am-icon-level-up"></span> 首页上新</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-g">
            <!-- single uploading area -->
            <div class="am-u-sm-12">
                <form class="am-form" id="single-item-form" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend>更新单个商品</legend>
                        <input type="text" id="item-id" name="itemId" value="{$itemInformation['itemId']}" style="display: none">
                        <div class="am-form-group">
                            <label for="item-name">商品名称</label>
                            <input type="text" class="" name="name" id="item-name" placeholder="输入商品名称" value="{$itemInformation['name']}">
                        </div>

                        <div class="am-form-group">
                            <label for="item-color">商品颜色</label>
                            <input type="text" class="" name="color" id="item-color" placeholder="输入商品颜色" value="{$itemInformation['color']}">
                        </div>

                        <div class="am-form-group">
                            <label for="item-detailDescription">商品详细描述</label>
                            <textarea class="" rows="4" name="detailDescription" id="item-detailDescription" placeholder="输入商品详细描述">{$itemInformation['detailDescription']}</textarea>
                        </div>

                        <div class="am-form-group">
                            <label for="item-component">商品成分</label>
                            <textarea class="" rows="2" name="component" id="item-component" placeholder="100% 棉。Machine washable at 30°C">{$itemInformation['component']}</textarea>
                        </div>

                        <div class="am-form-group">
                            <label for="item-brandId">商品品牌</label>
                            <select name="brandId" id="item-brandId">
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <div class="am-form-group">
                            <label for="item-categoryId">商品类别</label>
                            <select name="categoryId" id="item-categoryId">
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <div class="am-form-group">
                            <label for="item-grade">商品等级</label>
                            <select name="grade" id="item-grade">
                                <option value="3">其它</option>
                                <option value="1">Baby</option>
                                <option value="2">Child</option>
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <div class="am-form-group">
                            <label for="item-gender">商品对象性别</label>
                            <select name="gender" id="item-gender">
                                <option value="M">男</option>
                                <option value="F">女</option>
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <!-- 价格修改,价格必须跟库存匹配
                        <div class="am-form-group">
                            <label for="item-priceHKD">商品港币价格</label>
                            <div class="am-input-group">
                                <input type="text" class="" name="priceHKD" id="item-priceHKD" placeholder="输入商品价格" value="{$itemInformation['itemPrice']['HKD']['price']}">
                                <span class="am-input-group-label">港币</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="item-priceCNY">商品人民币价格</label>
                            <div class="am-input-group">
                                <input type="text" class="" name="priceCNY" id="item-priceCNY" placeholder="输入商品价格" value="{$itemInformation['itemPrice']['CNY']['price']}">
                                <span class="am-input-group-label">人民币</span>
                            </div>
                        </div>-->

                        <div class="am-form-group">
                            <label for="item-season">商品季节</label>
                            <input type="text" class="" name="season" id="item-season" placeholder="输入商品季节" value="{$itemInformation['season']}">
                        </div>

                        <!-- inventory -->
                        <div class="am-form-group" id="inventory-add-section-start">
                            <label>库存设定</label>
                            <p><button type="button" id="add-inventory" class="am-btn am-btn-primary">添加库存</button></p>
                        </div>

                        <input type="text" name="inventory-div-count" id="inventoryDivCount" style="display:none">
                        <!-- inventory -->

                        <!-- product status -->
                        <div class="am-form-group">
                            <label>商品状态</label>
                            <label class="am-radio-inline">
                                <input type="radio"  value="0" class="item-isAvailable" name="isAvailable"> 没货
                            </label>
                            <label class="am-radio-inline">
                                <input type="radio" value="1" class="item-isAvailable" name="isAvailable"> 有货
                            </label>
                            <label class="am-radio-inline">
                                <input type="radio" value="2" class="item-isAvailable" name="isAvailable"> 即将上新
                            </label>
                        </div>
                        <!-- product status -->

                        <!-- product discount-->
                        <div class="am-form-group">
                            <label for="item-discount">商品折扣</label>
                            <input type="text" class="" name="discount" id="item-discount" placeholder="输入商品折扣" value="{$itemInformation['discount']}">
                        </div>

                        <!-- add tags-->
                        <div class="am-form-group">
                            <label for="item-tag">商品标签</label>
                            <input type="text" class="" name="tag" id="item-tag" placeholder="用逗号分开不同标签" value="{$itemInformation['tag']}">
                        </div>



                        <div class="am-form-group" style="display:none">
                            <label for="item-images-array">商品图片数组</label>
                            <textarea class="" rows="4" name="images_array" id="item-images-array" placeholder="商品图片数组"></textarea>
                        </div>

                        <!-- new code for shoe modification -->
                        <input type="text" name="product-type" id="product-type" style="display: none">
                    </fieldset>
                </form>
                <fieldset>
                    <!-- 放到form外面去 -->
                    <div class="am-form-group am-form-file">
                        <button type="button" class="am-btn am-btn-success am-btn-sm">
                            <i class="am-icon-cloud-upload"></i> 选择要上传的商品图片
                        </button>
                        <input id="item-images" type="file" name="item-images" >
                    </div>

                    <ul class="am-avg-sm-4 am-thumbnails" id="images-gallery">

                    </ul>
                    <!-- 放到form外面去 -->
                    <!-- 放到form外面去 -->
                    <p><button type="button" id="update-single-item" class="am-btn am-btn-default">提交</button></p>
                    <!-- 放到form外面去 -->
                </fieldset>
            </div>

            <!-- 内容填写不完整报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="single-input-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">请把内容填写正确</div>
                    <div class="am-modal-bd">
                        请把内容填写正确
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 更新不成功报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="update-fail-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">更新失败</div>
                    <div class="am-modal-bd">
                        请重新更新
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 更新成功报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="update-success-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">更新成功</div>
                    <div class="am-modal-bd">
                        更新成功
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 UltraBravo Inc.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/app.js"></script>
<script src="__PUBLIC__/starball/js/jquery.form.js"></script>
<!-- 自己的JS代码-->
<script>
    // is uploading images or not
    var is_uploading_image = false;
    var imagesArray = new Array();
    var itemInformation = {$itemInformationJSON};
    var qiniuToken = $("#qiniuToken").val().trim();
    var Qiniu_UploadUrl = "http://up.qiniu.com";
    var itemSizeData = {$itemSizeData};
    var inventoryCount = 1;
    var productType;
    $(document).ready(function(){
        // category
        $.getJSON( "./getCategoryInfo", function(data) {
            $.each(data, function( index, value ) {
                $("#item-categoryId").append("<option value='" + value.categoryId + "' class='" + value.type + "'>" + value.categoryName + "</option>");
            });
            $("#item-categoryId").val(itemInformation.categoryId);
        });
        // brand
        $.getJSON( "./getBrandInfo", function(data) {
            $.each(data, function( index, value ) {
                $("#item-brandId").append("<option value='" + value.brandId + "'>" + value.brandName + "</option>");
            });
            $("#item-brandId").val(itemInformation.brandId);
        });
        // isAvailable
        $(".item-isAvailable").each(function(){
            if ($(this).val() == itemInformation.isAvailable) {
                $(this).attr("checked","checked");
            }
        });
        $("#item-grade").val(itemInformation.grade);
        $("#item-gender").val(itemInformation.gender);
        $.each(itemInformation.inventory, function( index, inventoryValue ) {
            // new code for shoe starts
            if (inventoryValue.footSize != "") {
                productType = "2";
            } else {
                // maybe it's not "1", but use "1" to make it different from "2"
                productType = "1";
            }
            // new code for shoe ends

            var $line = $('<hr data-am-widget="divider" style="" id="inventoryLine' +  inventoryCount +  '" class="am-divider am-divider-default inventory-line" />');
            var $div = $('<div class="am-form-group inventory-setting-group" id="inventoryDiv' + inventoryCount +  '"></div>');
            // input used for identifying already existed inventories
            var $inventoryIdInput = $('<input type="text" class="inventory-id" name="inventory-id' + inventoryCount + '" id="" style="display: none;" value="' + inventoryValue.inventoryId +  '">');

            // area for common products starts
            var $labelStart;
            var $selectStart;
            var $labelEnd;
            var $selectEnd;
            $labelStart = $('<label>大小下限</label>');
            $selectStart = $('<select class="inventory-size-start" name="inventory-size-start' + inventoryCount + '"></select>');
            $.each(itemSizeData, function( index, value ) {
                var $option = $("<option value='" + index + "'>" + value[0] + "  (" + value[1] + " - " + value[2] + "cm)</option>");
                $option.appendTo($selectStart);
            });
            $labelEnd = $('<label>大小上限</label>');
            $selectEnd = $('<select class="inventory-size-end" name="inventory-size-end' + inventoryCount + '"></select>');
            $.each(itemSizeData, function( index, value ) {
                var $option = $("<option value='" + index + "'>" + value[0] + "  (" + value[1] + " - " + value[2] + "cm)</option>");
                $option.appendTo($selectEnd);
            });
            // area for common products ends

            // area for shoes starts
            var $shoeLabel;
            var $shoeSizeInput;
            $shoeLabel = $('<label>鞋子尺码</label>');
            $shoeSizeInput = $('<input type="text" class="shoeSize" name="shoeSize' + inventoryCount + '" id="" placeholder="输入鞋码">');
            // area for shoes ends


            var $button = $('<button type="button" name="inventoryDelete' + inventoryCount + '" class="am-close">&times;</button>');
            $button.click(function(){
                var inventoryDeleteId = $(this).attr("name").replace("inventoryDelete", "");
                $("#inventoryLine" + inventoryDeleteId).remove();
                $("#inventoryDiv" + inventoryDeleteId).remove();
            });
            var $input = $('<input type="text" class="inventory-number" name="inventory-number' + inventoryCount + '" id="" placeholder="输入库存数量">');
            // changed price create
            var $priceCNYLabel = $('<label>人民币价格</label>');
            var $priceCNYInput = $('<input type="text" class="inventory-price-CNY" name="inventory-price-CNY' + inventoryCount + '" id="" placeholder="输入人民币价格">');
            var $priceHKDLabel = $('<label>港币价格</label>');
            var $priceHKDInput = $('<input type="text" class="inventory-price-HKD" name="inventory-price-HKD' + inventoryCount + '" id="" placeholder="输入港币币价格">');
            // changed price create


            // if it's other products
            if (productType != "2") {
                $selectStart.val(inventoryValue.age.split(",")[0]);
                $selectEnd.val(inventoryValue.age.split(",")[1]);
                $shoeLabel.hide();
                $shoeSizeInput.hide();
            }
            // if it's shoe
            else {
                $labelStart.hide();
                $selectStart.hide();
                $labelEnd.hide();
                $selectEnd.hide();
                $shoeSizeInput.val(inventoryValue.footSize);
            }

            $input.val(inventoryValue.inventory);
            $priceCNYInput.val(inventoryValue.priceCNY.price);
            $priceHKDInput.val(inventoryValue.priceHKD.price);

            $inventoryIdInput.appendTo($div);
            // new code for shoe starts
            $shoeLabel.appendTo($div);
            $shoeSizeInput.appendTo($div);
            // new code for shoe ends
            $labelStart.appendTo($div);
            $selectStart.appendTo($div);
            $labelEnd.appendTo($div);
            $selectEnd.appendTo($div);
            $input.appendTo($div);
            $priceCNYLabel.appendTo($div);
            $priceCNYInput.appendTo($div);
            $priceHKDLabel.appendTo($div);
            $priceHKDInput.appendTo($div);

            $button.appendTo($div);
            $div.insertAfter($("#inventory-add-section-start"));
            $line.insertAfter($("#inventory-add-section-start"));
            inventoryCount++;
        });
    });
    // load images
    $.each(itemInformation.images, function(index, value) {
        //$("#images-gallery").append('<li id="image' + value.imageId + '"><img class="am-thumbnail" src="' + value.image +'" /></li>');
        var $li = $('<li id="image' + value.imageId + '"></li>');
        var $img = $('<img class="am-thumbnail" src="' + value.image +'" />');
        var $button = $('<button type="button" name="' + value.imageId + '" class="am-close">&times;</button>');
        $button.click(function(){
            var currentImageId = $(this).attr("name");
            var currentImageUrl = $(this).prev().attr("src");
            $.getJSON("./deleteImageByImageId?imageDeleteId=" + currentImageId,function(result){
                if (result.status == "1") {
                    $li.remove();
                    imagesArray.splice(imagesArray.indexOf(currentImageUrl), 1);
                }
            });
        });
        $li.append($img);
        $li.append($button);
        $("#images-gallery").append($li);
        imagesArray.push(value.image);
    });
    function validateFields() {
        $("#item-images-array").val(imagesArray.join(","));
        $("#inventoryDivCount").val(inventoryCount);
        if (is_uploading_image == true) {
            return false;
        }
        if ($("#item-name").val().trim() == "") {
            return false;
        }
        if ($("#item-color").val().trim() == "") {
            return false;
        }
        if ($("#item-detailDescription").val().trim() == "") {
            return false;
        }
        if ($("#item-component").val().trim() == "") {
            return false;
        }
        if ($("#item-season").val().trim() == "") {
            return false;
        }
        if ($("#item-images-array").val().trim() == "") {
            return false;
        }
        if (checkInventoryFields() == false) {
            return false;
        }
        // isAvailable must be set, should not be conflict with inventory
        if (isAvailableValue() == "-1") {
            return false;
        }
        /*if (isAvailableValue() != "1" && $(".inventory-number").length > 0) {
            return false;
        }
        if (isAvailableValue() == "1" && $(".inventory-number").length == 0) {
            return false;
        }*/
        return true;
    }
    // isAvailable check function
    function isAvailableValue() {
        if ($(".item-isAvailable:checked").length > 0) {
            return $(".item-isAvailable:checked").eq(0).val();
        }
        return "-1";
    }
    // inventory check function
    function checkInventoryFields() {
        // if we have inventory
        productType = $("#item-categoryId option:selected").attr('class');
        if ($(".inventory-number").length > 0) {
            if ($(".inventory-number").val().trim() == "") {
                return false;
            }
            if (!$.isNumeric($(".inventory-number").val().trim())) {
                return false;
            }
            if ($(".inventory-price-CNY").val().trim() == "") {
                return false;
            }
            if (!$.isNumeric($(".inventory-price-CNY").val().trim())) {
                return false;
            }
            if ($(".inventory-price-HKD").val().trim() == "") {
                return false;
            }
            if (!$.isNumeric($(".inventory-price-HKD").val().trim())) {
                return false;
            }
            if (productType == "2" && ($(".shoeSize").val().trim() == "")) {
                return false;
            }
        }
        return true;
    }

    $("#update-single-item").click(function(){
        productType = $("#item-categoryId option:selected").attr('class');
        $("#product-type").val(productType);
        if (validateFields() == true) {
            var $form = $("#single-item-form");
            var options = {
                type : 'post',
                url : "./updateSingleItem",
                dataType: 'text',
                contentType: "application/json; charset=utf-8",
                success:function(data) {
                    $("#update-single-item").prop('disabled', false);
                    if ($.parseJSON(data).status == "success") {
                        $("#update-success-alert").modal('open');
                    } else {
                        $('#update-fail-alert').modal('open');
                    }
                },
                error:function(XmlHttpRequest, textStatus, errorThrown){
                    $("#update-single-item").prop('disabled', false);
                    alert(textStatus);
                    alert(errorThrown);
                }
            };
            $form.ajaxSubmit(options);
            $(this).prop('disabled', false);
        } else {
            $('#single-input-alert').modal('open');
        }
    });
    // qiniu upload
    $("#item-images").change(function() {
        is_uploading_image = true;
        //$(this).prop('disabled', true);
        var Qiniu_upload = function(f, token, key) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', Qiniu_UploadUrl, true);
            var formData;
            formData = new FormData();
            if (key !== null && key !== undefined) formData.append('key', key);
            formData.append('token', token);
            formData.append('file', f);
            xhr.onreadystatechange = function(response) {
                if (xhr.readyState == 4 && xhr.status == 200 && xhr.responseText != "") {
                    //$("#item-images").prop('disabled', false);
                    $('li:last-child', $("#images-gallery")).remove();
                    var $li = $("<li></li>");
                    $li.append('<img class="am-thumbnail" src="http://7xp6oq.com2.z0.glb.qiniucdn.com/' + key +'" />');
                    var $button = $('<button type="button" name="' + key + '" class="am-close">&times;</button>');
                    $button.click(function() {
                        var currentKey = $(this).attr("name");
                        $.getJSON("./deleteImageByQiniuKey?qiniuKey=" + currentKey,function(result){
                            if (result.status == "1") {
                                $li.remove();
                                imagesArray.splice(imagesArray.indexOf("http://7xp6oq.com2.z0.glb.qiniucdn.com/" + currentKey), 1);
                            }
                        });
                    });
                    $li.append($button);
                    $("#images-gallery").append($li);
                    imagesArray.push("http://7xp6oq.com2.z0.glb.qiniucdn.com/" + key);
                    is_uploading_image = false;
                } else if (xhr.status != 200 && xhr.responseText) {
                    $('#single-pic-alert').modal('open');
                    //$("#item-images").prop('disabled', false);
                    is_uploading_image = false;
                }
            };
            xhr.send(formData);
        };
        if ($("#item-images")[0].files.length > 0 && qiniuToken != "") {
            var startDate = new Date().getTime();
            imageKey = "item_image_" + startDate;
            $("#images-gallery").append('<li><img class="am-thumbnail" src="http://7xoh2x.com1.z0.glb.clouddn.com/loading.gif" /></li>');
            Qiniu_upload($("#item-images")[0].files[0], qiniuToken, imageKey);
        } else {
            $('#single-pic-alert').modal('open');
            //$("#item-images").prop('disabled', false);
            is_uploading_image = false;
        }
    });
    $("#add-inventory").click(function() {
        productType = $("#item-categoryId option:selected").attr('class');
        var $line = $('<hr data-am-widget="divider" style="" id="inventoryLine' +  inventoryCount +  '" class="am-divider am-divider-default inventory-line" />');
        var $div = $('<div class="am-form-group inventory-setting-group" id="inventoryDiv' + inventoryCount +  '"></div>');
        // fields for common products start
        var $labelStart;
        var $selectStart;
        var $labelEnd;
        var $selectEnd;

        $labelStart = $('<label>大小下限</label>');
        $selectStart = $('<select class="inventory-size-start" name="inventory-size-start' + inventoryCount + '"></select>');
        $.each(itemSizeData, function( index, value ) {
            var $option = $("<option value='" + index + "'>" + value[0] + "  (" + value[1] + " - " + value[2] + "cm)</option>");
            $option.appendTo($selectStart);
        });
        $labelEnd = $('<label>大小上限</label>');
        $selectEnd = $('<select class="inventory-size-end" name="inventory-size-end' + inventoryCount + '"></select>');
        $.each(itemSizeData, function( index, value ) {
            var $option = $("<option value='" + index + "'>" + value[0] + "  (" + value[1] + " - " + value[2] + "cm)</option>");
            $option.appendTo($selectEnd);
        });
        if (productType == "2") {
            $labelStart.hide();
            $selectStart.hide();
            $labelEnd.hide();
            $selectEnd.hide();
        }
        // fields for common products end

        // fields for shoes start
        var $shoeLabel;
        var $shoeSizeInput;
        $shoeLabel = $('<label>鞋子尺码</label>');
        $shoeSizeInput = $('<input type="text" class="shoeSize" name="shoeSize' + inventoryCount + '" id="" placeholder="输入鞋码">');
        if (productType != "2") {
            $shoeLabel.hide();
            $shoeSizeInput.hide();
        }
        // fields for shoes end


        var $button = $('<button type="button" name="inventoryDelete' + inventoryCount + '" class="am-close">&times;</button>');
        $button.click(function(){
            var inventoryDeleteId = $(this).attr("name").replace("inventoryDelete", "");
            $("#inventoryLine" + inventoryDeleteId).remove();
            $("#inventoryDiv" + inventoryDeleteId).remove();
        });
        var $input = $('<input type="text" class="inventory-number" name="inventory-number' + inventoryCount + '" id="" placeholder="输入库存数量">');

        // changed price create
        var $priceCNYLabel = $('<label>人民币价格</label>');
        var $priceCNYInput = $('<input type="text" class="inventory-price-CNY" name="inventory-price-CNY' + inventoryCount + '" id="" placeholder="输入人民币价格">');
        var $priceHKDLabel = $('<label>港币价格</label>');
        var $priceHKDInput = $('<input type="text" class="inventory-price-HKD" name="inventory-price-HKD' + inventoryCount + '" id="" placeholder="输入港币币价格">');
        // changed price create


        // shoe area added
        $shoeLabel.appendTo($div);
        $shoeSizeInput.appendTo($div);
        // common product area
        $labelStart.appendTo($div);
        $selectStart.appendTo($div);
        $labelEnd.appendTo($div);
        $selectEnd.appendTo($div);
        $input.appendTo($div);

        $priceCNYLabel.appendTo($div);
        $priceCNYInput.appendTo($div);
        $priceHKDLabel.appendTo($div);
        $priceHKDInput.appendTo($div);

        $button.appendTo($div);
        $div.insertAfter($("#inventory-add-section-start"));
        $line.insertAfter($("#inventory-add-section-start"));
        inventoryCount++;
    });
</script>
</body>
</html>
