<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品上传</title>
    <meta name="description" content="商品上传页面">
    <meta name="keywords" content="help">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<input type="text" id="qiniuToken" name="qiniuToken" value="{$qiniuToken}" style="display: none">
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>StarBall</strong> <small>后台管理模板</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="admin-index.html"><span class="am-icon-home"></span> 订单管理</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 库存管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="admin-brand.html" class="am-cf"><span class="am-icon-check"></span> 品牌管理<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
                        <li><a href="admin-item.html"><span class="am-icon-puzzle-piece"></span> 商品管理</a></li>
                        <li><a href="admin-count.html"><span class="am-icon-th"></span> 库存盘点<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
                    </ul>
                </li>
                <li><a href="admin-page.html"><span class="am-icon-table"></span> 页面管理</a></li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-g">
            <!-- multiple uploading using csv area -->
            <div class="am-u-sm-12">
                <form class="am-form" id="csv-file-upload" action="./uploadCsv" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend>批量上传商品</legend>
                        <div class="am-form-group am-form-file">
                            <button type="button" class="am-btn am-btn-success am-btn-sm">
                                <i class="am-icon-cloud-upload"></i> 选择要上传的商品CSV文件
                            </button>
                            <input id="doc-form-file" type="file" name="file">
                        </div>
                        <div id="file-list"></div>
                        <p><button type="button" id="upload-csv-file" class="am-btn am-btn-default">上传</button></p>
                        <a class="am-btn am-btn-danger" href="https://docs.google.com/spreadsheets/d/178ZKTtupA3fYzvTmyrNvNfQn1hLIUgX_kg7X-5ESFNs/edit?usp=sharing" target="_blank">上传模板链接</a>
                    </fieldset>
                </form>
            </div>
            <!-- single uploading area -->
            <div class="am-u-sm-12">
                <form class="am-form" id="single-item-form">
                    <fieldset>
                        <legend>上传单个商品</legend>

                        <div class="am-form-group">
                            <label for="item-name">商品名称</label>
                            <input type="text" class="" name="name" id="item-name" placeholder="输入商品名称">
                        </div>

                        <div class="am-form-group">
                            <label for="item-color">商品颜色</label>
                            <input type="text" class="" name="color" id="item-color" placeholder="输入商品颜色">
                        </div>

                        <div class="am-form-group">
                            <label for="item-detailDescription">商品详细描述</label>
                            <textarea class="" rows="4" name="detailDescription" id="item-detailDescription" placeholder="输入商品详细描述"></textarea>
                        </div>

                        <div class="am-form-group">
                            <label for="item-component">商品成分</label>
                            <textarea class="" rows="2" name="component" id="item-component" placeholder="100% 棉。Machine washable at 30°C"></textarea>
                        </div>

                        <div class="am-form-group">
                            <label for="item-brandId">商品品牌</label>
                            <select name="brandId" id="item-brandId">
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <div class="am-form-group">
                            <label for="item-categoryId">商品类别</label>
                            <select name="categoryId" id="item-categoryId">
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <div class="am-form-group">
                            <label for="item-grade">商品等级</label>
                            <select name="grade" id="item-grade">
                                <option value="1">Baby</option>
                                <option value="2">Child</option>
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <div class="am-form-group">
                            <label for="item-gender">商品对象性别</label>
                            <select name="gender" id="item-gender">
                                <option value="M">男</option>
                                <option value="F">女</option>
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <div class="am-form-group">
                            <label for="item-priceHKD">商品港币价格</label>
                            <div class="am-input-group">
                                <input type="text" class="" name="priceHKD" id="item-priceHKD" placeholder="输入商品价格">
                                <span class="am-input-group-label">港币</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="item-priceCNY">商品人民币价格</label>
                            <div class="am-input-group">
                                <input type="text" class="" name="priceCNY" id="item-priceCNY" placeholder="输入商品价格">
                                <span class="am-input-group-label">人民币</span>
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="item-season">商品季节</label>
                            <input type="text" class="" name="season" id="item-season" placeholder="输入商品季节">
                        </div>

                        <div class="am-form-group">
                            <label for="item-tag">商品标签</label>
                            <input type="text" class="" name="tag" id="item-tag" placeholder="用#分开不同标签">
                        </div>

                        <div class="am-form-group am-form-file">
                            <button type="button" class="am-btn am-btn-success am-btn-sm">
                                <i class="am-icon-cloud-upload"></i> 选择要上传的商品图片
                            </button>
                            <input id="item-images" type="file" name="item-images" >
                        </div>

                        <ul class="am-avg-sm-4 am-thumbnails" id="images-gallery">

                        </ul>

                        <div class="am-form-group" style="display:none">
                            <label for="item-images-array">商品图片数组</label>
                            <textarea class="" rows="4" name="images_array" id="item-images-array" placeholder="商品图片数组"></textarea>
                        </div>

                        <p><button type="button" id="upload-single-item" class="am-btn am-btn-default">提交</button></p>
                    </fieldset>
                </form>
            </div>

            <!-- 批量上传报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">上传文件类型错误</div>
                    <div class="am-modal-bd">
                        请上传CSV类型的文件
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 图片上传报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="single-pic-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">图片上传错误</div>
                    <div class="am-modal-bd">
                        请重新上传图片
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 内容填写不完整报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="single-input-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">请把内容填写完整</div>
                    <div class="am-modal-bd">
                        请把内容填写完整
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 单个商品提交出错报错框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="single-upload-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">商品上传出错</div>
                    <div class="am-modal-bd">
                        请重新上传
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <!-- 商品提交成功提醒框 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="success-modal">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">商品上传成功</div>
                    <div class="am-modal-bd">
                        商品上传成功
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 UltraBravo Inc.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/app.js"></script>
<script src="__PUBLIC__/starball/js/jquery.form.js"></script>
<!-- 自己的JS代码-->
<script>
    // respond to the event
    var imageKey;
    var imagesArray = new Array();
    $(function() {
        $('#doc-form-file').on('change', function() {
            var fileName = this.files[0].name;
            // check whether it is a csv file
            // if it is not a csv file
            if (fileName.indexOf(".csv") == -1 && fileName.indexOf(".CSV") == -1) {
                $('#my-alert').modal('open');
            }
            // if it is a csv file
            else {
                $('#file-list').html('<span class="am-badge">' + fileName + '</span> ');
            }
        });
    });
    $("#upload-csv-file").click(function(){
        // upload the csv file
        var $form = $("#csv-file-upload");
        var options = {
            type : 'post',
            url : "./uploadCsv",
            dataType: 'text',
            contentType: "application/json; charset=utf-8",
            success:function(data) {
                if ($.parseJSON(data).status == "1") {
                    $("#success-modal").modal('open');
                } else {
                    alert("CSV文件第" + $.parseJSON(data).row + "行格式错误");
                    $('#single-upload-alert').modal('open');
                }
            },
            error:function(XmlHttpRequest, textStatus, errorThrown){
                alert(textStatus);
                alert(errorThrown);
            }
        };
        $form.ajaxSubmit(options);
    });
    var qiniuToken = $("#qiniuToken").val().trim();
    var Qiniu_UploadUrl = "http://up.qiniu.com";
    $(document).ready(function(){
        // category
        $.getJSON( "./getCategoryInfo", function(data) {
            $.each(data, function( index, value ) {
                $("#item-categoryId").append("<option value='" + value.categoryId + "'>" + value.categoryName + "</option>");
            });
        });
        // brand
        $.getJSON( "./getBrandInfo", function(data) {
            $.each(data, function( index, value ) {
                $("#item-brandId").append("<option value='" + value.brandId + "'>" + value.brandName + "</option>");
            });
        });
    });
    // qiniu upload
    $("#item-images").change(function() {
        $(this).prop('disabled', true);
        var Qiniu_upload = function(f, token, key) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', Qiniu_UploadUrl, true);
            var formData;
            formData = new FormData();
            if (key !== null && key !== undefined) formData.append('key', key);
            formData.append('token', token);
            formData.append('file', f);
            xhr.onreadystatechange = function(response) {
                if (xhr.readyState == 4 && xhr.status == 200 && xhr.responseText != "") {
                    $("#item-images").prop('disabled', false);
                    $('li:last-child', $("#images-gallery")).remove();
                    var $li = $("<li></li>");
                    $li.append('<img class="am-thumbnail" src="http://7xp6oq.com2.z0.glb.qiniucdn.com/' + key +'" />');
                    var $button = $('<button type="button" name="' + key + '" class="am-close">&times;</button>');
                    $button.click(function() {
                        var currentKey = $(this).attr("name");
                        $.getJSON("./deleteImageByQiniuKey?qiniuKey=" + currentKey,function(result){
                            if (result.status == "1") {
                                $li.remove();
                                imagesArray.splice(imagesArray.indexOf("http://7xp6oq.com2.z0.glb.qiniucdn.com/" + currentKey), 1);
                            }
                        });
                    });
                    $li.append($button);
                    $("#images-gallery").append($li);
                    imagesArray.push("http://7xp6oq.com2.z0.glb.qiniucdn.com/" + key);
                } else if (xhr.status != 200 && xhr.responseText) {
                    $('#single-pic-alert').modal('open');
                    $("#item-images").prop('disabled', false);
                }
            };
            xhr.send(formData);
        };
        if ($("#item-images")[0].files.length > 0 && qiniuToken != "") {
            var startDate = new Date().getTime();
            imageKey = "item_image_" + startDate;
            $("#images-gallery").append('<li><img class="am-thumbnail" src="http://7xoh2x.com1.z0.glb.clouddn.com/loading.gif" /></li>');
            Qiniu_upload($("#item-images")[0].files[0], qiniuToken, imageKey);
        } else {
            $('#single-pic-alert').modal('open');
            $("#item-images").prop('disabled', false);
        }
    });
    $("#upload-single-item").click(function(){
        $("#item-images-array").val(imagesArray.join(","));
        if ($("#item-name").val().trim() == "") {
            $('#single-input-alert').modal('open');
            $("#item-name").focus();
            $("#upload-single-item")
        } else if ($("#item-color").val().trim() == "") {
            $('#single-input-alert').modal('open');
            $("#item-color").focus();
        } else if ($("#item-detailDescription").val().trim() == "") {
            $('#single-input-alert').modal('open');
            $("#item-detailDescription").focus();
        } else if ($("#item-component").val().trim() == "") {
            $('#single-input-alert').modal('open');
            $("#item-component").focus();
        } else if ($("#item-priceHKD").val().trim() == "") {
            $('#single-input-alert').modal('open');
            $("#item-priceHKD").focus();
        } else if ($("#item-priceCNY").val().trim() == "") {
            $('#single-input-alert').modal('open');
            $("#item-priceCNY").focus();
        }else if ($("#item-season").val().trim() == "") {
            $('#single-input-alert').modal('open');
            $("#item-season").focus();
        } else if ($("#item-images-array").val().trim() == "") {
            $('#single-input-alert').modal('open');
        } else {
            var $form = $("#single-item-form");
            var options = {
                type : 'post',
                url : "./uploadSingleItem",
                dataType: 'text',
                contentType: "application/json; charset=utf-8",
                success:function(data) {
                    $("#upload-single-item").prop('disabled', false);
                    if ($.parseJSON(data).status == "success") {
                        $("#success-modal").modal('open');
                        clearInputField();
                    } else {
                        $('#single-upload-alert').modal('open');
                    }
                },
                error:function(XmlHttpRequest, textStatus, errorThrown){
                    $("#upload-single-item").prop('disabled', false);
                    alert(textStatus);
                    alert(errorThrown);
                }
            };
            $form.ajaxSubmit(options);
            $(this).prop('disabled', true);
        }
    });

    function clearInputField() {
        $("#item-name").val("");
        $("#item-color").val("");
        $("#item-detailDescription").val("");
        $("#item-component").val("");
        $("#item-priceHKD").val("");
        $("#item-priceCNY").val("");
        $("#item-season").val("");
        $("#item-tag").val("");
        $("#item-images-array").val("");
        $("#images-gallery").empty();
        imagesArray = new Array();
    }

</script>
</body>
</html>
