<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>博客管理</title>
    <meta name="description" content="博客管理页面">
    <meta name="keywords" content="help">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>StarBall</strong> <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="../Order" target="_blank"><span class="am-icon-home"></span> 订单管理</a></li>
                <li><a href="../Order/cancel" target="_blank"><span class="am-icon-home"></span> 退单管理</a></li>
                <li><a href="../Brand" target="_blank"><span class="am-icon-square"></span> 品牌管理</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 商品管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="./upload" class="am-cf" target="_blank"><span class="am-icon-upload"></span> 商品上新</a></li>
                        <li><a href="./search" target="_blank"><span class="am-icon-search"></span> 商品搜索</a></li>
                        <li><a href="./mainPageSetting" target="_blank"><span class="am-icon-level-up"></span> 首页上新</a></li>
                    </ul>
                </li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#blog-nav'}"><span class="am-icon-file"></span> 博客 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="blog-nav">
                        <li><a href="./search" class="am-cf" target="_blank"><span class="am-icon-search"></span> 博客管理</a></li>
                        <li><a href="./create" target="_blank"><span class="am-icon-upload"></span> 写新博客</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-g">
            <!-- searching conditions area -->
            <div class="am-u-sm-12">
                <form class="am-form" id="blog-search-form" action="" method="post">
                    <fieldset>
                        <legend>搜索条件设置</legend>

                        <div class="am-form-group">
                            <label for="blog-title">博客标题</label>
                            <input type="text" class="" name="blog-title" id="blog-title" placeholder="输入博客标题模糊搜索" value="{$searchConditions.blog-title}">
                        </div>

                        <div class="am-form-group">
                            <label for="blog-abstract">博客摘要</label>
                            <input type="text" class="" name="blog-abstract" id="blog-abstract" placeholder="输入博客摘要模糊搜索" value="{$searchConditions.blog-abstract}">
                        </div>

                        <div class="am-form-group">
                            <label for="blog-content">博客内容</label>
                            <input type="text" class="" name="blog-content" id="blog-content" placeholder="输入博客内容模糊搜索" value="{$searchConditions.blog-content}">
                        </div>

                        <div class="am-form-group">
                            <label for="blog-createdDateStart">创建起始时间</label>
                            <input type="text" class="" name="blog-createdDateStart" id="blog-createdDateStart" placeholder="创建起始时间" value="{$searchConditions.blog-createdDateStart}" data-am-datepicker readonly>
                        </div>

                        <div class="am-form-group">
                            <label for="blog-createdDateEnd">创建结束时间</label>
                            <input type="text" class="" name="blog-createdDateEnd" id="blog-createdDateEnd" placeholder="创建结束时间" value="{$searchConditions.blog-createdDateEnd}" data-am-datepicker readonly>
                        </div>

                        <div class="am-form-group">
                            <label for="blog-status">博客状态</label>
                            <select name="blog-status" id="blog-status">
                                <option value="nothing">请选择</option>
                                <option value="0">草稿</option>
                                <option value="1">已发布</option>
                            </select>
                            <span class="am-form-caret"></span>
                        </div>

                        <p><button type="submit" id="blog-search-button" class="am-btn am-btn-primary">搜索</button></p>
                    </fieldset>
                </form>
            </div>

            <div class="am-u-sm-12">
                <table class="am-table am-table-bordered am-table-striped am-table-compact">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>摘要</th>
                        <th>创建时间</th>
                        <th>最后更新时间</th>
                        <th>状态</th>
                        <th>编辑</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="data" id="vo">
                    <tr id="blog{$vo.blogId}">
                        <td>{$vo.title}</td>
                        <td>{$vo.abstract}</td>
                        <td>{$vo.createdDt}</td>
                        <td>{$vo.lastUpdatedDt}</td>
                        <td>
                            <switch name="vo.status">
                                <case value="0">草稿</case>
                                <case value="1">已发布</case>
                            </switch>
                        </td>
                        <td><a class="am-btn am-btn-primary" href="./edit?blogId={$vo.blogId}" target="_blank">编辑</a></td>
                        <td><button type="button" name="delete{$vo.blogId}" class="delete-button am-btn am-btn-secondary">删除</button></td>
                    </tr>
                    </volist>
                    </tbody>
                </table>
            </div>

            <!-- 删除失败 -->
            <div class="am-modal am-modal-alert" tabindex="-1" id="delete-fail">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">删除失败</div>
                    <div class="am-modal-bd">
                        删除失败
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 UltraBravo Inc.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/app.js"></script>
<script src="__PUBLIC__/starball/js/jquery.form.js"></script>
<!-- 自己的JS代码-->
<script>
    $(".delete-button.am-btn.am-btn-secondary").click(function(){
        var blogId = $(this).attr("name").replace("delete", "");
        $.getJSON("./deleteOneBlogById?blogId=" + blogId,function(result){
            if (result.status == "1") {
                $("#blog" + blogId).remove();
            } else {
                $("#delete-fail").modal("open");
            }
        });
    });
</script>
</body>
</html>
