<extend name="Public/base" />
<block name="title"><title>{$Think.lang.accessory}</title></block>
<block name="main">
<div class="am-g yu-main-container">
    <div class="am-u-sm-12 am-padding-0">
        <ol class="am-breadcrumb am-breadcrumb-slash am-kai am-margin-bottom-15 am-text-center">
                <div class="yu-listpage-header">
                      <span class="yu-listpage-seperate"></span>
                      <span class="yu-listpage-title">{$Think.lang.accessory}</span>
                </div>
        </ol>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
        <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
            <a href="#top" title="回到顶部"> <span class="am-gotop-title">回到顶部</span> <i class="am-gotop-icon am-icon-chevron-up"></i> </a>
        </div>
        <div class="am-g" style="margin-top:15px;">
            <div class="am-sm-8 am-u-md-12 am-u-lg-12 am-padding-0 am-kai">
                <volist name="itemList" id="vo">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-4 am-u-end item-caption-adjustor  yu-list-item">
                        <a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}">
                            <div class="am-thumbnail" style="border:none;">
                                <img src="{$vo.image}" alt=""/>
                                <div class="am-thumbnail-caption" style="border:none">
                                    <span class="listpage-title-item-panier">{$vo.name}</span>
                                    <span class="listpage-item-price">
                                       {$priceSymbol}  {$vo.price}
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}">
							<span  class="yu-age-list"   style="position: absolute;top: 30%; left: 50%; background-color: rgb(248, 248, 248); font-size: 14px; min-width: 150px;display: none">
								<volist name="vo['ageList']" id="ageList">
									<span style="display: inline-block; padding: 5px; border-bottom: 1px solid #CECECE; color: black">{$ageList.age}</span>
								</volist>
							</span>
						</a>
                    </div>
                </volist>
            </div>
        </div>
        <div class="am-pagination am-pagination-centered">
            {$page}
        </div>
    </div>
</div>
</block>
<block name="customizedJavascript">
<script>
//hover show size
$("div.yu-list-item").mouseenter(function(){
	$(this).find("span.yu-age-list").fadeIn();
});
$("div.yu-list-item").mouseleave(function(){
	$(this).find("span.yu-age-list").fadeOut();
});
</script>
</block>