<extend name="Public/base" />
<block name="title">
    <title>全部精选</title>
</block>
<block name="main">
    <div class="am-g yu-boutique-container">
        <ol class="am-breadcrumb am-breadcrumb-slash am-kai am-margin-bottom-15 am-text-center">
            <div class="yu-listpage-header">
                <span class="yu-listpage-seperate"></span>
                <span class="yu-listpage-title">全部精选</span>
            </div>
            <div class="filterings">
                首页/精选
            </div>
        </ol>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
        <div class="am-g am-kai yu-boutique-viewlist">
            <volist name="itemList" id="boutiqueList">
            	<div class="am-u-lg-4 am-u-md-6 am-u-sm-12 yu-boutique-spacefixer">
	                <div class="am-thumbnail am-padding-0">
	                    <img src="{$boutiqueList.image}" alt="" class="yu-boutiqueimg-fixer">
	                    <div class="am-thumbnail-caption am-kai am-text-center">
	                        <p class="yu-home-title">
	                            {$boutiqueList.title}
	                        </p>
	                        <p class="yu-home-subtitle">
	                            {$boutiqueList.subtitle}
	                        </p>
	                        <p class="am-margin-0">
	                            <a href="{$boutiqueList.targetItemLink}" class="yu-home-button"> 〉立即购买 </a>
	                        </p>
	                    </div>
	                </div>
	            </div>
            </volist>
         </div>
    </div>
</block>
<block name="customizedJavascript">
<script>
	$("div.am-g.am-kai.yu-boutique-viewlist div:last-child").addClass("am-u-end");
	$("#searchButton").click(function(){
	var searchValue = $("#searchValue")[0].value;
	if(searchValue != ""){
			var url = "{:U('Starball/List/showList/by/$by/byValue/$byValue')}";
			url = url.replace("$by", "search");
			url = url.replace("$byValue", encodeURI($("#searchValue")[0].value));
			window.location.href=url;
		}else{
			$("#searchValue").attr("placeholder", "请填写搜索条件");
		}
		
	});
</script>
</block>