<extend name="Public/base" />
<block name="title">
    <title>全部精选</title>
</block>
<block name="main">
    <div class="am-g yu-boutique-container">
        <ol class="am-breadcrumb am-breadcrumb-slash am-kai am-margin-bottom-15 am-text-center">
            <div class="yu-listpage-header">
                <span class="yu-listpage-seperate"></span>
                <span class="yu-listpage-title">全部精选</span>
            </div>
            <div class="filterings">
                首页/精选
            </div>
        </ol>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
        <div class="am-g am-kai yu-boutique-viewlist">
            <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 yu-boutique-spacefixer">
                <div class="am-thumbnail am-padding-0">
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/gucci-405-spring-summer-2016.jpg" alt="" class="yu-boutiqueimg-fixer">
                    <div class="am-thumbnail-caption am-kai am-text-center">
                        <p class="yu-home-title">
                            GUCCI
                        </p>
                        <p class="yu-home-subtitle">
                            单宁世界
                        </p>
                        <p class="am-margin-0">
                            <a href="##" class="yu-home-button"> 〉立即购买 </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 yu-boutique-spacefixer">
                <div class="am-thumbnail am-padding-0">
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/gucci-405-spring-summer-2016.jpg" alt="" class="yu-boutiqueimg-fixer">
                    <div class="am-thumbnail-caption am-kai am-text-center">
                        <p class="yu-home-title">
                            GUCCI
                        </p>
                        <p class="yu-home-subtitle">
                            单宁世界
                        </p>
                        <p class="am-margin-0">
                            <a href="##" class="yu-home-button"> 〉立即购买 </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 yu-boutique-spacefixer">
                <div class="am-thumbnail am-padding-0">
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/gucci-405-spring-summer-2016.jpg" alt="" class="yu-boutiqueimg-fixer">
                    <div class="am-thumbnail-caption am-kai am-text-center">
                        <p class="yu-home-title">
                            GUCCI
                        </p>
                        <p class="yu-home-subtitle">
                            单宁世界
                        </p>
                        <p class="am-margin-0">
                            <a href="##" class="yu-home-button"> 〉立即购买 </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 yu-boutique-spacefixer">
                <div class="am-thumbnail am-padding-0">
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/gucci-405-spring-summer-2016.jpg" alt="" class="yu-boutiqueimg-fixer">
                    <div class="am-thumbnail-caption am-kai am-text-center">
                        <p class="yu-home-title">
                            GUCCI
                        </p>
                        <p class="yu-home-subtitle">
                            单宁世界
                        </p>
                        <p class="am-margin-0">
                            <a href="##" class="yu-home-button"> 〉立即购买 </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 yu-boutique-spacefixer">
                <div class="am-thumbnail am-padding-0">
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/gucci-405-spring-summer-2016.jpg" alt="" class="yu-boutiqueimg-fixer">
                    <div class="am-thumbnail-caption am-kai am-text-center">
                        <p class="yu-home-title">
                            GUCCI
                        </p>
                        <p class="yu-home-subtitle">
                            单宁世界
                        </p>
                        <p class="am-margin-0">
                            <a href="##" class="yu-home-button"> 〉立即购买 </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-6 am-u-sm-12 yu-boutique-spacefixer">
                <div class="am-thumbnail am-padding-0">
                    <img src="http://7xr7p7.com2.z0.glb.qiniucdn.com/gucci-405-spring-summer-2016.jpg" alt="" class="yu-boutiqueimg-fixer">
                    <div class="am-thumbnail-caption am-kai am-text-center">
                        <p class="yu-home-title">
                            GUCCI
                        </p>
                        <p class="yu-home-subtitle">
                            单宁世界
                        </p>
                        <p class="am-margin-0">
                            <a href="##" class="yu-home-button"> 〉立即购买 </a>
                        </p>
                    </div>
                </div>
            </div>
    </div>
</block>