<extend name="Public/base" />
<block name="title"><title>产品列表</title></block>
<block name="main">
<div class="am-g yu-main-container">
	<div class="am-u-sm-12 am-padding-0">
		<ol class="am-breadcrumb am-breadcrumb-slash am-kai am-margin-bottom-15 am-text-center">
			    <div class="yu-listpage-header">
                      <span class="yu-listpage-seperate"></span>
                      <span class="yu-listpage-title">新系列</span>
                </div>
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">春·夏 2016</a>
			</li>
		</ol>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
		<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
			<a href="#top" title="回到顶部"> <span class="am-gotop-title">回到顶部</span> <i class="am-gotop-icon am-icon-chevron-up"></i> </a>
		</div>
		<span><a class="am-kai" style="font-size:12px;color:#A9A9A9;margin-bottom:1%;">筛选</a></span>
		<div class="am-g" style="margin-top:15px;">
			<div class="am-show-md-up am-u-md-3 am-u-lg-3 am-kai" style="font-size:15px; ">
				<section data-am-widget="accordion" class="am-accordion am-accordion-default am-margin-0" data-am-accordion='{ "multiple": true }'>
					<if condition="$by neq 'brand'">
						<dl class="am-accordion-item brand">
							<dt class="am-accordion-title">
								品牌
							</dt>
							<dd class="am-accordion-bd am-collapse ">
								<div class="am-accordion-content">
									<volist name="brand" id="data">
										<label class="am-radio am-secondary">
											<input class="brand {$data.brandId}" type="checkbox" value="{$data.brandId}" data-am-ucheck />
											{$data.brandName}
										</label>
									</volist>
								</div>
							</dd>
						</dl>
					</if>
					<dl class="am-accordion-item gender">
						<dt class="am-accordion-title">
							性别
						</dt>
						<dd class="am-accordion-bd am-collapse ">
							<div class="am-accordion-content">
								<volist name="gender" id="gdata">
									<label class="am-radio am-secondary">
										<input class="gender {$gdata.gender}" type="checkbox"  value="{$gdata.gender}" data-am-ucheck>
										<if condition="$gdata.gender eq 'M'">男<else />女</if>
									</label>
								</volist>
							</div>
						</dd>
					</dl>
					<dl class="am-accordion-item age">
						<dt class="am-accordion-title">
							年龄
						</dt>
						<dd class="am-accordion-bd am-collapse ">
							<div class="am-accordion-content">
								<!-- <volist name="brand" id="data">
									<label class="am-radio am-secondary">
										<input id="{$data.brandName}" class="brand" type="checkbox" value="{$data.brandId}" data-am-ucheck />
										{$data.brandName}
									</label>
								</volist> -->
							</div>
						</dd>
					</dl>
					<dl class="am-accordion-item color">
						<dt class="am-accordion-title">
							颜色
						</dt>
						<dd class="am-accordion-bd am-collapse ">
							<div class="am-accordion-content">
								<volist name="color" id="cdata">
									<label class="am-radio am-secondary">
										<input class="color {$cdata.color}" type="checkbox" value="{$cdata.color}" data-am-ucheck />
										{$cdata.color}
									</label>
								</volist>
							</div>
						</dd>
					</dl>
					<dl class="am-accordion-item season">
						<dt class="am-accordion-title">
							季节						
						</dt>
						<dd class="am-accordion-bd am-collapse ">
							<div class="am-accordion-content">
								<!-- <volist name="brand" id="data">
									<label class="am-radio am-secondary">
										<input id="{$data.brandName}" class="brand" type="checkbox" value="{$data.brandId}" data-am-ucheck />
										{$data.brandName}
									</label>
								</volist> -->
							</div>
						</dd>
					</dl>
					<dl class="am-accordion-item category">
						<dt class="am-accordion-title">
							类别
						</dt>
						<dd class="am-accordion-bd am-collapse ">
							<div class="am-accordion-content">
								<volist name="category" id="data">
									<label class="am-radio am-secondary">
										<input class="category {$data.categoryId}" type="checkbox" value="{$data.categoryId}" data-am-ucheck />
										{$data.categoryName}({$data.count})
										<!-- <if condition="count($data['subCategories'])!=0">
											<ul>
												<volist name="data['subCategories']" id="subs">
													<li id="{$subs.categoryId}">
														{$subs.categoryName}
													</li>
												</volist>
											</ul>
										</if> --> 
									</label>
								</volist>
							</div>
						</dd>
					</dl>
				</section>
			</div>
			<div class="am-sm-8 am-u-md-9 am-u-lg-9 am-padding-0">
				<volist name="itemList" id="vo">
					<div class="am-u-sm-12 am-u-md-6 am-u-lg-4 am-u-end item-caption-adjustor">
						<a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}">
							<div class="am-thumbnail" style="border:none;">
								<img src="{$vo.image}" alt=""/>
								<div class="am-thumbnail-caption" style="border:none">
									<span class="listpage-title-item-panier">{$vo.name}</span>
									<span class="listpage-subtitle-item-panier">
										{$vo.detailDescription}
									</span>
									<span class="listpage-item-price">
									   ￥ 888
									</span>
								</div>
							</div>
						</a>
					</div>
				</volist>
			</div>
		</div>
		<div class="am-pagination am-pagination-centered">
			{$page}
		</div>
	</div>
</div>
</block>
<block name="customizedJavascript">
<script>
$(document).ready(function(){
	if({:$brandsChecked} != null){
		applychecks("brand",{:$brandsChecked});
	}
	if({:$categoriesChecked} != null){
		applychecks("category",{:$categoriesChecked});
	}
	if({:$gendersChecked} != null){
		applychecks("gender",{:$gendersChecked});
	}
	if({:$colorsChecked} != null){
		applychecks("color",{:$colorsChecked});
	}
});
function applychecks(type, checkedArray){
		var checkeds = new Array();
		$(".am-accordion-item."+type).addClass("am-active");
		$(".am-accordion-item."+type+" dd").addClass("am-in");
		checkeds = checkedArray;
		for(var i = 0; i < checkeds.length; i++){
			$("."+type+"."+checkeds[i]).uCheck('check');
		}
}
$("input").click(function(){
	var params = "";
	var brands = new Array();
	var categories = new Array();
	var genders = new Array();
	var colors = new Array();
	
	//for brand, single
	if($(this).hasClass('brand')&&$(this).is('checked')){
		brands.push($(this).attr("value"));
	}else{
		$("input.brand").each(function(){
			if($(this).is(':checked')){
				brands.push($(this).attr("value"));
			}
		});
	}
	if(brands.length != 0){
		params = params+"/brands/"+brands.toString();
	}
	$("input.gender").each(function(){
		if($(this).is(':checked')){
			genders.push($(this).attr("value"));
		}
	});
	if(genders.length != 0){
		params = params+"/genders/"+genders.toString();
	}
	$("input.color").each(function(){
		if($(this).is(':checked')){
			colors.push($(this).attr("value"));
		}
	});
	if(colors.length != 0){
		params = params+"/colors/"+colors.toString();
	}
	$("input.category").each(function(){
		if($(this).is(':checked')){
			categories.push($(this).attr("value"));
		}
	});
	if(categories.length != 0){
		url = url+"/categories/"+categories.toString();
	}
	var url = "{:U('Starball/List/showList/by/$by/byValue/$byValue$params')}";
	url = url.replace("$by","{$by}");
	url = url.replace("$byValue","{$byValue}");
	url = url.replace("$params",params);
	window.location.href=url;
});
</script>
</block>