<extend name="Public/base" />
<block name="title"><title>产品列表</title></block>
<block name="main">
<div class="am-g">
	<div class="am-u-sm-10 am-u-sm-offset-1">
		<ol class="am-breadcrumb am-breadcrumb-slash am-kai" style="text-align:center;">
			<h1 style="text-align:center; margin-bottom:0;margin-top:3%;"><span class="am-active"> ————— 新系列 ————— </span></h1>
			<li>
				<a href="#">首页</a>
			</li>
			<li>
				<a href="#">春·夏 2016</a>
			</li>
		</ol>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
		<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
			<a href="#top" title="回到顶部"> <span class="am-gotop-title">回到顶部</span> <i class="am-gotop-icon am-icon-chevron-up"></i> </a>
		</div>
		<span><a style="font-size:12px;color:#A9A9A9;margin-left:1%;">筛选</a></span>
		<div class="am-g">
			<div class="am-show-md-up am-u-md-3 am-u-lg-3 am-kai" style="font-size:15px; ">
				<section data-am-widget="accordion" class="am-accordion am-accordion-default " data-am-accordion='{ "multiple": true }'>
					<dl id="gender" class="am-accordion-item">
						<dt class="am-accordion-title">
							性别
						</dt>
						<dd class="am-accordion-bd am-collapse ">
							<div class="am-accordion-content">
								<label class="am-radio am-secondary">
									<input id="M" class="gender" type="checkbox"  value="M" data-am-ucheck>
									男 </label>
								<label class="am-radio am-secondary">
									<input id="F" class="gender" type="checkbox"  value="F" data-am-ucheck>
									女 </label>
							</div>
						</dd>
					</dl>
					<dl id="category" class="am-accordion-item">
						<dt class="am-accordion-title">
							类别
						</dt>
						<dd class="am-accordion-bd am-collapse ">
							<div class="am-accordion-content">
								<volist name="category" id="data">
									<label class="am-radio am-secondary">
										<input id="{$data.categoryId}" class="category" type="checkbox" value="{$data.categoryId}" data-am-ucheck />
										{$data.categoryName}
										<!-- <if condition="count($data['subCategories'])!=0">
											<ul>
												<volist name="data['subCategories']" id="subs">
													<li id="{$subs.categoryId}">
														{$subs.categoryName}
													</li>
												</volist>
											</ul>
										</if> --> 
									</label>
								</volist>
							</div>
						</dd>
					</dl>
				</section>
			</div>
			<div class="am-sm-8 am-u-md-9 am-u-lg-9">
				<volist name="itemList" id="vo">
					<div class="am-u-sm-12 am-u-md-6 am-u-lg-4 am-u-end">
						<a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}">
							<div class="am-thumbnail">
								<img src="{$vo.image}" alt=""/>
								<div class="am-thumbnail-caption">
									<h3>{$vo.name}</h3>
									<p>
										{$vo.detailDescription}
									</p>
									<p>
										<button class="am-btn am-btn-primary">
											按钮
										</button>
										<button class="am-btn am-btn-default">
											按钮
										</button>
									</p>
								</div>
							</div>
						</a>
					</div>
				</volist>
			</div>
		</div>
		<div class="am-pagination am-pagination-centered">
			{$page}
		</div>
	</div>
</div>
</block>
<block name="customizedJavascript">
<script src="__PUBLIC__/starball/js/list.js"></script>
</block>