<extend name="Public/base" />
<block name="title"><title>产品列表</title></block>
<block name="main">
<div class="am-g yu-main-container">
	<div class="am-u-sm-12 am-padding-0">
		<ol class="am-breadcrumb am-breadcrumb-slash am-kai am-margin-bottom-15 am-text-center">
			    <div class="yu-listpage-header">
                      <span class="yu-listpage-seperate"></span>
                      <span class="yu-listpage-title">{$Think.lang.shoes}</span>
                </div>
	            <if condition="$by eq 'brand'"><div class="filterings">{$brand[0].brandName}</div></if>
	            <if condition="$byValue eq 'brand'"><div class="filterings">{$brand[0].brandName}</div></if>
	            <if condition="$byValue eq 'category'"><div class="filterings">{$category[0].categoryName}</div></if>
	            <if condition="$by eq 'search'"><div class="filterings">搜索条件: {$byValue}</div></if>
		</ol>
		<hr data-am-widget="divider" style="" class="am-divider am-divider-default" />
		<div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
			<a href="#top" title="回到顶部"> <span class="am-gotop-title">回到顶部</span> <i class="am-gotop-icon am-icon-chevron-up"></i> </a>
		</div>
		<span><a href="javascript:void(0)" class="am-kai yu-filter-button" style="font-size:12px;color:#A9A9A9;margin-bottom:1%;">{$Think.lang.filter}<i class="am-icon-eye"></i></a></span>
		<div class="am-g" style="margin-top:15px;">
			<div class=" am-u-md-3 am-u-lg-3 am-kai" style="font-size:15px; ">
				<section data-am-widget="accordion" class="am-accordion am-accordion-gapped am-margin-0 am-show-md-up" data-am-accordion='{ "multiple": true }'>
                    <if condition="$by neq 'brand'">
                        <dl class="am-accordion-item am-margin-0 brand">
                            <dt class="am-accordion-title yu-bottomborder-none">
                                {$Think.lang.brand}
                            </dt>
                            <dd class="am-accordion-bd am-collapse ">
                                <div class="am-accordion-content">
                                    <volist name="brand" id="data">
                                        <label class="am-radio am-secondary">
                                            <input class="brand {$data.brandId} filter" type="radio" name="radio1" value="{$data.brandId}" data-yu-val="{$data.brandName}" data-am-ucheck />
                                            {$data.brandName}
                                        </label>
                                    </volist>
                                </div>
                            </dd>
                        </dl>
                    </if>
                    <if condition="$by neq 'boy' and $by neq 'girl'">
                        <dl class="am-accordion-item yu-accordion-list gender">
                            <dt class="am-accordion-title yu-bottomborder-none">
                                {$Think.lang.sex}
                            </dt>
                            <dd class="am-accordion-bd am-collapse ">
                                <div class="am-accordion-content">
                                    <volist name="gender" id="gdata">
                                        <label class="am-radio am-secondary">
                                            <input class="gender {$gdata.gender} filter" type="radio" name="radio1"  value="{$gdata.gender}" data-yu-val="{$gdata.genderName}" data-am-ucheck>
                                            {$gdata.genderName}
                                        </label>
                                    </volist>
                                </div>
                            </dd>
                        </dl>
                    </if>
                    <if condition="$by neq 'baby'">
                        <dl class="am-accordion-item yu-accordion-list age">
                            <dt class="am-accordion-title yu-bottomborder-none">
                                {$Think.lang.shoeSize}
                            </dt>
                            <dd class="am-accordion-bd am-collapse ">
                                <div class="am-accordion-content">
                                    <volist name="age" id="adata">
                                        <label class="am-radio am-secondary">
                                            <input class="age {$adata} filter" type="radio" name="radio1" value="{$adata}" data-yu-val="{$adata}" data-am-ucheck />
                                            {$adata}{$Think.lang.footsizeunit}
                                        </label>
                                    </volist>
                                </div>
                            </dd>
                        </dl>
                    </if>
                    <dl class="am-accordion-item yu-accordion-list color">
                        <dt class="am-accordion-title yu-bottomborder-none">
                            {$Think.lang.color}
                        </dt>
                        <dd class="am-accordion-bd am-collapse ">
                            <div class="am-accordion-content">
                                <volist name="color" id="cdata">
                                    <label class="am-radio am-secondary">
                                        <input class="color {$cdata.color} filter" type="radio" name="radio1" value="{$cdata.color}" data-yu-val="{$cdata.color}" data-am-ucheck />
                                        {$cdata.color}
                                    </label>
                                </volist>
                            </div>
                        </dd>
                    </dl>
                    <dl class="am-accordion-item yu-accordion-list season">
                        <dt class="am-accordion-title yu-bottomborder-none">
                            {$Think.lang.season}                     
                        </dt>
                        <dd class="am-accordion-bd am-collapse ">
                            <div class="am-accordion-content">
                                <volist name="season" id="sdata">
                                    <label class="am-radio am-secondary">
                                        <input class="season {$sdata.season} filter" type="radio" name="radio1" value="{$sdata.season}" data-yu-val="{$sdata.season}" data-am-ucheck />
                                        {$sdata.season}
                                    </label>
                                </volist>
                            </div>
                        </dd>
                    </dl>
                    <dl class="am-accordion-item yu-accordion-list category">
                        <dt class="am-accordion-title">
                             {$Think.lang.class} 
                        </dt>
                        <dd class="am-accordion-bd am-collapse ">
                            <div class="am-accordion-content">
                                <volist name="category" id="data">
                                    <label class="am-radio am-secondary">
                                        <input class="category {$data.categoryId} filter" type="radio" name="radio1" value="{$data.categoryId}" data-yu-val="{$data.categoryName}" data-am-ucheck />
                                        {$data.categoryName}({$data.count})
                                        <!-- <if condition="count($data['subCategories'])!=0">
                                            <ul>
                                                <volist name="data['subCategories']" id="subs">
                                                    <li id="{$subs.categoryId}">
                                                        {$subs.categoryName}
                                                    </li>
                                                </volist>
                                            </ul>
                                        </if> --> 
                                    </label>
                                </volist>
                            </div>
                        </dd>
                    </dl>
                </section>
			</div>
			<div class="am-sm-8 am-u-md-9 am-u-lg-9 am-padding-0 am-kai">
				<volist name="itemList" id="vo">
					<div class="am-u-sm-12 am-u-md-6 am-u-lg-4 am-u-end item-caption-adjustor yu-list-item">
						<a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}">
							<div class="am-thumbnail" style="border:none;">
								<img src="{$vo.image}?imageView2/1/w/232/h/232/q/100" alt=""/>
								<div class="am-thumbnail-caption" style="border:none">
									<span class="listpage-title-item-panier">{$vo.name}</span>
									<span class="listpage-item-price">
									   <if condition="$vo.discount eq 100">{$priceSymbol}  {$vo.price}</if>
									   <if condition="$vo.discount neq 100"><span style="text-decoration: line-through;width: 50%; margin:0">{$priceSymbol}  {$vo.price}</span> <span style="color: red;width:50%;margin:0;">{$priceSymbol}  {$vo['price']*$vo['discount']/100|round=1}({$vo.discount}%)</span></if>
									</span>
								</div>
							</div>
						</a>
						
						<a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}">
							<span  class="yu-age-list"   style="position: absolute;top: 30%; left: 50%; background-color: rgb(248, 248, 248); font-size: 14px; min-width: 50px;display: none">
								<volist name="vo['ageList']" id="age">
									<span style="display: inline-block; padding: 5px; border-bottom: 1px solid #CECECE; color: black">{$age}码</span>
								</volist>
							</span>
						</a>
						
					</div>
				</volist>
			</div>
		</div>
		<div class="am-pagination am-pagination-centered">
			{$page}
		</div>
	</div>
</div>
</block>
<block name="customizedJavascript">
<script>
//menu postion
$("div.yu-sub-menu-list").removeClass("am-u-md-3 am-u-md-offset-1");
$("div.yu-sub-menu-list").addClass("am-u-md-5 am-margin-0 am-padding-0");
$("div.yu-sub-menu-selected").removeClass("am-u-md-10 am-u-md-offset-1");
$("div.yu-sub-menu-selected").addClass("am-u-md-12");
$(document).ready(function(){
	if({:$brandsChecked} != null){
		applychecks("brand",{:$brandsChecked});
	}
	if({:$categoriesChecked} != null){
		applychecks("category",{:$categoriesChecked});
	}
	if({:$gendersChecked} != null){
		applychecks("gender",{:$gendersChecked});
	}
	if({:$colorsChecked} != null){
		applychecks("color",{:$colorsChecked});
	}
	if({:$agesChecked} != null){
		applychecks("age",{:$agesChecked});
	}
	if({:$seasonsChecked} != null){
		applychecks("season",{:$seasonsChecked});
	}
	
});
function applychecks(type, checkedArray){
		var checkeds = new Array();
		$(".am-accordion-item."+type).addClass("am-active");
		$(".am-accordion-item."+type+" dd").addClass("am-in");
		checkeds = checkedArray;
		for(var i = 0; i < checkeds.length; i++){
			$("."+type+"."+checkeds[i]).uCheck('check');
			$(".filterings").append("/"+$("."+type+"."+checkeds[i]).attr("data-yu-val"));
		}
}
$("input.filter").click(function(){
	var params = "";
	var brands = new Array();
	var categories = new Array();
	var genders = new Array();
	var colors = new Array();
	var ages = new Array();
	var seasons = new Array();
	
	//for brand, single
	if($(this).hasClass('brand')&&$(this).is('checked')){
		brands.push($(this).attr("value"));
	}else{
		$("input.brand").each(function(){
			if($(this).is(':checked')){
				brands.push($(this).attr("value"));
			}
		});
	}
	if(brands.length != 0){
		params = params+"/brands/"+brands.toString();
	}
	$("input.gender").each(function(){
		if($(this).is(':checked')){
			genders.push($(this).attr("value"));
		}
	});
	if(genders.length != 0){
		params = params+"/genders/"+genders.toString();
	}
	$("input.color").each(function(){
		if($(this).is(':checked')){
			colors.push($(this).attr("value"));
		}
	});
	if(colors.length != 0){
		params = params+"/colors/"+colors.toString();
	}
	$("input.category").each(function(){
		if($(this).is(':checked')){
			categories.push($(this).attr("value"));
		}
	});
	if(categories.length != 0){
		params = params+"/categories/"+categories.toString();
	}
	$("input.age").each(function(){
		if($(this).is(':checked')){
			ages.push($(this).attr("value"));
		}
	});
	if(ages.length != 0){
		params = params+"/ages/"+ages.toString();
	}
	$("input.season").each(function(){
		if($(this).is(':checked')){
			seasons.push($(this).attr("value"));
		}
	});
	if(seasons.length != 0){
		params = params+"/seasons/"+seasons.toString();
	}
	var url = "{:U('Starball/List/shoes/by/$by/byValue/$byValue$params')}";
	url = url.replace("$by","shoes");
	url = url.replace("$byValue","shoes");
	url = url.replace("$params",params);
	window.location.href=url;
});

$("a.yu-filter-button").click(function(){
	$("section.am-accordion").toggleClass("am-show-md-up");
});

$("#searchButton").click(function(){
var searchValue = $("#searchValue")[0].value;
if(searchValue != ""){
		var url = "{:U('Starball/List/showList/by/$by/byValue/$byValue')}";
		url = url.replace("$by", "search");
		url = url.replace("$byValue", $("#searchValue")[0].value);
		window.location.href=url;
	}else{
		$("#searchValue").attr("placeholder", "请填写搜索条件");
	}
	
});

//hover show size
$("div.yu-list-item").mouseenter(function(){
	$(this).find("span.yu-age-list").fadeIn();
});
$("div.yu-list-item").mouseleave(function(){
	$(this).find("span.yu-age-list").fadeOut();
});

</script>
</block>