<extend name="Public/base" />
<block name="title">
    <title>我的账户</title>
</block>
<block name="main">
	<input type="hidden" value="{$tab}" id="tab"/>
	<input type="hidden" value="{$message}" id="message"/>
    <!-- Four Tabs -->
    <div class="yu-account-container">
        <div class="am-tabs" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs am-kai am-text-xs" style="background-color: #ececec">
                <li class="am-active yu-account-tab">
                    <a id="account" href="#tab1" style="padding:18px 0;">我的账户</a>
                </li>
                <li class="yu-account-tab">
                    <a id="order" href="#tab2" style="padding:18px 0;">我的订单和退货</a>
                </li>
                <li class="yu-account-tab">
                    <a id="coupon" href="#tab3" style="padding:18px 0;">我的优惠券</a>
                </li>
                <li class="yu-account-tab">
                    <a id="giftcard" href="#tab4" style="padding:18px 0;">我的礼品卡</a>
                </li>
            </ul>
            <div class="am-tabs-bd">
	            <!--Tab1 personal information block -->
	            <include file="personalInfo" />
                <!-- Tab 2---order information -->
                <include file="orderList" />
                <!-- Tab 3---my coupon -->
                <include file="myCoupon" />
               <!-- Tab 2---my giftcard -->
                <include file="myGiftcard" />
            </div>
        </div>
    </div>
</block>
<block name="customizedJavascript">
	<script>
		$("#"+$("#tab").val()).click();
		if($('#message').val() != ''){
			alert($('#message').val());
		}
	</script>
</block>