				<div class="am-tab-panel am-fade" id="tab3">
                    <div class="am-g am-kai" style="margin-top:39px;">
                        <section data-am-widget="accordion" class="am-accordion am-accordion-gapped am-no-layout" style="margin:0" data-am-accordion="{ &quot;multiple&quot;: true }">
                            <dl class="am-accordion-item yu-accordion-item yu-accordion-item">
                                <dt class="am-accordion-title yu-accordion-title">
                                    我的代金券
                                </dt>
                                <dd class="am-accordion-bd am-collapse" style="height: 0px;">
                                    <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
                                    <div class="am-accordion-content">
                                        你现在还没有代金券
                                    </div>
                                </dd>
                            </dl>
                        </section>
                    </div>
                </div>