<extend name="Public/base" />
<block name="title">
    <title>订单详情</title>
</block>
<block name="main">
    <div class="yu-account-container" style="margin-top: 39px;">
        <a class="yu-backto-order am-kai am-margin-bottom-3" href="{:U('Starball/User/index', array('tab'=>'order'))}">返回我的订单 〉</a>
        <table class="am-table am-table-bordered am-table-centered am-kai">
            <tr class="yu-thead-bg">
                <th class="am-text-middle yu-thead-taller" colspan="4">订单号{$order.orderNumber}</th>
            </tr>
            <tr>
                <td class="am-text-left am-text-sm">物流方式<br>{$order.shippingMethod}</td>
                <td class="am-text-left am-text-sm">支付方式
                <br>
                {$orderBill.channel}</td>
                <td class="am-text-left am-text-sm">日期
                <br>
                {$order.orderDate}</td>
                <td class="am-text-left am-text-sm">金额
                <br>
                {$priceSymbol} {$order.totalFee}</td>
            </tr>
            <tr>
                <td class="am-text-left am-text-sm" colspan="2">收件地址：
                <br>
                深圳市南山区讯美科技广场3栋1521B</td>
                <td class="am-text-left am-text-sm" colspan="2">状态：
                <br>
                	{$order.statusDescription}</td>
            </tr>
            <tr>
                <td class="am-text-left am-text-sm" style="border-right: none;" colspan="2">商品总计</td>
                <td class="am-text-right am-text-sm" style="border-left: none;" colspan="2">{$priceSymbol} {$order.totalAmount}</td>
            </tr>
            <tr>
                <td class="am-text-left am-text-sm" style="border-right: none;" colspan="2">邮费</td>
                <td class="am-text-right am-text-sm" style="border-left: none;" colspan="2">{$priceSymbol} {$order.shippingFee}</td>
            </tr>
            <gt name="order['giftPackageFee']" value="0">
	            <tr>
	                <td class="am-text-left am-text-sm" style="border-right: none;" colspan="2">礼品包装费用</td>
	                <td class="am-text-right am-text-sm" style="border-left: none;" colspan="2">{$priceSymbol} {$order.giftPackageFee}</td>
	            </tr>
            </gt>
            <tr class="yu-thead-bg">
                <td class="am-text-left am-text-sm" style="border-right: none;" colspan="2">总计</td>
                <td class="am-text-right am-text-sm" style="border-left: none;" colspan="2">{$priceSymbol} {$order.totalFee}</td>
            </tr>
            <tr>
                <td class="am-text-left" colspan="4">
                <div class="yu-orderinfo-title am-kai">
                    <h6 class="am-margin-bottom-0">选择您需要退货的商品</h6>
                    <span class="am-text-sm">请阐明您的退货理由。</span>
                </div>
                <volist name="orderItems" id="vo">
	                <div class="yu-item-styler am-g">
	                    <div class="yu-image-styler am-u-sm-2">
	                        <img src="{$vo.itemImage}?imageView2/1/w/100/h/100/q/100" style="width:100px;">
	                    </div>
	                    <div class="yu-product-description am-u-sm-10 am-padding-0">
	                        <p class="yu-product-list">
	                            <span class="yu-product-title">{$vo.brandName}</span>
	                            <span class="yu-product-subtitle">{$vo.itemName}</span>
	                            <span class="yu-product-fronttitle"><span class="yu-product-order-content">尺码 :</span> {$vo.sizeDescription}</span>
	                            <span class="yu-product-fronttitle">
	                                <span class="yu-product-order-content">数量 :</span> {$vo.quantity}
	                                <form class="am-form am-form-horizontal" role="form" method="post">
	                                	<input type="hidden" name="orderItemId" value="{$vo.id}">
		                                <eq name="vo['status']" value="P">
		                                	<input type="hidden" name="method" value="returnFund">
		                                	<button type="submit" class="am-btn am-btn-default yu-black-button">申请退款</button>
	                                	</eq>
		                                <eq name="vo['status']" value="V">
		                                	<input type="hidden" name="method" value="returnGood">
		                                	<button type="submit" class="am-btn am-btn-default yu-black-button">申请退款</button>
	                                	</eq>
	                                </form>
	                                <span style="font-size: 14px;float:right"><eq name="vo['status']" value="C1">等待退款</eq></span>
	                                <span style="font-size: 14px;float:right"><eq name="vo['status']" value="C2">退款成功</eq></span>
	                            </span>
	                            <span class="yu-product-fronttitle"> <span class="yu-product-order-content">总金额 :</span> {$priceSymbol} {$vo.price} </span>
	                        </p>
	                    </div>
	                </div>
                </volist>
                </td>
            </tr>
        </table>
</block>