<div class="am-tab-panel am-fade am-in am-active am-padding-0" id="tab1">
                    <div class="am-g am-show-md-up" style="margin-top:39px;">
                        <div class="am-u-md-6 yu-account-leftside am-kai">
                            <div class="yu-account-block">
                                <p class="yu-account-title">
                                    {$Think.lang.personalinfo}
                                </p>
                                <p class="am-text-xs">
                                    {$Think.lang.personalinfoChange}
                                </p>
                                <form class="am-form" role="form" method="post" style="margin-bottom: 63px;">
                                	<if condition="$userData['userName'] eq ''">
										<div class="am-form-group">
										  <label class="am-radio-inline">
										    <input type="radio" name="userType" value="N" checked onchange="$('.newAccount').show()"> 设置新帐号
										  </label>
										  <label class="am-radio-inline">
										    <input type="radio" name="userType" value="E" onchange="$('.newAccount').hide()"> 绑定现有帐号
										  </label>
										</div>
                                	</if>
                                    <input type="text" name="userName" <if condition="$userData['userName'] neq ''">disabled="disabled"</if> 
                                    class="am-form-field am-text-xs yu-account-input newAccount" placeholder="{$Think.lang.nickname}*" 
                                    value=<if condition="$userData['userName'] neq ''">"{$userData.userName}"<else/>{$userName}</if>>
                                    
                                    <input type="text" name="email" <if condition="$userData['email'] neq ''">disabled="disabled"</if> 
                                    class="am-form-field am-text-xs yu-account-input" placeholder="{$Think.lang.email}*" 
                                    value=<if condition="$userData['email'] neq ''">"{$userData.email}"<else/>{$email}</if>>
                                    
                                    <input type="tel" name="mobile" class="am-form-field am-text-xs yu-account-input newAccount" placeholder="{$Think.lang.contactnumber}" 
                                    value=<if condition="$userData['mobile'] neq ''">"{$userData.mobile}"<else/>{$mobile}</if>>
                                    
                                    <if condition="$userData['password'] eq ''">
	                                    <input type="password" name="newPwd" class="am-form-field am-text-xs yu-account-input" placeholder="输入密码* （至少5个字符）">
	                                    <input type="password" name="newPwdRepeat" class="am-form-field am-text-xs yu-account-input newAccount" placeholder="确认您的密码*">
                                    </if>
                                    <p>
                                    	<if condition="$userData['userName'] eq ''">
                                    		<input type="hidden" name="method" value="setUpUserInfo">
	                                        <button type="submit" class="am-btn am-btn-default yu-black-button">
	                                            {$Think.lang.submit}
	                                        </button>
                                      	</if>
                                    	<if condition="$userData['userName'] neq ''">
                                    		<input type="hidden" name="method" value="changeUserInfo">
	                                        <button type="submit" class="am-btn am-btn-default yu-black-button">
	                                            {$Think.lang.submit}
	                                        </button>
                                      	</if>                                      
                                    </p>
                                </form>
                            </div>
                        	<!-- Password changing -->
	                        <if condition="$userData['password'] neq ''">
	                            <div class="yu-account-block">
	                                <p class="yu-account-title">
	                                    {$Think.lang.changePwd}
	                                </p>
	                                <form class="am-form" role="form" method="post">
	                                	<input type="hidden" name="method" value="changePassword">
	                                    <input type="password" name="currentPwd" class="am-form-field am-text-xs yu-account-input" placeholder="当前密码*">
	                                    <input type="password" name="newPwd" class="am-form-field am-text-xs yu-account-input" placeholder="输入密码* （至少5个字符）">
	                                    <input type="password" name="newPwdRepeat" class="am-form-field am-text-xs yu-account-input" placeholder="确认您的密码*">
	                                <p>
	                                    <button type="submit" class="am-btn am-btn-default yu-black-button">
	                                        {$Think.lang.submit}
	                                    </button>
	                                </p>
	                                </form>
	                            </div>
	                        </if>
                        </div>
                        <div class="am-u-md-6 yu-account-rightside am-kai">
                           <!-- My address -->
                            <div class="yu-account-block">
                                <p class="yu-account-title">
                                    {$Think.lang.myaddress}
                                </p>
                                <p class="am-text-xs">
                                    {$Think.lang.addressmsg1}
                                    <br>{$Think.lang.addressmsg2}
                                </p>
                                <volist name="addressList" id="vo">
	                                <section data-am-widget="accordion" class="am-accordion am-accordion-gapped am-no-layout" style="margin:0" data-am-accordion="{ &quot;multiple&quot;: true }">
	                                    <dl class="am-accordion-item yu-accordion-item yu-accordion-item">
	                                        <dt class="am-accordion-title yu-accordion-title">
	                                            {$vo.addressName}
	                                        </dt>
	                                        <dd class="am-accordion-bd am-collapse" style="height: 0px;">
	                                            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
	                                            <div class="am-accordion-content">
	                                                {$vo.contactName}<br>{$vo.address}
	                                                <if condition="$vo['province'] neq ''">
	                                                	<br>{$vo.postCode} {$vo.city} {$vo.province}
	                                                </if>
	                                                <br>{$vo.country}
	                                            </div>
	                                            <div style="margin-bottom: 10px;text-align: right">
		                                            <button class="am-btn am-btn-default am-btn-xs" 
		                                            	onclick="if(window.confirm('确定删除这个地址?')){window.location.href='{:U('Starball/User/deleteAddress', array('addressId'=>$vo['addressId']))}';}">删除</button>
	                                            </div>
	                                        </dd>
	                                    </dl>
	                                </section>
                                </volist>
                            </div>
                            <div class="yu-account-block">
                                <p class="yu-account-title">
                                    {$Think.lang.myfavorite}
                                </p>
                                <button type="button" class="am-btn am-btn-default yu-black-button" onclick="window.location.href='{:U('Starball/Favorite/index')}'">
                                    {$Think.lang.Cmyfavorites}
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- small screen -->
                    <!-- personal info -->
                    <div class="am-g am-show-sm-only" style="margin-top:39px;">
                        <div class="am-u-sm-12 am-kai">
                            <div class="yu-account-block-sm">
                                <p class="yu-account-title">
                                    {$Think.lang.personalinfo}
                                </p>
                                <p class="am-text-xs">
                                    {$Think.lang.personalinfoChange}
                                </p>
                               <form class="am-form" role="form" method="post" style="margin-bottom: 63px;">
                                	<if condition="$userData['userName'] eq ''">
										<div class="am-form-group">
										  <label class="am-radio-inline">
										    <input type="radio" name="userType" value="N" checked onchange="$('.newAccount').show()"> 设置新帐号
										  </label>
										  <label class="am-radio-inline">
										    <input type="radio" name="userType" value="E" onchange="$('.newAccount').hide()"> 绑定现有帐号
										  </label>
										</div>
                                	</if>
                                    <input type="text" name="userName" <if condition="$userData['userName'] neq ''">disabled="disabled"</if> 
                                    class="am-form-field am-text-xs yu-account-input newAccount" placeholder="{$Think.lang.nickname}*" 
                                    value=<if condition="$userData['userName'] neq ''">"{$userData.userName}"<else/>{$userName}</if>>
                                    
                                    <input type="text" name="email" <if condition="$userData['email'] neq ''">disabled="disabled"</if> 
                                    class="am-form-field am-text-xs yu-account-input" placeholder="{$Think.lang.email}*" 
                                    value=<if condition="$userData['email'] neq ''">"{$userData.email}"<else/>{$email}</if>>
                                    
                                    <input type="tel" name="mobile" class="am-form-field am-text-xs yu-account-input newAccount" placeholder="{$Think.lang.contactnumber}" 
                                    value=<if condition="$userData['mobile'] neq ''">"{$userData.mobile}"<else/>{$mobile}</if>>
                                    
                                    <if condition="$userData['password'] eq ''">
	                                    <input type="password" name="newPwd" class="am-form-field am-text-xs yu-account-input" placeholder="输入密码* （至少5个字符）">
	                                    <input type="password" name="newPwdRepeat" class="am-form-field am-text-xs yu-account-input newAccount" placeholder="确认您的密码*">
                                    </if>
                                    <p>
                                    	<if condition="$userData['userName'] eq ''">
                                    		<input type="hidden" name="method" value="setUpUserInfo">
	                                        <button type="submit" class="am-btn am-btn-default yu-black-button">
	                                            {$Think.lang.submit}
	                                        </button>
                                      	</if>
                                    	<if condition="$userData['userName'] neq ''">
                                    		<input type="hidden" name="method" value="changeUserInfo">
	                                        <button type="submit" class="am-btn am-btn-default yu-black-button">
	                                            {$Think.lang.submit}
	                                        </button>
                                      	</if>                                      
                                    </p>
                                </form>
                            </div>
                        </div>
                    	<!-- Password changing -->
                        <div class="am-u-sm-12 am-kai">
                        	<if condition="$userData['password'] neq ''">
	                            <div class="yu-account-block-sm">
	                                <p class="yu-account-title">
	                                    {$Think.lang.changePwd}
	                                </p>
	                                <form class="am-form" role="form" method="post">
	                                	<input type="hidden" name="method" value="changePassword">
	                                    <input type="password" name="currentPwd" class="am-form-field am-text-xs yu-account-input" placeholder="当前密码*">
	                                    <input type="password" name="newPwd" class="am-form-field am-text-xs yu-account-input" placeholder="输入密码* （至少5个字符）">
	                                    <input type="password" name="newPwdRepeat" class="am-form-field am-text-xs yu-account-input" placeholder="确认您的密码*">
	                                <p style="margin-bottom: 30px">
	                                    <button type="submit" class="am-btn am-btn-default yu-black-button">
	                                        {$Think.lang.submit}
	                                    </button>
	                                </p>
	                                </form>
	                            </div>
                           </if>
                        </div>
                        <!-- my address -->
                        <div class="am-u-sm-12 am-kai">
                            <div class="yu-account-block-sm" >
                                <p class="yu-account-title">
                                    {$Think.lang.myaddress}
                                </p>
                                <p class="am-text-xs">
                                    {$Think.lang.addressmsg1}
                                    <br>
                                    {$Think.lang.addressmsg2}
                                </p>
                                <volist name="addressList" id="vo">
	                                <section data-am-widget="accordion" class="am-accordion am-accordion-gapped am-no-layout" style="margin:0" data-am-accordion="{ &quot;multiple&quot;: true }">
	                                    <dl class="am-accordion-item yu-accordion-item yu-accordion-item">
	                                        <dt class="am-accordion-title yu-accordion-title">
	                                            {$vo.addressName}
	                                        </dt>
	                                        <dd class="am-accordion-bd am-collapse" style="height: 0px;">
	                                            <!-- 规避 Collapase 处理有 padding 的折叠内容计算计算有误问题， 加一个容器 -->
	                                            <div class="am-accordion-content">
	                                                {$vo.contactName}<br>{$vo.address}
	                                                <if condition="$vo['province'] neq ''">
	                                                	<br>{$vo.postCode} {$vo.city} {$vo.province}
	                                                </if>
	                                                <br>{$vo.country}
	                                            </div>
	                                            <div style="margin-bottom: 10px;text-align: right">
		                                            <button class="am-btn am-btn-default am-btn-xs" 
		                                            	onclick="if(window.confirm('确定删除这个地址?')){window.location.href='{:U('Starball/User/deleteAddress', array('addressId'=>$vo['addressId']))}';}">删除</button>
	                                            </div>
	                                        </dd>
	                                    </dl>
	                                </section>
                                </volist>
                            </div>
                        </div>
                        <!-- my favorite -->
                        <div class="am-u-sm-12 am-kai">
                            <div class="yu-account-block-sm" style="padding-bottom: 45px;">
                                <p class="yu-account-title">
                                    {$Think.lang.myfavorite}
                                </p>
                                <button type="button" class="am-btn am-btn-default yu-black-button" onclick="window.location.href='{:U('Starball/Favorite/index')}'">
                                    {$Think.lang.Cmyfavorites}
                                </button>
                            </div>
                        </div>
                    </div>
</div>