
/*top left and right button in small screen*/
button.yu-right-menubutton{
	float:right;
	background-color:#ffffff;
	margin:10px;
	border:none;
}
div.yu-offcanvas-content-adjustor{
	font-size:15px;
	color:#ffffff;
}
.yu-margin-left38{
	margin-left: 38%;
}
ul.yu-top-margin-039{
	margin-top:3.9%;
}

button.yu-offcanvas{
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 999;
	background-color: white;
	border:none;
}
button.yu-leftside-login{
	font-size: 12px;
    margin: 6px 6px 3px 6px!important;
    width: 96%;
    background-color: #ececec;
}
div.yu-26otherlogin{
    display: block;
    max-width: 100%;
    margin: 20px auto 18px;
    position: relative;
    text-align: center;
}
span.yu-26text-or{
	display: inline-block;
    position: relative;
    z-index: 2;
    font-size: 14px;
    background: #262626;
    padding: 0 10px;
    color: #cecece;
    line-height: 1;
}
a.yu-newaccount-26{
    margin-left: 31%;
    margin-bottom: 3%;
    font-size: 11px;
    text-decoration: underline;
}
img.yu-img-responsive{
    display: block;
    max-width: 100%;
    height: 87px;
}
}

/*search in small size*/
input.yu-border-btmonly{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:1px solid #ececec !important;
    padding:10px 8px 10px 28px;
}
/*header in mdup screen*/
.yu-mduplefttop-adjustor{
	margin-bottom:0px !important;
	color:rgba(0,0,0,0.9);
	font-size:10px !important;
	padding-left:3px !important;
}
.yu-mduprighttop-adjustor{
	margin-bottom:0px !important;
	color:rgba(0,0,0,0.9);
	font-size:10px !important;
	text-align:right !important;
	padding-right:0 !important;
}
button.yu-login-button-adjustor{
	font-size:12px;
	margin:6px 6px 3px 6px!important;
	width:250px;
}
button.yu-check-button-adjustor{
	font-size:12px;
	margin:6px 7px 6px 7px;
	width:336px;
}
a.yu-newaccount{
	text-decoration:underline;
	margin-left:24%;
	margin-bottom:3%;
	font-size:11px;
}
a.yu-newaccount-1{
	margin-left:24%;
	margin-bottom:3%;
	font-size:11px;
}
p.yu-login-title{
	text-align:center;
	font-size:14px;
	margin:6px 3px 12px 3px !important;
	color:#000
}
.yu-margin-0612{
	margin:0 6px 12px 6px !important;
}
.yu-margin-0012{
	margin-bottom:12px !important;
}
.yu-margin-126{
	    margin: 12px 6px !important;
}
a.yu-forget-pwd{
	float:left;
	font-size:12px;
	margin-bottom:5.1px;
	padding-top:3px;
	padding-left:6px;
	color:#000100;
}
.yu-rm-me{
	padding-top:0px !important;
	float:right;
	margin-right:8px !important;
}
.yu-font-12{
	font-size:12px;
}
.yu-checkbox-adjustor{
	padding-top:0px !important;
	float:left;
	margin-left:8px;
}

ul.yu-dropdown-content-contanier{
	padding-bottom:1px !important;
	padding-top:0 !important;
	width: 350px;
}

.offcanvas-link-color{
	color: #ccc;
}

/*My favortie and my shooping cart*/
div.yu-total-price-panier{
	background-color: #cecece;
	padding: 4px 10px;
	text-align: center;
	margin-top: 0;
	max-width:100%;
}
li.margin-adjustor{
	margin:0;
}
span.value-total-price{
	font-size:12px;
	font-weight:bold;
}
button.yu-button-333{
	font-size:12px;
	margin:6px 7px 6px 7px;
}
span.yu-item-price{
	font-size:12px;
	font-weight:bold;
	display: block;
	float:left;
	margin-top:6px;
}
span.yu-size-container{
   display:block;
   border-top: 1px solid #cecece;
   border-bottom: 1px solid #cecece;
   margin: 5px 0;
   padding: 2px 10px 2px 0;font-size:11px
}
span.subtitle-item-panier{
	display:block;
    overflow: hidden;
	text-overflow: ellipsis;    
	white-space: nowrap;
	padding-right: 100px;
    margin-top: 4px;
    font-size:12px;
}
span.title-item-panier{
	display:block;
	text-transform:uppercase;
	font-size:13px;
}
a.item-panier{
	height:120px;
	width:100%!important;
	padding-left:10px!important;
	padding-right:0!important;
	padding-top:10px!important;
	padding-bottom:10px!important;
}
img.item-photo-adjustor{
	height:100px;
	width:100px;
	display:block;
	float:left;
}
span.content-item-panier{
	display: block;
	float: left;
	width: 220px;
	margin-left: 15px;
	position: relative;
}	
/*mdup logo and search*/
div.yu-mduplogo-adjustor{
	height: 100px;
	margin-bottom:-1%;
	float:left;
	padding-left:0;
}
div.yu-mdupsearch-adjustor{
	margin-top:20px;
	padding-right:0;
}

/*sm search*/
div.yu-smsearch-adjustor{
	padding:0;
	margin-top: -7px;
	margin-bottom:15px;
}

/*slider*/
div.yu-slider-content { 
	background-color:rgba(0,0,0,0)；
    padding: 10px 6px;
    margin-bottom: 10px;
   }
div.yu-slider-desc {
    position: absolute;
    left: 6%;
    bottom: 15%;
    ight: 50px;
    color: #fff;
}
h2.yu-slider-title{
	font-size: 3.6vw;
	}
p.yu-slider-subtitle{ 
	margin-top: -6%;
	margin-bottom:21%;
	font-size:1.8vw;
	}
a.yu-slider-more {
    color: #eee;
    font-size: 1.2vw;
    padding: 12px 54px;
    border-style: solid;
    border-width: thin;
}
div.yu-slider-desc-sm {
    position: absolute;
    left: 1%;
    bottom: 18%;
    right: 1%;
    color: #fff;
    text-align: center;
}
p.yu-slider-subtitle-sm {
    margin-top: -2%;
    margin-bottom: 6%;
    font-size: 15px;
}
h2.yu-slider-title-sm{
	font-size: 33px;
	}
a.yu-slider-more-sm {
    color: #eee;
    font-size: 13px;
    padding: 15px 46px;
    border-style: solid;
    border-width: thin;
}
img.yu-slides-mdup{
	width: auto;
    height: 600px;
    display: block;
    }
img.yu-slides-sm{
	width: auto;
    height: 360px;
    display: block;
    object-fit:cover;
    }
li.yu-margin-top{
	margin-top:2%;
	}
li.yu-text-alicen{
	text-align: center;
	}
p.yu-thumbnail-subtitle{
	font-size: 16px;
	margin-top:0;line-height:1.0;
	}
p.yu-thumbnail-title{
	font-size: 24px;
	margin-bottom:0;
	}
header{
	margin-bottom: 0.5rem !important;
	background-color: white !important;
}
a.am-dropdown-toggle{
	margin-left: -15px;
}
ol.am-breadcrumb li{
	margin-left: -5px;
}
body{
	overflow:scroll;
	overflow-x:hidden;
}
nav.yu-nav{
	padding: 0;
}
a.yu-menu{
	margin-bottom:0px;
}
a.yu-menu{
	margin-bottom:0px;
}
a.yu-text-black{
	color:#000000 !important;
}

div.yu-sub-menu{
	display: none;
	position: relative;
	box-sizing: border-box;
	z-index: 999;
	margin-top: 0px;
	margin-bottom: -100%;
	background-color: white;
	width: 102%;
	left: -1%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 3px solid black;
	height: auto !important;
	border-top: 0px;
}

div.yu-sub-menu-list{
	font-size: 13px;
	text-align: left;
}
div.yu-sub-menu-img-title{
	position: absolute;
	top: 50%;
	width: 30%;
	margin-left: 35%;
	background-color: #f9f9f9;
	background:rgba(255, 255, 255, 0.6)!important;
	padding-top: 10px;
	margin-top: 10px;
}
div.yu-menu-adj{
	max-width: 970px;
	margin: 0 auto;
}
div.yu-scroll-bg{
	background-color: white;
	filter:alpha(opacity=50);
}
input.yu-input-sm{
	font-size:12px !important;
	padding:7px !important;
	}
.login-img{
	display: block;
	width: 150px;
	background: url('http://7xr7p7.com2.z0.glb.qiniucdn.com/1660857294.jpg');
	background-size: 150px;
	height: 63px;
	max-width: 100%;
}

header.yu-home-header{
	border-bottom: 2px solid black;
}
header.yu-no-border{
	border:none;
}

div.yu-header-container{
 	width:970px;
 	max-width:100%;
 	margin:0 auto;
 	padding:0 10px;
 	/*border-bottom: 2px solid black;*/
 }
 
 div.yu-layout-container{
    width: calc(100% - 80px);
    padding: 0 0 8px !important;
    margin: auto;
    max-width: 1440px;
}
.menu-sub-block{
	float:left;
	font-size:14px;
}
.sub-menu-div{
	border-bottom: 3px solid black;
}
ul.yu-menu-content{
	padding:0 8px;
    padding-bottom:3px;
    color:rgba(0,0,0,0.9);
    font-size:15px;
    margin: auto;
    text-align: left;
    border-bottom: 2px solid black;
}
div.yu-main-container{
	max-width:970px;
	width:100%;
	padding:0 10px;
}

/*login page*/
div.yu-signin-container{
	border:1px solid #cecece;
	margin:20px 20px 0 0;
	float:left;
	max-width:485px;
	width: calc(50% - 12px);
	padding:0 0 40px 0;
}
div.yu-signup-container{
	border:1px solid #cecece;
	margin:20px 0 0 0;
	float:left;
	max-width:485px;
	width: calc(50% - 12px);
	padding:0 0 40px 0;
}
div.yu-smsign-contianer{
	border: 1px solid #cecece;
    padding: 0;
    margin-bottom: 20px;
}
p.yu-signin-title{
	display: block;
    margin: 0 0 40px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #cecece;
    padding: 20px 0 20px;
    text-align: center;
    font-size:15px
    color: #000;;
    text-transform: uppercase;
}
form.yu-signin-form{
	margin-bottom:12px;
	display:block;
	max-width:300px;
	width:100%;
	margin:auto;
}
button.yu-signin-button{
	font-size:12px;
	width:300px;
	padding: 0.6rem 1rem;
    margin-top:9.9px;
}
div.yu-otherlogin{
	display: block;
    max-width: 300px;
    margin: 20px auto 18px;
    position: relative;
    text-align: center;
}
.yu-seperate{
	display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 12px;
    border-bottom: 1px solid #cecece;
}
.yu-text-or{
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size:14px;
    background: #fff;
    padding: 0 10px;
    color: #cecece;
	line-height:1;
}
/*list page*/
div.yu-listpage-header {
    display: block;
    max-width: 390px;
    margin: 20px auto 3px;
    position: relative;
    text-align: center;
}    
.yu-listpage-seperate {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 15px;
    border-bottom: 1px solid #cecece;
}
.yu-listpage-title{
	font-size: 26px;
    color: #111100;
	display: inline-block;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0 10px;
    line-height: 1;
}
.item-caption-adjustor{
	padding:0px 5px 5px 5px !important;
	border:none;
	margin-bottom:60px;
}
span.listpage-subtitle-item-panier{
	display:block;
    margin-top: 4px;
    font-size:11px;
    text-align:center;
}
span.listpage-title-item-panier{
	display:block;
	text-transform:uppercase;
	font-size:13px;
	text-align:center;
	width: 231px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
/* for sm only*/
span.listpage-title-item-panier-sm{
	display:block;
	text-transform:uppercase;
	font-size:13px;
	text-align:center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

span.listpage-item-price{
	 font-size: 11px;
    display: block;
    margin-top: 6px;
    text-align: center;
    margin-top: 18px;
}   
dl.yu-accordion-list{
	margin:0 !important;
}
dt.yu-bottomborder-none{
	border-bottom:none!important;
}
span.current{
	border: 1px solid #CECECE;
	width: 25px;
	margin-right: 5px;
	display: inline-block;
	color:black;
	background:#ececec;
}
a.num{
	border: 1px solid #CECECE;
	width: 25px;
	margin-right: 5px;
	display: inline-block;
	color: #CECECE;
}

a.next{
	width: 25px;
	margin-right: 5px;
	display: inline-block;
	color: black;
}
a.prev{
	width: 25px;
	margin-right: 5px;
	display: inline-block;
	color: #CECECE;
	border: 1px solid #CECECE;
}

a.next{
	width: 25px;
	margin-right: 5px;
	display: inline-block;
	color: #CECECE;
	border: 1px solid #CECECE;
	
}
a.first{
	width: 25px;
	margin-right: 5px;
	display: inline-block;
	color: #CECECE;
	border: 1px solid #CECECE;
}
a.last{
	width: 25px;
	margin-right: 5px;
	display: inline-block;
	color: #CECECE;
	border: 1px solid #CECECE;
}

/*footer*/
div.yu-layout-footer{
	margin-top:40px;
	border-top:2px solid #000;
}
div.yu-footer-container{
	font-size:12px;
    max-width:970px;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 2px;
}
.yu-follow-us-title{
	line-height:28px;
	padding-right:5%;
	color:#000;
}
.yu-footer-support{
	font-size:12px;
	color:#000;
}
.yu-footer-block-icon{
	float: left;
	display: block;
}
div.yu-footer-block-text{
	margin-left: 8%;
	margin-top: 2%;
	display: inline-block;
	color:#000;
}
div.yu-mddn-container{
	padding:0 18px;
}
div.scroll-item-list{
	text-align: center;
	height: 20px;	
	margin-top: 7px;
	font-size: 12px;
}
div.empty-list{
	text-align: center;
	height: 50px;	
	margin-top: 25px;
	font-size: 12px;
}
/*homepage*/
div.yu-leftsection-adjustor{
    padding-left: 0;
    padding-right: 25px;
    margin-bottom: 26px;
}
.yu-lgimg-fixer{
	width: 100%;
    object-fit: cover;
    object-position: top;
    height: 315px !important;
}
.yu-home-title{
	font-size: 24px;
    margin-bottom: 3px;
}
.yu-home-subtitle{
	font-size: 16px;
    margin: 0;
}
.yu-home-button{
	font-size: 12px;
    color: black;
}
.yu-mdsection-adjustor{
	padding-left: 25px !important;
	padding-right: 0 !important;
}
div.yu-home-rightend{
	padding-right: 0;
    padding-left: 62px;
}
ul.yu-lastlayer-adjustor{
	border: 1px solid #cecece;
	padding: 0;
}
div.yu-bottomlayer-adjustor{
	text-align:center;
	padding-bottom: 20px;
}

/*product page*/
div.yu-sizetext-styler{
	font-size: 10px;
    margin: 10px -18px 30px -18px;
    text-decoration: underline;
}
button.yu-product-buy{
	background-color: black;
	font-size:13px;
	padding:9px 0 9px 0;
	margin-bottom:10px;
}
button.yu-product-favorite{
	font-size:13px;
	padding:9px 0 9px 0;
}
dl.yu-accordion-item{
	border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    margin:0 !important;
}
dt.yu-accordion-title{
    padding-left: 0;
    font-size: 15px;
}

/*account page*/
div.yu-account-container{
    max-width: 970px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
li.yu-account-tab{
	width: 25%;
    text-align: center;
}


ol.am-control-nav.am-control-thumbs li{
	width: 100%;
	float: inherit !important;
	display:inherit !important;
}
ol.am-control-nav.am-control-thumbs{
	position: absolute;
	top: 0px !important;
	right: 101%;
	width: 20%;
}
div.yu-account-leftside{
	margin-right:20px;
	width:calc(50% - 10px);
	padding:0;
}
div.yu-account-rightside{
	width:calc(50% - 10px);
	padding:0;
}
div.yu-account-block{
	float: left;
    box-sizing: border-box;
    background: #ececec;
    padding: 15px;
    margin: 0 0 20px;
    max-width:476px;
    width:100%
}
div.yu-account-block-100{
	float: left;
    box-sizing: border-box;
    background: #ececec;
    padding: 15px;
    margin: 0 0 20px;
    max-width:970px;
    width:100%
}
p.yu-account-title{
	font-size:14px;
	text-transform: uppercase;
    padding: 0 0 10px 0;
    text-align: left;
    letter-spacing: inherit;
    border-bottom:1px solid #000;
    margin:0 0 10px 0;
}
input.yu-account-input{
	font-size: 12px !important;
    padding: 8px 6px !important;
    margin-bottom:10px;
}
button.yu-black-button{
	font-size: 12px;
    background-color: #000;
    color: #fff;
    float: right;
    padding: 8px 24px;
    margin-bottom: 10px;
}
div.yu-account-otherlogin{
	display: block;
    max-width: 475px;
    margin: 20px auto 18px;
    position: relative;
    text-align: center;
}
.yu-account-seperate{
	display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 12px;
    border-bottom: 1px solid #cecece;
}
.yu-account-textor{
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size:14px;
    background: #ECECEC;
    padding: 0 10px;
    color: #000000;
	line-height:1;
}
a.yu-account-detailinfo{
	text-decoration: underline;
	font-size:12px;
	font-weight:bold;
	color:black;
	float:right;
}
div.yu-account-block-sm{
    box-sizing: border-box;
    background: #ececec;
    padding: 15px 15px 33px 15px;
    max-width:476px;
    width:100%;
    margin:0 auto;
    margin-bottom:20px;
}
/*order info*/
th.yu-thead-taller{
	padding-top:15px !important;
	padding-bottom:15px !important;
}
.yu-thead-bg{
	background-color:#ececec
}
a.yu-backto-order{
	font-size: 12px;
    font-weight: bold;
    color: black;
    float: right;
    margin-bottom: 12px;
}
div.yu-orderinfo-title{
	margin: 40px 0 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ececec;
}
div.yu-item-styler{
	border-bottom: 1px solid #ececec !important;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
div.yu-image-styler{
	padding: 10px;
    border: 1px solid #ececec;
    width: 122px;
    height: 122px;
}
div.yu-product-description{
	float: left;
    height: 100%;
    display:block;
}
p.yu-product-list{
    text-transform: uppercase;
    color: #000;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size:11px;
}
span.yu-product-title{
	font-size: 12px;
    text-transform: uppercase;
    max-width: none;
    display: block;
}
span.yu-product-subtitle{
	margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}
span.yu-product-fronttitle{
	display: block;
    text-transform: none;
}
span.yu-product-order-content{
    color: #8d8d8d;
}

div.yu-item-price{
	font-size:12px;
	font-weight:bold;
	display: block;
	position: absolute;
	bottom:0;
	right:0;
}
/*payment scuccess*/
button.yu-backhome-button{
	font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 8px 24px;
    margin-bottom: 0 auto;
}
/*boutique*/
.yu-boutique-viewlist{
    margin: 50px auto 0 !important;
}

div.yu-boutique-container{
	max-width:970px;
	width:100%;
}
div.yu-boutique-spacefixer{
	margin-bottom:12px;
}
.yu-boutiqueimg-fixer{
	width: 100%;
    object-fit: cover;
    object-position: top;
    height: 288px !important;
}
a.yu-boutique-more {
    color: #000000!important;
    font-size: 15px;
    padding: 0.9rem 15%;
    border-style: solid;
    border-width: thin;
    width:100%;
}
div.yu-boutique-button{
	padding: 0 1.5rem;
    margin-left: 33%;
}
/*sales page*/
span.yu-original-price{
	text-decoration:line-through;
}
/*babystyling imgtext page*/
article.yu-paragraph img{
	max-width:100%;
	margin:0 auto;
	padding:0;
}
article.yu-paragraph{
	width:80%;
	margin:0 auto;
}
img.blog-photo-adjustor{
    max-height: 180px;
    max-width: 180px!important;
    width:100%;
    height:100%;
    display: block;
    float: left;
}
a.yu-blog-title{
	font-size:150%;
}
p.yusm-title{
	display: block;
	color: #fff;
    padding: 12px 0 10px 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #414141;
    margin: 0;
    font-size:14px;
}
div.yu-panier-visuel{
	width: calc(100% - 50px);
    background: #262626;
    height: 100%;    
    position: fixed;
    right: 0;
    border: 0;
    display: block;
}
div.yu-empty-cart{
	font-size: 12px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 25px 0;
    color:#fff;
    margin-bottom:21px;
}
div.yu-continue-shop{
    margin-bottom: 20px;
}
div.sm-cart-btn{
	text-align: center;
    display: block;
    padding: 0 10px;	
}
	
button.yu-white-button{
	font-size: 12px;
    color: #8d8d8d;
    border:1px solid #8d8d8d;
    padding: 12px 24px;
    margin-bottom: 10px;
    width:100%;
    background-color:#262626;
}
a.yu-sideitem-panier{
	padding: 15px 0 15px 0;
    border-bottom: 1px solid #414141;
    display: block;
    height: 120px;
    width: 100% !important;
    margin: 0;
    box-sizing: border-box;
}
span.yu-sideitem-visuel{
	width: calc(100% - 120px);
	display: block;
    float: left;
    margin: 0;
    line-height: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
}
img.sideitem-photo-adjustor {
    height: 100px;
    width: 100px;
    display: block;
    float: left;
    margin: 0 10px;
}
span.yu-sideitem-title{
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    color: #fff;
    margin-bottom: 3px;
}
span.yu-sideitem-subtitle{
	font-size: 14px;
	text-transform: none;
    color: #cecece;
    padding: 0;
    margin: 10px 0;
    width: 90%;
    margin-bottom:3px;
}
span.yu-sidesize-container{
    display: block;
    margin: 3px 0;
    padding: 2px 10px 2px 0;
    font-size: 11px;
}
span.yu-sidesize-content{
	font-weight:bold;
	color:#cecece;
}
span.yu-side-size{
	display: block;
    margin-top: 3px;
}
span.yu-sideitem-price{
	font-size: 15px;
    font-weight: bold;
    display: block;
    float: left;
    margin-top: 3px;
}
div.yu-side-total-price{
    display: block;
    background: 0;
    color: #fff;
    border-top: 1px solid #414141;
    padding: 15px;
    box-sizing: border-box;
}
span.title-total-price{
	font-size:16px;
    color: #fff;
    text-transform: uppercase;
}
span.value-total-price{
	font-size: 16px; 
    color: #fff;
    text-transform: uppercase;
    float: right;
}
a.wechat{
	width:10%;	
}
div.wechat {
 display:none;
 position: absolute;
 top: 25%;
 left: 35%;
 width: 258px;
 background: #ececec;
 z-index:1002;
 overflow: auto;
 height:258px;
margin-top: 1700px;
margin-left: 130px;
}
div.wechat img:hover{
	cursor: pointer;
}
