/*cart page*/
div.yu-cart-header{
	width: 970px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	line-height: 48px;
	height: 58px;
}
div.yu-cart-content{
	width: 970px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 10px;
	display: block;
	min-height: 100px;
}
div.big-info-picto {
    background: url('http://7xr7p7.com2.z0.glb.qiniucdn.com/info-img.png') no-repeat center center;
    display: inline-block;
    width: 66px;
    height: 66px;
    margin: 30px 0 20px;
}
div.empty-cart{
	text-align: center;
}
img.yu-favorite-photo{
	height: 150px;
    width: 150px;
    display: block;
    float: left;
    border: 1px solid #ececec;
}
img.yu-favorite-photo-sm{
	height: 150px;
    width: 150px;
    display: block;
    border: 1px solid #ececec;
    margin-left:30%;
}
button.yu-favorite-buy{
	background-color: black;
    font-size: 13px;
    padding: 9px 0 9px 0;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
    margin-top:3%;
    font-weight:bold;
}
span.yu-favorite-item-panier{
    display: block;
    float: left;
    width: 258px;
    margin-left: 15px;
    position: relative;
}
span.yu-favorite-item-panier-sm{
    display: block;
    float: left;
    width: 100%;
    position: relative;
}

/*payment scuccess*/
button.yu-backhome-button{
	font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 8px 24px;
    margin-bottom: 0 auto;
}
div.address{
	font-family: Fangsong,sans-serif !important;
	font-size: 12px;
}
.white_content {
 display: none;
 position: absolute;
 top: 25%;
 left: 35%;
 width: 20%;
 padding: 6px 16px;
 background: #ececec;
 z-index:1002;
 overflow: auto;
 height:130px;
}
.white_contentsm {
 display: none;
 position: absolute;
 top: 25%;
 left: 10%;
 width: 80%;
 padding: 6px 16px;
 background: #ececec;
 z-index:1002;
 overflow: auto;
 height:130px;
}
.black_overlay {
 display: none;
 position: absolute;
 top: 0%;
 left: 0%;
 width: 100%;
 height: 100%;
 background-color:#f5f5f5;
 z-index:1001;
 -moz-opacity: 0.8;
 opacity:.80;
 filter: alpha(opacity=80);
}
button.black-button{
	font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 8px 24px;
    margin-bottom: 10px;
    margin-top: 15px;
}
button.payfinish{
	margin-left: 30px;
}
button.payproblem{
	margin-left: 10px;
}
button.payfinishsm{
	margin-left: 10px;
}
button.payproblemsm{
	margin-left: 10px;
}
div.favorite{
	display: block; 
	height:150px; 
	position:relative;
}
div.favorite:hover{
	cursor: pointer;	
}
div.cart-step1{
	border-bottom: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
}
div.cart-step2{
	border-bottom: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
}
div.cart-step3{
	border-bottom: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
}
div.cart-step4{
	border-bottom: 1px solid #CECECE;
}

span.step-basic{
	display: inline-block;
	margin-right: 10px;
    width: 32px;
    height: 32px;
    line-height: 27px;
    font-size: 16px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    text-align: center;
}
span.step-basic-sm{
	display: inline-block;
	margin-right: 10px;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 10px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    -moz-border-radius: 500px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    text-align: center;
}
span.step-num{
    color: #cecece;
    border: 1px solid;
}
span.step-num-done{
    background: url('http://7xr7p7.com1.z0.glb.clouddn.com/step-check.png') no-repeat center center;
    background-size: 32px;
    margin-bottom: -11px;
}
span.step-num-done-sm{
    background: url('http://7xr7p7.com1.z0.glb.clouddn.com/step-check.png') no-repeat center center;
    background-size: 20px;
    margin-bottom: -7px;
}
span.step-name{
	font-size: 14px;
}
span.step-name{
	color: #CECECE;
}
div.cart-items{
	margin-top: 10px;
}
div.step-on a span{
	color: black;
}

a.cart-item-panier{
	height:140px;
	width:100%!important;
	padding-left:10px!important;
	padding-right:0!important;
	padding-top:10px!important;
	padding-bottom:10px!important;
}
img.cart-item-photo-adjustor{
	height:120px;
	width:120px;
	display:block;
	float:left;
}
span.cart-sub-item-panier{
	display:block;
    overflow: hidden;
	text-overflow: ellipsis;    
	white-space: nowrap;
	padding-right: 0px;
    margin-top: 4px;
    font-size:12px;
    color: black;
}
span.cart-item-panier{
	display: block;
	float: left;
	width: 55%;
	margin-left: 15px;
	position: relative;
}
div.paysection{
	height:55px;
}
button.change-address{
	float: right;
}
button.coupon{
	float: right;
	background-color: #CECECE;
	border:0;
	color:white;
}
input.coupon{
	height: 27px;
}
div.totalPay{
	width:100%; 
	border-top: 1px solid #CECECE; 
	border-bottom: 1px solid #CECECE;
	padding: 15px;
}
span.discount-item{
	text-decoration:line-through;
}
span.after-discount-amount{
 color:#cc4c4b	
}