
/*top left and right button in small screen*/
button.yu-right-menubutton{
	float:right;
	background-color:#ffffff;
	margin:10px;
	border:none;
}
div.yu-offcanvas-content-adjustor{
	font-size:15px;
	color:#ffffff
}
.yu-margin-left30{
	margin-left: 30%;
}
ul.yu-top-margin-039{
	margin-top:3.9%;
}

button.yu-offcanvas{
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 999;
	background-color: white;
	border:none;
}
/*search in small size*/
input.yu-border-btmonly{
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom:1px solid #ececec !important;
    padding:10px 8px 10px 28px;
}
/*header in mdup screen*/
.yu-mduplefttop-adjustor{
	margin-bottom:0px !important;
	color:rgba(0,0,0,0.9);
	font-size:10px !important;
	padding-left:3px !important;
}
.yu-mduprighttop-adjustor{
	margin-bottom:0px !important;
	color:rgba(0,0,0,0.9);
	font-size:10px !important;
	text-align:right !important;
	padding-right:0 !important;
}
button.yu-login-button-adjustor{
	font-size:12px;
	margin:6px 6px 3px 6px!important;
	width:250px;
}
button.yu-check-button-adjustor{
	font-size:12px;
	margin:6px 7px 6px 7px;
	width:336px;
}
a.yu-newaccount{
	text-decoration:underline;
	margin-left:24%;
	margin-bottom:3%;
	font-size:11px;
}
a.yu-newaccount-1{
	margin-left:24%;
	margin-bottom:3%;
	font-size:11px;
}
p.yu-login-title{
	text-align:center;
	font-size:14px;
	margin:6px 3px 12px 3px !important;
	color:#000
}
.yu-margin-0612{
	margin:0 6px 12px 6px !important;
}
.yu-margin-0012{
	margin-bottom:12px !important;
}
.yu-margin-126{
	    margin: 12px 6px !important;
}
a.yu-forget-pwd{
	float:left;
	font-size:12px;
	margin-bottom:5.1px;
	padding-top:3px;
	padding-left:6px;
	color:#000100;
}
.yu-rm-me{
	padding-top:0px !important;
	float:right;
	margin-right:8px !important;
}
.yu-font-12{
	font-size:12px;
}
.yu-checkbox-adjustor{
	padding-top:0px !important;
	float:left;
	margin-left:8px;
}

ul.yu-dropdown-content-contanier{
	padding-bottom:1px !important;
	padding-top:0 !important;
	width: 350px;
}

/*My favortie and my shooping cart*/
div.yu-total-price-panier{
	background-color: #cecece;
	padding: 4px 10px;
	text-align: center;
	margin-top: 0;
	max-width:100%;
}
li.margin-adjustor{
	margin:0;
}
span.value-total-price{
	font-size:12px;
	font-weight:bold;
}
button.yu-button-333{
	font-size:12px;
	margin:6px 7px 6px 7px;
}
span.yu-item-price{
	font-size:12px;
	font-weight:bold;
	display: block;
	float:left;
	margin-top:6px;
}
span.yu-size-container{
   display:block;
   border-top: 1px solid #cecece;
   border-bottom: 1px solid #cecece;
   margin: 5px 0;
   padding: 2px 10px 2px 0;font-size:11px
}
span.subtitle-item-panier{
	display:block;
    overflow: hidden;
	text-overflow: ellipsis;    
	white-space: nowrap;
	padding-right: 100px;
    margin-top: 4px;
    font-size:12px;
}
span.title-item-panier{
	display:block;
	text-transform:uppercase;
	font-size:13px;
}
a.item-panier{
	height:120px;
	width:100%!important;
	padding-left:10px!important;
	padding-right:0!important;
	padding-top:10px!important;
	padding-bottom:10px!important;
}
img.item-photo-adjustor{
	height:100px;
	width:100px;
	display:block;
	float:left;
}
span.content-item-panier{
	display: block;
	float: left;
	width: 220px;
	margin-left: 15px;
	position: relative;
}	
/*mdup logo and search*/
div.yu-mduplogo-adjustor{
	height: 100px;
	margin-bottom:-1%;
	float:left;
	padding-left:0;
}
div.yu-mdupsearch-adjustor{
	margin-top:20px;
	padding-right:0;
}

/*sm search*/
div.yu-smsearch-adjustor{
	padding:0;
	margin-top: -7px;
	margin-bottom:15px;
}

/*slider*/
div.yu-slider-content { 
	background-color:rgba(0,0,0,0)；
    padding: 10px 6px;
    margin-bottom: 10px;
   }
div.yu-slider-desc {
    position: absolute;
    left: 6%;
    bottom: 15%;
    ight: 50px;
    color: #fff;
}
h2.yu-slider-title{
	font-size: 3.6vw;
	}
p.yu-slider-subtitle{ 
	margin-top: -6%;
	margin-bottom:21%;
	font-size:1.8vw;
	}
a.yu-slider-more {
    color: #eee;
    font-size: 1.2vw;
    padding: 12px 54px;
    border-style: solid;
    border-width: thin;
}
div.yu-slider-desc-sm {
    position: absolute;
    left: 1%;
    bottom: 18%;
    right: 1%;
    color: #fff;
    text-align: center;
}
p.yu-slider-subtitle-sm {
    margin-top: -2%;
    margin-bottom: 6%;
    font-size: 15px;
}
h2.yu-slider-title-sm{
	font-size: 33px;
	}
a.yu-slider-more-sm {
    color: #eee;
    font-size: 13px;
    padding: 15px 46px;
    border-style: solid;
    border-width: thin;
}
img.yu-slides-mdup{
	width: auto;
    height: 600px;
    display: block;
    }
img.yu-slides-sm{
	width: auto;
    height: 360px;
    display: block;
    object-fit:cover;
    }
li.yu-margin-top{
	margin-top:2%;
	}
li.yu-text-alicen{
	text-align: center;
	}
p.yu-thumbnail-subtitle{
	font-size:1.9vw;margin-top:0;line-height:1.0;
	}
p.yu-thumbnail-title{
	font-size:1.3vw;margin-bottom:0;
	}
header{
	margin-bottom: 0.5rem !important;
	background-color: white !important;
}
a.am-dropdown-toggle{
	margin-left: -15px;
}
ol.am-breadcrumb li{
	margin-left: -5px;
}
body{
	overflow:scroll;
	overflow-x:hidden;
}
nav.yu-nav{
	padding: 0;
}
a.yu-menu{
	margin-bottom: 0px;
}

div.yu-sub-menu{
	display: none;
	position: relative;
	box-sizing: border-box;
	z-index: 999;
	margin-top: 8px;
	margin-bottom: -100%;
	background-color: white;
	width: 102%;
	left: -1%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 3px solid black;
	height: auto !important;
}

div.yu-sub-menu-list{
	font-size: 13px;
	text-align: left;
}
div.yu-sub-menu-img-title{
	position: absolute;
	top: 50%;
	width: 30%;
	margin-left: 35%;
	background-color: #f9f9f9;
	background:rgba(255, 255, 255, 0.6)!important;
	padding-top: 10px;
	margin-top: 10px;
}
input.yu-input-sm{
	font-size:12px !important;
	padding:7px !important;
	}
.login-img{
	display: block;
	width: 150px;
	background: url('http://7xr7p7.com2.z0.glb.qiniucdn.com/starballlogo2.jpeg');
	background-size: 150px;
	height: 60px;
	max-width: 100%;
}

header.yu-home-header{
	border-bottom: 2px solid black;
}
header.yu-no-border{
	border:none;
}

div.yu-header-container{
 	width:970px;
 	max-width:100%;
 	margin:0 auto;
 	padding:0 10px;
 	border-bottom: 2px solid black;
 }
 
 div.yu-layout-container{
    width: calc(100% - 80px);
    padding: 0 0 8px !important;
    margin: auto;
    max-width: 1440px;
}
.menu-sub-block{
	float:left;
	font-size:14px;
}
.sub-menu-div{
	border-bottom: 3px solid black;
}
ul.yu-menu-content{
	padding-left: 0;
    padding-bottom:3px;
    color:rgba(0,0,0,0.9);
    font-size:15px;
    margin: auto;
    text-align: left;
}
div.yu-main-container{
	max-width:970px;
	width:100%;
	padding:0 10px;
}

/*login page*/
div.yu-signin-container{
	border:1px solid #cecece;
	margin:20px 20px 0 0;
	float:left;
	max-width:485px;
	width: calc(50% - 12px);
	padding:0 0 40px 0;
}
div.yu-signup-container{
	border:1px solid #cecece;
	margin:20px 0 0 0;
	float:left;
	max-width:485px;
	width: calc(50% - 12px);
	padding:0 0 40px 0;
}
div.yu-smsign-contianer{
	border: 1px solid #cecece;
    padding: 0;
    margin-bottom: 20px;
}
p.yu-signin-title{
	display: block;
    margin: 0 0 40px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #cecece;
    padding: 20px 0 20px;
    text-align: center;
    font-size:15px
    color: #000;;
    text-transform: uppercase;
}
form.yu-signin-form{
	display:block;
	max-width:300px;
	width:100%;
	margin:auto;
}
button.yu-signin-button{
	font-size:12px;
	width:300px;
	padding: 0.6rem 1rem;
    margin-top:9.9px;
}
div.yu-otherlogin{
	display: block;
    max-width: 300px;
    margin: 20px auto 18px;
    position: relative;
    text-align: center;
}
.yu-seperate{
	display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 12px;
    border-bottom: 1px solid #cecece;
}
.yu-text-or{
    display: inline-block;
    position: relative;
    z-index: 2;
    font-size:14px;
    background: #fff;
    padding: 0 10px;
    color: #cecece;
	line-height:1;
}
/*list page*/
div.yu-listpage-header {
    display: block;
    max-width: 390px;
    margin: 20px auto 3px;
    position: relative;
    text-align: center;
}    
.yu-listpage-seperate {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 15px;
    border-bottom: 1px solid #cecece;
}
.yu-listpage-title{
	font-size: 26px;
    color: #111100;
	display: inline-block;
    position: relative;
    z-index: 2;
    background: #fff;
    padding: 0 10px;
    line-height: 1;
}
.item-caption-adjustor{
	padding:0px 5px 5px 5px !important;
	border:none;
	margin-bottom:60px;
}
span.listpage-subtitle-item-panier{
	display:block;
    margin-top: 4px;
    font-size:11px;
    text-align:center;
}
span.listpage-title-item-panier{
	display:block;
	text-transform:uppercase;
	font-size:13px;
	text-align:center;
}
span.listpage-item-price{
	 font-size: 11px;
    display: block;
    margin-top: 6px;
    text-align: center;
    margin-top: 18px;
}   
/*footer*/
div.yu-layout-footer{
	margin-top:40px;
	border-top:2px solid #000;
}
div.yu-footer-container{
	font-size:12px;
    max-width:970px;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 2px;
}
.yu-follow-us-title{
	line-height:28px;
	padding-right:5%;
	color:#000;
}
.yu-footer-support{
	font-size:12px;
	color:#000;
}
.yu-footer-block-icon{
	float: left;
	display: block;
}
div.yu-footer-block-text{
	margin-left: 8%;
	margin-top: 2%;
	display: inline-block;
	color:#000;
}
div.yu-mddn-container{
	padding:0 18px;
}
div.scroll-item-list{
	text-align: center;
	height: 20px;	
	margin-top: 7px;
	font-size: 12px;
}
div.empty-list{
	text-align: center;
	height: 50px;	
	margin-top: 25px;
	font-size: 12px;
}
/*homepage*/
div.yu-leftsection-adjustor{
    padding-left: 0;
    padding-right: 25px;
    margin-bottom: 26px;
}
.yu-lgimg-fixer{
	width: 100%;
    object-fit: cover;
    object-position: top;
    height: 315px !important;
}
.yu-home-title{
	font-size: 24px;
    margin-bottom: 3px;
}
.yu-home-subtitle{
	font-size: 16px;
    margin: 0;
}
.yu-home-button{
	font-size: 12px;
    color: black;
}
.yu-mdsection-adjustor{
	padding-left: 25px !important;
	padding-right: 0 !important;
}
div.yu-home-rightend{
	padding-right: 0;
    padding-left: 62px;
}
ul.yu-lastlayer-adjustor{
	border: 1px solid #cecece;
	padding: 0;
}
div.yu-bottomlayer-adjustor{
	text-align:center;
	padding-bottom: 20px;
}

/*product page*/
div.yu-sizetext-styler{
	font-size: 10px;
    margin: 10px -18px 30px -18px;
    text-decoration: underline;
}
button.yu-product-buy{
	background-color: black;
	font-size:13px;
	padding:9px 0 9px 0;
	margin-bottom:10px;
}
button.yu-product-favorite{
	font-size:13px;
	padding:9px 0 9px 0;
}
dl.yu-accordion-item{
	border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    margin:0 !important;
}
dt.yu-accordion-title{
    padding-left: 0;
    font-size: 15px;
}

ol.am-control-nav.am-control-thumbs li{
	width: 100%;
	float: inherit !important;
	display:inherit !important;
}
ol.am-control-nav.am-control-thumbs{
	position: absolute;
	top: 0px !important;
	right: 101%;
	width: 20%;
}

