<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>退单管理</title>
    <meta name="description" content="退单管理页面">
    <meta name="keywords" content="help">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>StarBall</strong> <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <include file="Public/sideList" />
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-g">
            <!--  search condition area-->
            <div class="am-u-sm-12">
                <form class="am-form" id="order-search-form" action="" method="post">
                    <fieldset>
                        <legend>搜索条件设置</legend>
                        <div class="am-form-group">
                            <label for="order-cancel-status">退单状态</label>
                            <select name="status" id="order-cancel-status">
                                <option value="nothing">请选择</option>
                                <option value="N">用户发起退货</option>
                                <option value="A">卖家同意退货</option>
                                <option value="C">已取消</option>
                                <option value="V">卖家已收到退货</option>
                                <option value="D">退款成功</option>
                            </select>
                            <span class="am-form-caret"></span>
                        </div>
                        <div class="am-form-group">
                            <label for="order-cancel-createdDateStart">退单起始时间</label>
                            <input type="text" class="" name="createdDateStart" id="order-cancel-createdDateStart" placeholder="选择退单起始时间" value="{$conditions.createdDateStart}" data-am-datepicker readonly>
                        </div>
                        <div class="am-form-group">
                            <label for="order-cancel-createdDateEnd">退单结束时间</label>
                            <input type="text" class="" name="createdDateEnd" id="order-cancel-createdDateEnd" placeholder="选择退单结束时间" value="{$conditions.createdDateEnd}" data-am-datepicker readonly>
                        </div>
                        <p><button type="button" id="clear-search-conditions" class="am-btn am-btn-success">清空搜索条件</button></p>
                        <p><button type="submit" id="order-search-button" class="am-btn am-btn-primary">搜索</button></p>
                    </fieldset>
                </form>
            </div>
            <!--  information showing area-->
            <div class="am-u-sm-12">
                <table class="am-table am-table-bordered am-table-striped am-table-compact">
                    <thead>
                    <tr>
                        <th>订单号</th>
                        <th>退货数量</th>
                        <th>退货总价格</th>
                        <th>状态</th>
                        <th>退单详情</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="data" id="vo">
                        <tr>
                            <td>{$vo.orderNumber}</td>
                            <td>{$vo.quantity}</td>
                            <td>{$vo.amount}</td>
                            <td>
                                <switch name="vo.status">
                                    <case value="N"><span class="am-badge am-badge-primary">用户发起退货</span></case>
                                    <case value="A"><span class="am-badge am-badge-secondary">卖家同意退货</span></case>
                                    <case value="V"><span class="am-badge am-badge-warning">卖家已收到退货</span></case>
                                    <case value="D"><span class="am-badge am-badge-danger">退款成功</span></case>
                                    <case value="C"><span class="am-badge">已取消</span></case>
                                </switch>
                            </td>
                            <td><a class="" href="../Order/cancelDetailedInformation?cancelId={$vo.cancelId}" target="_blank">查看详情</a></td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 UltraBravo Inc.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/app.js"></script>
<script src="__PUBLIC__/starball/js/jquery.form.js"></script>
<!-- 自己的JS代码-->
<script>
    var conditionsJSON = {$conditionsJSON};
    $("#order-cancel-status").val(conditionsJSON.status);
    $("#clear-search-conditions").click(function(){
        clearSearchFields();
    });
    function clearSearchFields() {
        $("#order-cancel-status").val("nothing");
        $("#order-cancel-createdDateStart").val("");
        $("#order-cancel-createdDateEnd").val("");
    }
</script>
</body>
</html>
