<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单详情</title>
    <meta name="description" content="订单详情页面">
    <meta name="keywords" content="help">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>StarBall</strong> <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="../Order" target="_blank"><span class="am-icon-home"></span> 订单管理</a></li>
                <li class="admin-parent">
                    <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 商品管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
                        <li><a href="./Item/upload" class="am-cf" target="_blank"><span class="am-icon-upload"></span> 商品上新</a></li>
                        <li><a href="./Item/search" target="_blank"><span class="am-icon-search"></span> 商品搜索</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            </ul>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-g">
            <!-- order detailed information showing area -->
            <div class="am-u-sm-12">
                <div class="am-panel am-panel-primary">
                    <div class="am-panel-hd">订单基本信息</div>
                    <div class="am-panel-bd">
                        <ul class="am-list am-list-static">
                            <li>订单ID: {$information.orderId}</li>
                            <li>订单号: {$information.orderNumber}</li>
                            <li>商品数量: {$information.totalItemCount}</li>
                            <li>商品总价格: {$information.totalAmount}{$information.currency}</li>
                            <li>运费: {$information.shippingFee}{$information.currency}</li>
                            <li>总价格: {$information.totalFee}{$information.currency}</li>
                            <li>下单时间: {$information.createdDate}</li>
                            <li>
                                状态:
                                <switch name="information.status">
                                    <case value="B"><span class="am-text-primary">购物车</span></case>
                                    <case value="N"><span class="am-text-secondary">新订单</span></case>
                                    <case value="P"><span class="am-text-warning">已支付</span></case>
                                    <case value="C"><span class="">已取消</span></case>
                                    <case value="D"><span class="am-text-danger">已发货</span></case>
                                    <case value="V"><span class="am-text-success">已收货</span></case>
                                </switch>
                            </li>
                            <li>
                                礼品包装:
                                <switch name="information.isGiftPackage">
                                    <case value="0">不需要</case>
                                    <case value="1"><span class="am-text-success">需要</span></case>
                                </switch>
                            </li>
                            <li>
                                邮寄地址信息:

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">
                    <div class="am-panel-hd">用户购买商品</div>
                    <div class="am-panel-bd">
                        <ul class="am-avg-sm-4 am-thumbnails">
                            <volist name="information.orderItems" id="vo">
                                <li>
                                <ul class="am-list am-list-static">
                                    <li>品牌: {$vo.brandName}</li>
                                    <li>商品名: {$vo.itemName}</li>
                                    <li>颜色: {$vo.itemColor}</li>
                                    <li>大小: {$vo.itemSize}</li>
                                    <li>大小描述: {$vo.sizeDescription}</li>
                                    <li>单价: {$vo.price}</li>
                                    <li>数量: {$vo.quantity}</li>
                                    <li><img class="am-thumbnail" src="{$vo.itemImage}" /></li>
                                </ul>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
                <div class="am-panel am-panel-success">
                    <div class="am-panel-hd">用户支付信息</div>
                    <div class="am-panel-bd">
                        <ul class="am-avg-sm-4 am-thumbnails">
                            <volist name="information.orderBills" id="vo">
                                <li>
                                    <ul class="am-list am-list-static">
                                        <li>账单号: {$vo.billNumber}</li>
                                        <li>创建日期: {$vo.createdDate}</li>
                                        <li>账单名称: {$vo.title}</li>
                                        <li>支付总额: {$vo.totalAmount}</li>
                                        <li>支付通道: {$vo.channel} {$vo.subChannel}</li>
                                        <li>支付类型: {$vo.type}</li>
                                        <li>状态: {$vo.status}</li>
                                        <li>最后更新日期: {$vo.lastUpdatedDate}</li>
                                    </ul>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 UltraBravo Inc.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/app.js"></script>
<script src="__PUBLIC__/starball/js/jquery.form.js"></script>
<!-- 自己的JS代码-->
<script>

</script>
</body>
</html>
