<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单详情</title>
    <meta name="description" content="订单详情页面">
    <meta name="keywords" content="help">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/AmazeUI-2.5.2/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/AmazeUI-2.5.2/assets/css/admin.css">
</head>
<body>
<input type="text" value="{$information.orderNumber}" name="orderNumber" id="orderNumber" style="display: none">
<input type="text" value="{$information.userInformation.email}" name="userEmail" id="userEmail" style="display: none">
<input type="text" value="{$information.userInformation.userName}" name="userName" id="userName" style="display: none">
<input type="text" value="{$information.orderId}" name="orderId" id="orderId" style="display: none">
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->
<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong>StarBall</strong> <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <include file="Public/sideList" />
        </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">
        <div class="am-g">
            <!-- order detailed information showing area -->
            <div class="am-u-sm-12">
                <div class="am-panel am-panel-primary">
                    <div class="am-panel-hd">订单基本信息</div>
                    <div class="am-panel-bd">
                        <ul class="am-list am-list-static">
                            <li>订单ID: {$information.orderId}</li>
                            <li>订单号: {$information.orderNumber}</li>
                            <li>商品数量: {$information.totalItemCount}</li>
                            <li>商品总价格: {$information.totalAmount}{$information.currency}</li>
                            <li>运费: {$information.shippingFee}{$information.currency}</li>
                            <li>礼品包装费用: {$information.giftPackageFee}{$information.currency}</li>
                            <li>总价格: {$information.totalFee}{$information.currency}</li>
                            <li>下单时间: {$information.createdDate}</li>
                            <li>
                                状态:
                                <switch name="information.status">
                                    <case value="N"><span class="am-text-secondary">新订单</span></case>
                                    <case value="P"><span class="am-text-warning">已支付</span></case>
                                    <case value="C1"><span class="am-text-danger">用户申请取消订单</span></case>
                                    <case value="C2"><span class="">已同意取消订单</span></case>
                                    <case value="C3"><span class="">订单已取消</span></case>
                                    <case value="D"><span class="am-text-danger">已发货</span></case>
                                    <case value="V"><span class="am-text-success">已收货</span></case>
                                </switch>
                            </li>
                            <switch name="information.status">
                                <case value="P">
                                    <li>
                                        <button type="button" id="status-deliver-button" class="am-btn am-btn-primary">已发货</button>
                                    </li>
                                </case>
                                <case value="D">
                                    <li>
                                        <button type="button" id="confirm-user-received" class="am-btn am-btn-primary">手工确认用户已经收货</button>
                                    </li>
                                </case>
                                <case value="C1">
                                    <li>
                                        <button type="button" id="refund" class="am-btn am-btn-primary">退款</button>
                                    </li>
                                </case>
                                <case value="C2">
                                	<eq name="is_dev" value="true">
	                                    <li>
	                                        <button type="button" id="manual-refund" class="am-btn am-btn-primary">手动退款成功</button>
	                                    </li>
                                   </eq>
							        <eq name="information.payChannel" value="ALI">
							        	<button type="button" id="refund" class="am-btn am-btn-primary">继续退款</button>
							        </eq>
                                </case>
                            </switch>
                            <li>
                                邮寄地址信息:
                                <table class="am-table am-table-bordered am-table-striped am-table-compact">
                                    <thead>
                                    <tr>
                                        <th>国家</th>
                                        <th>城市</th>
                                        <th>地址</th>
                                        <th>邮编</th>
                                        <th>收件人姓名</th>
                                        <th>收件人性别</th>
                                        <th>收件人联系方式</th>
                                        <th>更多细节</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{$information.shippingAddress.country}</td>
                                        <td>{$information.shippingAddress.city}</td>
                                        <td>{$information.shippingAddress.address}</td>
                                        <td>{$information.shippingAddress.postCode}</td>
                                        <td>{$information.shippingAddress.contactName}</td>
                                        <td>{$information.shippingAddress.contactGender}</td>
                                        <td>{$information.shippingAddress.phone}</td>
                                        <td>{$information.shippingAddress.moreDetails}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="am-panel am-panel-secondary">
                    <div class="am-panel-hd">用户购买商品</div>
                    <div class="am-panel-bd">
                        <ul class="am-avg-sm-4 am-thumbnails">
                            <volist name="information.orderItems" id="vo">
                            	<gt name="vo['quantity']" value="0">
                                <li>
                                <ul class="am-list am-list-static">
                                    <li>品牌: {$vo.brandName}</li>
                                    <li>商品名: {$vo.itemName}</li>
                                    <li>颜色: {$vo.itemColor}</li>
                                    <li>大小: {$vo.itemSize}</li>
                                    <li>大小描述: {$vo.sizeDescription}</li>
                                    <li>单价: {$vo.price}</li>
                                    <li>数量: {$vo.quantity}</li>
                                    <li>
                                        状态:
                                        <switch name="vo.status">
                                            <case value="N"><span class="am-text-secondary">新订单</span></case>
                                            <case value="P"><span class="am-text-warning">已支付</span></case>
                                            <case value="C1"><span class="am-text-danger">用户申请退款</span></case>
                                            <case value="C2"><span class="">退款中</span></case>
                                            <case value="C3"><span class="">退款成功</span></case>
                                            <case value="D"><span class="am-text-danger">已发货</span></case>
                                            <case value="V"><span class="am-text-success">已收货</span></case>
                                        </switch>
                                    </li>
                                    <switch name="vo.status">
                                        <case value="C1">
                                            <button type="button" class="am-btn am-btn-primary single-item-refund" name="single-item-refund{$vo.id}">退款</button>
                                        </case>
                                        <case value="C2">
									        <eq name="is_dev" value="true">
									        	<button type="button" class="am-btn am-btn-primary single-item-manualrefund" name="single-item-manualrefund{$vo.id}">手动退款成功</button>
									        </eq>
									        <eq name="information.payChannel" value="ALI">
									        	<button type="button" class="am-btn am-btn-primary single-item-refund" name="single-item-refund{$vo.id}">继续退款</button>
									        </eq>
                                        </case>
                                    </switch>
                                    <li><img class="am-thumbnail" src="{$vo.itemImage}" /></li>
                                </ul>
                                </li>
                               </gt>
                            </volist>
                        </ul>
                    </div>
                </div>
                <div class="am-panel am-panel-success">
                    <div class="am-panel-hd">用户支付信息</div>
                    <div class="am-panel-bd">
                        <ul class="am-avg-sm-4 am-thumbnails">
                            <volist name="information.orderBills" id="vo">
                                <li>
                                    <ul class="am-list am-list-static">
                                        <li>账单号: {$vo.billNumber}</li>
                                        <li>创建日期: {$vo.createdDate}</li>
                                        <li>账单名称: {$vo.title}</li>
                                        <li>支付总额: {$vo.totalAmount}</li>
                                        <li>支付通道: {$vo.channel} {$vo.subChannel}</li>
                                        <li>
                                            支付类型:
                                            <switch name="vo.type">
                                                <case value="PAY"><span class="am-text-primary">支付</span></case>
                                                <case value="REFUND"><span class="am-text-secondary">退款</span></case>
                                            </switch>
                                        </li>
                                        <li>
                                            状态:
                                            <switch name="vo.status">
                                                <case value="N"><span class="am-text-primary">新</span></case>
                                                <case value="S"><span class="am-text-secondary">成功</span></case>
                                                <case value="F"><span class="am-text-warning">失败</span></case>
                                            </switch>
                                        </li>
                                        <li>最后更新日期: {$vo.lastUpdatedDate}</li>
                                    </ul>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">确认发货信息</div>
                    <div class="am-modal-bd">
                        输入物流方式与物流公司的快递单号
                        <input type="text" class="am-modal-prompt-input" placeholder="物流方式">
                        <input type="text" class="am-modal-prompt-input" placeholder="快递单号">
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                        <span class="am-modal-btn" data-am-modal-confirm>提交</span>
                    </div>
                </div>
            </div>

            <div class="am-modal am-modal-alert" tabindex="-1" id="success-prompt">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">操作成功</div>
                    <div class="am-modal-bd">
                        操作成功
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>
            
            <div class="am-modal am-modal-alert" tabindex="-1" id="newwindow-prompt">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">操作成功</div>
                    <div class="am-modal-bd">
                        请在新窗口中操作退款
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

            <div class="am-modal am-modal-alert" tabindex="-1" id="fail-prompt">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">操作失败</div>
                    <div class="am-modal-bd">
                        操作失败,请刷新页面重试
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn">确定</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
    <hr>
    <p class="am-padding-left">© 2016 UltraBravo Inc.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/amazeui.min.js"></script>
<script src="__PUBLIC__/AmazeUI-2.5.2/assets/js/app.js"></script>
<script src="__PUBLIC__/starball/js/jquery.form.js"></script>
<!-- 自己的JS代码-->
<script>
    // oderId
    // order number
    // username
    // email address
    // express name
    // express number
    var orderNumber = $("#orderNumber").val().trim();
    var emailAddress = $("#userEmail").val().trim();
    var userName = $("#userName").val().trim();
    var orderId = $("#orderId").val().trim();
    $(function() {
        $('#status-deliver-button').on('click', function() {
            $('#my-prompt').modal({
                relatedTarget: this,
                onConfirm: function(e) {
                    var data = {};
                    data["expressName"] = e.data[0];
                    data["expressNumber"] = e.data[1];
                    data["orderNumber"] = orderNumber;
                    data["email"] = emailAddress;
                    data["userName"] = userName;
                    data["orderId"] = orderId;
                    $.post("./confirmDelivery",data,function(result){
                        if ($.parseJSON(result).status == "1") {
                            $("#success-prompt").modal("open");
                        } else {
                            $("#fail-prompt").modal("open");
                        }
                    });
                },
                onCancel: function(e) {

                }
            });
        });
    });
    $("#confirm-user-received").click(function() {
        var data = {};
        data["orderId"] = orderId;
        $.post("./confirmReceive",data,function(result){
            if ($.parseJSON(result).status == "1") {
                $("#success-prompt").modal("open");
            } else {
                $("#fail-prompt").modal("open");
            }
        });
    });
    $("#refund").click(function() {
        // loading
        var data = {};
        data["orderId"] = orderId;
        $.post('{:U("Order/cancelEntireOrder")}',data,function(result){
        	var data = $.parseJSON(result);
            if (data.status == "1") {
            	if(data.needOpenNewWindow == 'true'){
            		$("#newwindow-prompt").modal("open");
            		window.open(data.url);	
            	}else{
	                $("#success-prompt").modal("open");
            	}
            } else {

                $("#fail-prompt").modal("open");
            }
        });
    });
    //Manual refund the order fee in development environment.
    $("#manual-refund").click(function() {
        // loading
        var data = {};
        data["orderId"] = orderId;
        $.post('{:U("Starball/Payment/testFinishRefundOrder")}',data,function(result){
            if ($.parseJSON(result).status == "1") {
                $("#success-prompt").modal("open");
            } else {

                $("#fail-prompt").modal("open");
            }
        });
    });
    $(".am-btn.am-btn-primary.single-item-refund").click(function() {
        var id = $(this).attr("name").replace("single-item-refund", "");
        var data = {};
        data["cancelId"] = id;
        $.post('{:U("Order/cancelSingleOrderItem")}',data,function(result){
        	var data = $.parseJSON(result);
            if (data.status == "1") {
            	if(data.needOpenNewWindow == 'true'){
            		$("#newwindow-prompt").modal("open");
            		window.open(data.url);	
            	}else{
	                $("#success-prompt").modal("open");
            	}
            } else {
                $("#fail-prompt").modal("open");
            }
        });
    });
    //manual refund success at development environment
    $(".am-btn.am-btn-primary.single-item-manualrefund").click(function() {
        var id = $(this).attr("name").replace("single-item-manualrefund", "");
        var data = {};
        data["cancelId"] = id;
        $.post('{:U("Starball/Payment/testFinishRefundSingleItem")}',data,function(result){
            if ($.parseJSON(result).status == "1") {
                $("#success-prompt").modal("open");
            } else {
                $("#fail-prompt").modal("open");
            }
        });
    });
</script>
</body>
</html>
