<extend name="Public/base" />
<block name="title"><title>{$Think.lang.myshoppinglist}</title></block>
<block name="customizedCss">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/cart.css">
</block>
<block name="main">
	<include file="Public/cartcommon" />
	
	<div class="yu-cart-content">
		<span style="font-weight: bold;font-size: 13px">{$Think.lang.myaddress}</span>
		<hr style="border-color: black" />
		<form class="am-form am-form-horizontal" role="form" method="post" style="width:70%; margin-left: 15%;font-size: 12px">
			<input type="hidden" value="1" name="default"/>
			<div class="am-form-group">
			  <label class="am-radio-inline">
			    <input type="radio" name="contactGender" value="M"> {$Think.lang.male}
			  </label>
			  <label class="am-radio-inline">
			    <input type="radio" name="contactGender" value="F"> {$Think.lang.female}
			  </label>
			</div>
			<div class="am-form-group">
				<div style="margin-bottom: 10px">
					<input name="contactName" value="{$data.contactName}" class="am-form-field" placeholder="{$Think.lang.consignee}" />
				</div>
				<div style="margin-bottom: 10px">
					<select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" name="country" id="country" onchange="changeCountry($(this).val())">
						<option value="none" selected>{$Think.lang.country}*</option>
						<volist name="countryList" id="vo">
						  	<option value="{$vo.code}">{$vo.display}</option>
						</volist>
					</select>
				</div>	
				<div style="margin-bottom: 10px;" class="cn-info" >
					<select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" name="province">
						<option value="" selected>{$Think.lang.province}*</option>
						<volist name="provinceList" id="vo">
						  	<option value="{$vo.code}">{$vo.display}</option>
						</volist>
					</select>
                </div>
                <div style="margin-bottom: 10px" class="cn-info">
                    <input name="city" value="{$data.city}"  class="am-form-field" placeholder="{$Think.lang.citytown}＊" />
				</div>
				<div style="margin-bottom: 10px" class="cn-info">
					<input name="postCode" value="{$data.postCode}"  class="am-form-field" placeholder="{$Think.lang.zipcode}" />
				</div>
				<div style="margin-bottom: 10px">
					<input name="address" value="{$data.address}"  class="am-form-field" placeholder="{$Think.lang.address}＊" />
				</div>
				<div class="am-form-group hk-info">
				  <label class="am-radio-inline">
				    <input type="radio" name="deliveryType" value="1"> {$Think.lang.deliveryToHome}
				  </label>
				  <label class="am-radio-inline">
				    <input type="radio" name="deliveryType" value="0"> {$Think.lang.pickAtStation}
				  </label>
				</div>
				<div style="margin-bottom: 10px">
					<input name="phone" value="{$data.phone}" class="am-form-field" placeholder="{$Think.lang.mobile}＊" />
				</div>
				<textarea name="moreDetails" id="moreDetails" value="{$data.moreDetails}" placeholder="{$Think.lang.moredetail}"></textarea>
			</div>
			<div class="am-form-group">
				<div style="margin-bottom: 10px">
					{$Think.lang.setaddresscheck}*	
				</div>
				<div style="margin-bottom: 10px">
					<input name="addressName" value="{$data.addressName}" class="am-form-field" placeholder="{$Think.lang.addressName}" />
				</div>
				<button id="delivery" type="submit" style="float: right; margin-top: 10px; width: 80px; height: 28px;background-color: black;border:0; color: white">
				    {$Think.lang.submit}
				</button>
			</div>
		</form>
	</div>
	<div style="clear: both;"></div>
</block>
<block name="customizedJavascript">
	<script type="text/javascript">
		$(".cart-step2").addClass("step-on");
		$("#cartlnk1").attr('href', "{:U('Starball/Cart/index')}");
		$("#cartlnk2").attr('href', "{:U('Starball/Cart/delivery')}");
		changeCountry($('#country').val());
		
		function changeCountry(countryCode){
			if(countryCode == 'cn'){
				$('#moreDetails').attr('placeholder', '更多细节');
				$('.cn-info').show();
				$('.hk-info').hide();
			}else if(countryCode == 'hk'){
				$('#moreDetails').attr('placeholder', '如選擇地鐵站交收，請您留下聯繫電話，我們會有專人和您聯絡商討送貨事宜。');
				$('.cn-info').hide();
				$('.hk-info').show();
			}else if(countryCode == 'none'){
				$('#moreDetails').attr('placeholder', '更多细节');
				$('.cn-info').hide();
				$('.hk-info').hide();				
			}
		}
	</script>
</block>