<extend name="Public/base" />
<block name="title"><title>我的购物袋</title></block>
<block name="customizedCss">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/cart.css">
</block>
<block name="main">
<gt name="shoppingListCount" value="0"><include file="Public/cartcommon" /></gt>
	
	<div class="yu-cart-content am-kai">
		<eq name="shoppingListCount" value="0">
			<div class="empty-cart">
				<div class='big-info-picto'></div></br>
				购物车还是空的！</br>您的购物车里没有任何商品。</br>
				<button onclick="window.location.href='{:U('Home/index')}'" style="width: 108px; height: 40px;margin:10px; background-color:black; color: white;border: 0;">继续购物</button>
			</div>
		<else/>
		<div class="cart-items am-u-md-8  am-padding-0">
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">1. 商品列表</div>
				<div class="am-panel-bd">
					<volist name="shoppingListItems" id="vo">
						<gt name="vo['quantity']" value="0">
						<div style="display: block; height:120px; position:relative">
							<a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}" class="cart-item-panier"> <img alt="{$vo.itemName}" src="{$vo.itemImage}?imageView2/1/w/120/h/120/q/100" class="cart-item-photo-adjustor"></a> 
							<span class="content-item-panier"> 
								<span class="title-item-panier">{$vo.brandName}</span> 
								<a href="{:U('Starball/Item/index','itemId='.$vo['itemId'])}"><span class="cart-sub-item-panier">{$vo.itemName}</span></a>
								<span class="cart-sub-item-panier">{$vo.itemColor}</span>
								<span class="cart-sub-item-panier" style="text-transform: none;"> 尺码： <span class="am-sans-serif">{$vo.sizeDescription}</span> </span> 
								<span>
									<button onclick="window.location.href='{:U('Cart/changeItemQuantity', array('changedQuantity'=>-1, 'itemId'=>$vo['itemId'],'itemSize'=>$vo['itemSize'],'changedPrice'=>-$vo['price']/$vo['quantity']))}'" 
										class="am-padding-0 delete" style="width: 24px;background-color:#f5f5f5;border:1px solid #ddd;">－</button>
									<span>{$vo.quantity}</span>
									<button onclick="window.location.href='{:U('Cart/changeItemQuantity', array('changedQuantity'=>1, 'itemId'=>$vo['itemId'],'itemSize'=>$vo['itemSize'],'changedPrice'=>$vo['price']/$vo['quantity']))}'" 
										class="am-padding-0 add" style="width: 24px;background-color:#f5f5f5;border:1px solid #ddd;">＋</button>
								</span>
							</span> 
							<div class="am-sans-serif yu-item-price"> <span> {$priceSymbol}&nbsp;{$vo.price} </span> </div> 
							<div style="position:absolute;top:0;right:0;">
							    <a style="color:black;" href="{:U('Cart/changeItemQuantity',array('changedQuantity'=>-$vo['quantity'], 'itemId'=>$vo['itemId'],'itemSize'=>$vo['itemSize'],'changedPrice'=>-$vo['price']))}" class="am-icon-close"></a>
							</div>
						</div>
						<div class="am-divider"></div>
						</gt>
					</volist>
					<div class="am-panel am-panel-default" style="margin-top:15px">
						<div class="am-panel-hd" style="font-size: 13px">
							<input type="checkbox" id="gift-card" value="" /><span style="margin-left: 10px">礼品包装与礼品卡信息</span><span style="float: right">{$priceSymbol}35</span><br/>
							
						</div>
						<div class="am-panel-bd" style="font-size: 12px">
							<textarea placeholder="请填写您的祝福" style="width: 100%;border: 1px solid #CECECE"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cart-others am-u-md-4" style="margin-top: 10px">
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">购物车({$shoppingList.totalItemCount})</div>
				<div class="am-panel-bd am-padding-0" style="font-size: 13px;">
					<div style="background-color:#F8F8F8;">
						<div style="width:100%; padding: 15px 15px 0px 15px"><span>我的购买记录</span><span style="float: right">{$priceSymbol}{$shoppingList.totalAmount}</span></div>
						<div style="width:100%; padding: 5px 15px 5px 15px"><span>运费</span><span style="float: right">0</span></div>
						<div style="width:100%; padding: 5px 15px 5px 15px"><span>礼品包装费用</span><span style="float: right">0</span></div>
						<div style="width:100%; padding: 0px 15px 15px 15px"><span>我的订单总额</span><span style="float: right">{$priceSymbol}{$shoppingList.totalAmount}</span></div>
					</div>
					<div style="width:100%; border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE;padding: 15px"><span style="font-size: 14px">支付总额</span><span style="font-size: 14px;float:right">{$priceSymbol}{$shoppingList.totalAmount}</span></div>
					<div style="width:100%;text-align: center;background-color:#F8F8F8"><button class="submit"  style="width: 90%; height: 40px;margin:10px; background-color:black; color: white;border: 0;">提交订单</button></div>
					<div style="clear: both"></div>
				</div>
			</div>
			<div ><input style="height: 27px" placeholder="优惠券" /><button style="float: right;background-color: #CECECE;border:0;color:white;">确认</button></div>
			<div class="am-panel am-panel-default" style="margin-top:15px">
				<div class="am-panel-hd"><icon class="am-icon-info"></icon> 关税</div>
				<div class="am-panel-bd" style="font-size: 13px">
					当您收取货物时，没有任何额外费用！
				</div>
			</div>
			<div class="am-panel am-panel-default" style="margin-top:15px">
				<div class="am-panel-hd">需要帮助吗？</div>
				<div class="am-panel-bd" style="font-size: 13px">
					<span class="am-icon-clock-o">查看我们的配送时间</span><br/>
					<span class="am-icon-black-tie">查看我们的退货政策</span>
				</div>
			</div>
		</div>
		</eq>
	</div>
	<div style="clear: both;"></div>
</block>
<block name="customizedJavascript">
	<script type="text/javascript">
		$(".cart-step1").addClass("step-on");
		$("#cartlnk1").attr('href', "{:U('Starball/Cart/index')}");
		$(".submit").click(function(){
			window.location.href="{:U('Starball/Cart/delivery')}?isGiftPackage="+$('#gift-card')[0].checked;
		});
	</script>
</block>