<extend name="Public/base" />
<block name="title"><title>我的购物袋</title></block>
<block name="main">
	<div class="am-tabs" data-am-tabs="{noSwipe: 1}" id="doc-tab-demo-1">
	  <ul class="am-tabs-nav am-nav am-nav-tabs">
	    <li class="am-active"><a href="javascript: void(0)"><span style="border:1px solid black;border-radius: 25px; font-size: 25px;">1</span>流浪</a></li>
	    <li><a href="javascript: void(0)">流浪</a></li>
	    <li><a href="javascript: void(0)">再流浪</a></li>
	  </ul>
	
	  <div class="am-tabs-bd">
	    <div class="am-tab-panel am-active">
	      ...
	    </div>
	    <div class="am-tab-panel">
	      ...
	    </div>
	    <div class="am-tab-panel">
	      ...
	    </div>
	  </div>
	</div>
</block>