<extend name="Public/base" />
<block name="title">
    <title>{$Think.lang.myfavorite}</title>
</block>
<block name="customizedCss">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/cart.css">
</block>
<block name="main">
    <div class="yu-cart-content am-kai am-show-md-up">
        <h3 style="margin-top:3%;">{$Think.lang.myfavorite}</h3>
        <div style="display: block; height:150px; position:relative">
            <a href="/starball/index.php/Starball/Item/index/itemId/-25.html" class="cart-item-panier"> <img alt="Graphic slubbed jersey T-shirt-25" src="http://7xr7p7.com2.z0.glb.qiniucdn.com/armani-junior--t-1446690839-p_z_151859_A.jpg?imageView2/1/w/150/h/150/q/100" class="yu-favorite-photo"> </a>
            <span class="yu-favorite-item-panier"> <span class="title-item-panier" style="font-size:16px;">ARMANI JUNIOR 阿玛尼少年</span> 
            <a href="/starball/index.php/Starball/Item/index/itemId/-25.html"> 
            <span class="cart-sub-item-panier">Graphic slubbed jersey T-shirt-25</span></a>
            <span class="cart-sub-item-panier" style="padding-bottom: 1%;">电光蓝</span>
             <span style="padding-bottom:1%;">
                 <select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" id="itemSize" onchange="changePrice($(this).val());" style="display: none;">
                        <option value="none" selected="">尺码</option>
                        <option value="-61">1个月  (54 - 54cm) - Ұ 133.56</option>
                        <option value="-62">3个月  (60 - 60cm) - Ұ 134.4</option>
                        <option value="-63">6个月  (67 - 67cm) - Ұ 135.24</option>
                    </select> 
             </span> 
             <span>
                 <button type="submit" class="am-btn yu-favorite-buy">
                   〉 添加到购物袋     
                 </button>
            </span> 
                    </span>
            <div class="am-sans-serif yu-item-price">
                <span> Ұ&nbsp;133.56 </span>
            </div>
            <div style="position:absolute;top:0;right:0;">
                <a style="color:black;" href="/starball/index.php/Starball/Cart/changeItemQuantity/changedQuantity/-1/itemId/-25/itemSize/-61/changedPrice/-133.56.html" class="am-icon-close"></a>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    </div>
    <div class="yu-cart-content am-kai am-show-sm-only">
        <p style="margin-top:3%;">{$Think.lang.myfavorite}</p>
        <div style="display: block; height:150px; position:relative">
            <a href="/starball/index.php/Starball/Item/index/itemId/-25.html" class="cart-item-panier"> <img alt="Graphic slubbed jersey T-shirt-25" src="http://7xr7p7.com2.z0.glb.qiniucdn.com/armani-junior--t-1446690839-p_z_151859_A.jpg?imageView2/1/w/150/h/150/q/100" class="yu-favorite-photo-sm"> </a>
            <span class="am-text-center yu-favorite-item-panier-sm"> <span class="title-item-panier" style="font-size:16px;">ARMANI JUNIOR 阿玛尼少年</span> 
            <a href="/starball/index.php/Starball/Item/index/itemId/-25.html"> 
            <span class="cart-sub-item-panier">Graphic slubbed jersey T-shirt-25</span></a>
            <span class="cart-sub-item-panier" style="padding-bottom: 1%;">电光蓝</span>
            <div class="am-sans-serif am-text-center" style="margin-bottom: 6%;margin-top:9%;">
                <span> Ұ&nbsp;133.56 </span>
            </div>
             <span style="padding-bottom:1%;">
                 <select data-am-selected="{btnWidth: '100%', btnSize: 'sm'}" id="itemSize" onchange="changePrice($(this).val());" style="display: none;">
                        <option value="none" selected="">尺码</option>
                        <option value="-61">1个月  (54 - 54cm) - Ұ 133.56</option>
                        <option value="-62">3个月  (60 - 60cm) - Ұ 134.4</option>
                        <option value="-63">6个月  (67 - 67cm) - Ұ 135.24</option>
                    </select> 
             </span> 
             <span>
                 <button type="submit" class="am-btn yu-favorite-buy">
                   〉 添加到购物袋     
                 </button>
            </span> 
                    </span>
            <div style="position:absolute;top:0;right:0;">
                <a style="color:black;" href="/starball/index.php/Starball/Cart/changeItemQuantity/changedQuantity/-1/itemId/-25/itemSize/-61/changedPrice/-133.56.html" class="am-icon-close am-icon-sm"></a>
            </div>
        </div>
        <hr data-am-widget="divider" style="" class="am-divider am-divider-default am-no-layout">
    </div>
</block>
