<extend name="Public/base" />
<block name="title"><title>付款页面</title></block>
<block name="main">
	<div class="am-g">
  <div class="am-u-sm-3"></div>
  <div class="am-u-sm-9">
  	<div>订单已经生成,订单号为  <strong>{$orderNumber}</strong></div>
  </br>
  	<div>
  		<input type="hidden" value="{$orderNumber}" id="orderNumber"/>
	<button type="button" class="am-btn am-btn-default" id="wxPay" onclick="">微信</button>
  	<button type="button" class="am-btn am-btn-default" >支付宝</button>
  	</div>
</div>
</div>

</block>
<block name="customizedJavascript">
	<script>
		$('#wxPay').click(function(){
			var orderNumber = $('#orderNumber').val();
			window.location.href='{:U("Payment/wx")}?orderNumber='+orderNumber;
		});
	</script>
</block>
