<extend name="Public/base" />
<block name="title"><title>{$Think.lang.myshoppinglist}  </title></block>
<block name="customizedCss">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/cart.css">
</block>
<block name="main">
	<include file="Public/cartcommon" />
	<form role="form" method="post" action="submitOrder">
	<div class="yu-cart-content am-kai">
		<div class="cart-items am-u-md-8  am-padding-0">
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">{$Think.lang.shippayinfo}</div>
				<div class="am-panel-bd">
						<div class="address">
							<h3>{$Think.lang.shippingaddress}</h3>
							<div style="width:100%; padding: 0px 0px 0px 0px"><span>{$addressInfo.addressName}</span></div>
							<div style="width:100%; padding: 0px 15px 0px 0px"><span>{$addressInfo.contactName}</span></div>
							<div style="width:100%; padding: 0px 15px 0px 0px"><span>{$addressInfo.address}</span></div>
							<div style="width:100%; padding: 0px 15px 0px 0px"><span>{$addressInfo.postCode} {$vo.city}</span></div>
							<div style="width:100%; padding: 0px 15px 0px 0px"><span>{$addressInfo.country}</span></div>
						</div>
				</div>
			</div>
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">{$Think.lang.paymode}</div>
				<div class="am-panel-bd">
  					<input type="hidden" value="{$orderNumber}" id="orderNumber"/>
					<button type="button" class="am-btn am-btn-default" 
					onclick="window.location.href='{:U('Payment/wx', array('orderNumber'=>$orderNumber,'channel'=>'WX', 'subChannel'=>'WX_NATIVE'))}'">{$Think.lang.wechat}</button>
					<button type="button" class="am-btn am-btn-default"
					onclick="$('#light2').show();$('#fade').show();window.open('{:U('Payment/aliPay', array('orderNumber'=>$orderNumber,'channel'=>'ALI', 'subChannel'=>'ALI_WEB'))}')">{$Think.lang.alipay}</button>
					<!--<button type="button" class="am-btn am-btn-default" onclick="$('#light2').show();$('#fade').show();">测试</button>-->
				</div>
			</div>
		</div>
		<div class="cart-others am-u-md-4" style="margin-top: 10px">
			<div class="am-panel am-panel-default">
				<div class="am-panel-hd">{$Think.lang.shoppingcart}({$shoppingList.totalItemCount})</div>
				<div class="am-panel-bd am-padding-0" style="font-size: 13px;">
					<div style="background-color:#F8F8F8;">
                        <div style="width:100%; padding: 15px 15px 0px 15px"><span>{$Think.lang.buyrecord}</span><span style="float: right">{$priceSymbol} <span id="totalAmount">{$shoppingList.totalAmount}</span></span></div>
                        <div style="width:100%; padding: 5px 15px 5px 15px"><span>{$Think.lang.shippingfee}</span><span style="float: right"><gt name="shoppingList['shippingFee']" value="0">{$priceSymbol}</gt> <span id="shippingFee">{$shoppingList.shippingFee}</span></span></div>
                        <div style="width:100%; padding: 5px 15px 5px 15px"><span>{$Think.lang.packagefee}</span><span style="float: right"><span id="giftPackageFee">{$shoppingList.giftPackageFee}</span></span></div>
                        <div style="width:100%; padding: 0px 15px 15px 15px"><span>{$Think.lang.ordertotal}</span><span style="float: right">{$priceSymbol} <span id="totalFee">{$shoppingList.totalFee}</span></span></div>
                    </div>
					<div style="width:100%; border-top: 1px solid #CECECE; border-bottom: 1px solid #CECECE;padding: 15px"><span style="font-size: 14px">{$Think.lang.totalpay}</span><span style="font-size: 14px;float:right">{$priceSymbol}{$shoppingList.totalAmount}</span></div>
					<div style="clear: both"></div>
				</div>
			</div>
			<div class="am-panel am-panel-default" style="margin-top:15px">
				<div class="am-panel-hd"><icon class="am-icon-info"></icon>{$Think.lang.tax}</div>
				<div class="am-panel-bd" style="font-size: 13px">
					{$Think.lang.noextra}
				</div>
			</div>
			<div class="am-panel am-panel-default" style="margin-top:15px">
                <div class="am-panel-hd">{$Think.lang.needhelp}</div>
                <div class="am-panel-bd" style="font-size: 13px">
                    <span class="am-icon-clock-o">{$Think.lang.Cshiptime}</span><br/>
                    <span class="am-icon-black-tie">{$Think.lang.CRpolicy}</span>
                </div>
            </div>
		</div>
	</div>
	</form>
	<div style="clear: both;"></div>
	<div id="light2" class="white_content">
		<p class="yu-account-title">
			正在支付...
		</p>
		<button onclick="window.location.href='{:U('User/orderinfo', array('orderNumber'=>$orderNumber))}'" class="am-btn am-btn-default black-button payfinish">
			已完成支付
		</button>
		<button type="button" class="am-btn am-btn-default black-button payproblem" onclick="$('#light2').hide();$('#fade').hide();">
			支付遇到问题
		</button>
		<div style="position:absolute;top:0;right:0;">
			<a href="#" style="color:black;" onclick="$(this).parent().parent().hide();$('#light2').hide();$('#fade').hide();checkPayresult()" class="am-icon-sm am-icon-close"></a>
		</div>
	</div>
	<div id="fade" class="black_overlay"></div>
</block>
<block name="customizedJavascript">
	<script>
		$(".cart-step3").addClass("step-on");
		$("#cartlnk1").attr('href', "{:U('Starball/Cart/index')}");
		$("#cartlnk2").attr('href', "{:U('Starball/Cart/delivery')}");
		
		function checkPayresult(){
			$.post('{:U("Payment/checkPayresult")}', {'orderNumber':$('#orderNumber').val()}, function(data){
				if(data.status == 1){
					window.location.href="{:U('Payment/paysuccess', array('orderNumber'=>$orderNumber))}";
				}			
			}, 'json');
		}
	</script>
</block>