<extend name="Public/base" />
<block name="title">
    <title>支付成功</title>
</block>
<block name="main">
    <div class="yu-account-container" style="margin-top: 39px;">
        <div class="am-g">
            <div class="am-u-lg-4 am-u-md-5 am-show-md-up am-u-sm-centered am-kai">
                <h3>支付成功</h3>
                <p class="am-text-xs">亲爱的用户，<br>您的订单已成功支付，订单号为1234567890</p>
                <button type="submit" class="am-btn am-btn-default yu-backhome-button">
                    返回首页
                </button>
            </div>
            <div class="am-u-sm-8 am-show-sm-only am-u-sm-centered am-kai" style="text-align:center; ">
                <h3>支付成功</h3>
                <p class="am-text-xs">亲爱的用户，<br>您的订单已成功支付，订单号为1234567890</p>
                <button type="submit" class="am-btn am-btn-default yu-backhome-button">
                    返回首页
                </button>
            </div>
        </div>
    </div>
</block>