<extend name="Public/base" />
<block name="title">
    <title>{$Think.lang.payok}</title>
</block>
<block name="customizedCss">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/cart.css">
</block>
<block name="main">
    <div class="yu-account-container" style="margin-top: 39px;">
        <div class="am-g">
            <div class="am-u-lg-4 am-u-md-5 am-show-md-up am-u-sm-centered am-kai">
                <h3>{$Think.lang.payok}</h3>
                <p class="am-text-xs">{$Think.lang.dearcus}，<br>{$Think.lang.oksuccess}{$orderNumber}</p>
                <button onclick="window.location.href='{:U('Home/index')}'" class="am-btn am-btn-default yu-backhome-button">
                    {$Think.lang.backhome}
                </button>
            </div>
            <div class="am-u-sm-8 am-show-sm-only am-u-sm-centered am-kai" style="text-align:center; ">
                <h3>{$Think.lang.payok}</h3>
                <p class="am-text-xs">{$Think.lang.dearcus}，<br>{$Think.lang.oksuccess}{$orderNumber}</p>
                <button onclick="window.location.href='{:U('Home/index')}'" class="am-btn am-btn-default yu-backhome-button">
                    {$Think.lang.backhome}
                </button>
            </div>
        </div>
    </div>
</block>