<extend name="Public/base" />
<block name="title"><title>{$Think.lang.myshoppinglist}</title></block>
<block name="customizedCss">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/starball/css/cart.css">
</block>
<block name="main">
	<include file="Public/cartcommon"/>
	<div class="am-g">
  	
    <div align="center" id="qrcode" >
    </div>
    <div align="center">
        <p>{$Think.lang.ordernum}：<strong>{$orderNumber}</strong></p>
        <p>{$Think.lang.payable}: <strong style="color:#FF0000">{$priceSymbol} {$totalFee}</strong></p>
        <p id="query-result"></p>
        <eq name="is_dev" value="true">
        	<button type="button" class="am-btn am-btn-default" id="wxPay" onclick="testFinishPayment()">{$Think.lang.testpaysuccess}</button>
        </eq>
    </div>
    <br>
	<input type="hidden" id="codeUrl" value="{$codeUrl}"/>  	
	<input type="hidden" id="orderNumber" value="{$orderNumber}"/>
	<input type="hidden" id="bill_no" value="{$bill_no}"/>
</div>

</block>
<block name="customizedJavascript">
    <script src="__PUBLIC__/Beecloud/Js/qrcode.js"></script>
    <script>
	$(".cart-step3").addClass("step-on");
	$(".a-cart-step1").attr('href', "{:U('Starball/Cart/index')}");
	$(".step-name-1").attr("style","color:#54db8a;");
	$('.step-num-1').addClass('step-num-done');
	$('.step-num-1').removeClass('step-num');
	$('.step-num-1').html('');	
	$('.step-num-sm-1').addClass('step-num-done-sm');
	$('.step-num-sm-1').removeClass('step-num');
	$('.step-num-sm-1').html('');
	
	$(".a-cart-step2").attr('href', "{:U('Starball/Cart/delivery')}");
	$(".step-name-2").attr("style","color:#54db8a;");
	$('.step-num-2').addClass('step-num-done');
	$('.step-num-2').removeClass('step-num');
	$('.step-num-2').html('');	
	$('.step-num-sm-2').addClass('step-num-done-sm');
	$('.step-num-sm-2').removeClass('step-num');
	$('.step-num-sm-2').html('');
	$(".a-cart-step3").attr('href', "{:U('Starball/Payment/index')}");
    var options = {text: $("#codeUrl").val()};
    //参数1表示图像大小，取值范围1-10；参数2表示质量，取值范围'L','M','Q','H'
    var canvas = BCUtil.createQrCode(options);
    var wording=document.createElement('p');
    wording.innerHTML = "扫描支付订单";
    var element=document.getElementById("qrcode");
    element.appendChild(wording);
    element.appendChild(canvas);
    var orderNumber = $("#orderNumber").val();
    setInterval("synchronous(orderNumber)", 1000); 

function synchronous() {
    var oAjax = new XMLHttpRequest();
    oAjax.open('POST', "__URL__/query", true);
    oAjax.setRequestHeader("Content-Type","application/x-www-form-urlencoded");

    oAjax.onreadystatechange = function () {
        if (oAjax.readyState==4)
        {
            var result = false;
            if (oAjax.status==200)
            {
                result = JSON.parse(oAjax.responseText);

                if (result && result.status == "1") {
                	window.location.href = '{:U("Payment/paysuccess")}?orderNumber='+orderNumber;
                    //document.getElementById("query-result").textContent = "支付成功";
                }

            } 
        }

    }
    oAjax.send("orderNumber=" + orderNumber);
} 

function testFinishPayment(){
    $.post('__URL__/testFinishPayment',{'itemId':$('#itemId').val(), 
    									'bill_no':$('#bill_no').val()},function(data){
    	if(data.status == 1){
    		alert("支付成功");
    	}
    },'json');
}
    </script>
</block>
