<html>
<head>
	<script>
		callpay();
    //调用微信JS api 支付
    function jsApiCall() {
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest',
            {$jsApiParam},
            function(res){
            	//get_brand_wcpay_request:ok=>支付成功
            	if(res.err_msg == 'get_brand_wcpay_request:ok'){
					window.open("{:U('Payment/paysuccess', array('orderNumber'=>$orderNumber))}");
            	}else{
	                window.open("{:U('Payment/index', array('orderNumber'=>$orderNumber))}");
            	}
                WeixinJSBridge.log(res.err_msg);
//                alert(res.err_code+res.err_desc+res.err_msg);
            }
        );
    }
    function callpay() {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
	</script>
</head>
<body>
	
</body>
	
</html>